<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Articles Policy</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 25px;
            line-height: 1.2em;
        }

        @page {
            padding-top: 100px;
            padding-bottom: 25px;
            margin-bottom: 25px;
            margin-top: 50px;
        }

        .container {
            width: 95%;
            padding: 10px;
        }

        .heading {
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            justify-content: center;
            padding-bottom: 20px;
        }

        .section {
            margin-bottom: 20px;
        }

        .section-title {
            font-weight: bold;
            font-size: 1.1em;
            margin-bottom: 10px;
        }

        .content {
            display: block;
            padding-bottom: 150px;
            ;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="section">
            
            <div class="heading">ARKANSAS SURPLUS LINES NOTICE
</div>
            <div class="content">
                This contract is registered and delivered as a surplus line coverage under the Surplus Lines Insurance Law, and it may in some respects be different from contracts issued by insurers in the admitted markets, and, accordingly, it may, depending upon the circumstances, be more or less favorable to an insured than a contract from an admitted carrier might be. The protection of the Arkansas Property and Casualty Guaranty Act does not apply to this contract. A tax of four percent (4%) is required to be collected from the insured on all surplus lines premiums.
            
        </div>

    </div>
</body>

</html>