<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Articles Policy</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 25px;
            line-height: 1.2em;
        }

        @page {
            padding-top: 100px;
            padding-bottom: 25px;
            margin-bottom: 25px;
            margin-top: 50px;
        }

        .container {
            width: 95%;
            padding: 10px;
        }

        .heading {
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            justify-content: center;
            padding-bottom: 20px;
        }

        .section {
            margin-bottom: 20px;
        }

        .section-title {
            font-weight: bold;
            font-size: 1.1em;
            margin-bottom: 10px;
        }

        .content {
            display: block;
            padding-bottom: 150px;
            ;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="section">
            
            <div class="heading">CALIFORNIA SURPLUS LINES NOTICE
</div>
            <div class="content">
                NOTICE:<br>
                1. THE INSURANCE POLICY THAT YOU [HAVE PURCHASED] [ARE APPLYING TO PURCHASE] IS BEING ISSUED BY AN INSURER THAT IS NOT LICENSED BY THE STATE OF CALIFORNIA. THESE COMPANIES ARE CALLED “NONADMITTED” OR “SURPLUS LINE” INSURERS.
                <br>
                2. THE INSURER IS NOT SUBJECT TO THE FINANCIAL SOLVENCY REGULATION AND ENFORCEMENT THAT APPLY TO CALIFORNIA LICENSED INSURERS.
                <br>
                3. THE INSURER DOES NOT PARTICIPATE IN ANY OF THE INSURANCE GUARANTEE FUNDS CREATED BY CALIFORNIA LAW. THEREFORE, THESE FUNDS WILL NOT PAY YOUR CLAIMS OR PROTECT YOUR ASSETS IF THE INSURER BECOMES INSOLVENT AND IS UNABLE TO MAKE PAYMENTS AS PROMISED.
                <br>
                4. THE INSURER SHOULD BE LICENSED EITHER AS A FOREIGN INSURER IN ANOTHER STATE IN THE UNITED STATES OR AS A NON-UNITED STATES (ALIEN) INSURER. YOU SHOULD ASK QUESTIONS OF YOUR INSURANCE AGENT, BROKER, OR “SURPLUS LINE” BROKER OR CONTACT THE CALIFORNIA DEPARTMENT OF INSURANCE AT THE FOLLOWING TOLL-FREE TELEPHONE NUMBER ____ OR INTERNET WEB SITE WWW.INSURANCE.CA.GOV. ASK WHETHER OR NOT THE INSURER IS LICENSED AS A FOREIGN OR NON-UNITED STATES (ALIEN) INSURER AND FOR ADDITIONAL INFORMATION ABOUT THE INSURER. YOU MAY ALSO CONTACT THE NAIC'S INTERNET WEB SITE AT WWW.NAIC.ORG.
                <br>
                5. FOREIGN INSURERS SHOULD BE LICENSED BY A STATE IN THE UNITED STATES AND YOU MAY CONTACT THAT STATE'S DEPARTMENT OF INSURANCE TO OBTAIN MORE INFORMATION ABOUT THAT INSURER.
                <br>
                6. FOR NON-UNITED STATES (ALIEN) INSURERS, THE INSURER SHOULD BE LICENSED BY A COUNTRY OUTSIDE OF THE UNITED STATES AND SHOULD BE ON THE NAIC'S INTERNATIONAL INSURERS DEPARTMENT (IID) LISTING OF APPROVED NONADMITTED NON-UNITED STATES INSURERS. ASK YOUR AGENT, BROKER, OR “SURPLUS LINE” BROKER TO OBTAIN MORE INFORMATION ABOUT THAT INSURER.
                <br>
                7. CALIFORNIA MAINTAINS A LIST OF APPROVED SURPLUS LINE INSURERS. ASK YOUR AGENT OR BROKER IF THE INSURER IS ON THAT LIST, OR VIEW THAT LIST AT THE INTERNET WEB SITE OF THE CALIFORNIA DEPARTMENT OF INSURANCE: WWW.INSURANCE.CA.GOV.
                <br>
                8. IF YOU, AS THE APPLICANT, REQUIRED THAT THE INSURANCE POLICY YOU HAVE PURCHASED BE BOUND IMMEDIATELY, EITHER BECAUSE EXISTING COVERAGE WAS GOING TO LAPSE WITHIN TWO BUSINESS DAYS OR BECAUSE YOU WERE REQUIRED TO HAVE COVERAGE WITHIN TWO BUSINESS DAYS, AND YOU DID NOT RECEIVE THIS DISCLOSURE FORM AND A REQUEST FOR YOUR SIGNATURE UNTIL AFTER COVERAGE BECAME EFFECTIVE, YOU HAVE THE RIGHT TO CANCEL THIS POLICY WITHIN FIVE DAYS OF RECEIVING THIS DISCLOSURE. IF YOU CANCEL COVERAGE, THE PREMIUM WILL BE PRORATED AND ANY BROKER'S FEE CHARGED FOR THIS INSURANCE WILL BE RETURNED TO YOU.
        </div>

    </div>
</body>

</html>