<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida Mi Mascota GNP</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: #f9f9f9;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 40px;
            background: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .header {
            text-align: center;
            margin-bottom: 40px;
        }

        .header img {
            max-width: 150px;
        }

        .section {
            margin-bottom: 30px;
        }

        .section-title {
            font-size: 24px;
            font-weight: bold;
            color: #004080;
            /* Dark blue */
            margin-bottom: 15px;
        }

        .highlight {
            color: #ff8000;
            /* Orange */
            font-weight: bold;
        }

        p {
            margin: 10px 0;
            font-size: 16px;
            line-height: 1.5;
        }

        ul.info-list {
            list-style-type: none;
            padding-left: 0;
            font-size: 16px;
        }

        ul.info-list li {
            margin-bottom: 10px;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            margin: 20px 0;
            color: #fff;
            background-color: #004080;
            /* Dark blue */
            text-decoration: none;
            border-radius: 5px;
            font-size: 16px;
        }

        .button.orange {
            background-color: #ff8000;
            /* Orange */
        }

        .footer {
            text-align: center;
            margin-top: 40px;
            font-size: 14px;
            line-height: 1.5;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <img src="https://logowik.com/content/uploads/images/gnp-seguros7977.logowik.com.webp"
                alt="GNP Seguros Logo">
        </div>

        <div class="section">
            <div class="section-title" style="display: flex;justify-content: center;">¡Te damos la más cordial
                bienvenida!</div>
            <p>Apreciable Asegurado:</p>
            <p>Te recordamos que con tu Seguro Mi mascota GNP estás respaldado por una de las compañías más sólidas
                del sector asegurador mexicano por su amplia experiencia protegiendo la vida, la salud y el patrimonio
                de
                millones de nuestros clientes quienes, como tú, nos han privilegiado con su confianza.</p>
        </div>

        <div class="section">
            <div class="section-title">Ahora que tu mascota se encuentra protegida, te pedimos:</div>
            <ul class="info-list">
                <li><b>Descargues</b> los documentos.</li>
                <li><b>Verifiques</b> los datos de tu mascota y la vigencia de la Póliza.</li>
                <li><b>Revises a detalle</b> la Póliza, los Derechos básicos del Asegurado y las <b>Condiciones
                        Generales</b>
                    del
                    seguro,
                    pues es importante que los conozcas.</li>
                <li><b>Consultes la guía de registro</b> de tu mascota para que puedas realizar la captura de
                    información
                    durante
                    los <b>primeros 30 días de vigencia</b> de la Póliza.</li>
            </ul>
        </div>

        <div class="section">
            <p>Adicional, no olvides registrarte en las plataformas digitales que tenemos para ti y consultar
                información sobre
                tu Seguro en cualquier momento:</p>
        </div>

        <div class="section" style="justify-content: center;">
            Nos mantenemos a tus órdenes las 24 horas, los 365 días del año, a través de nuestra línea única de atención
            a clientes:
        </div>

        <div class="section" style="padding-top: 20px;">
            Cordialmente, <br />
            GNP Seguros
        </div>

    </div>
</body>

</html>