<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Articles Policy</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 13px;
            padding: 10px;
            line-height: 1.2em;
        }

        @page {
            padding-top: 55px;
            padding-bottom: 25px;
            margin-bottom: 25px;
            margin-top: 50px;
        }

        .page {
            min-height: 98%;
            max-height: 98%;
        }

        .container {
            width: 95%;
            padding: 10px;
        }

        p {
            display: block;
            padding-left: 15px;
        }

        .heading {
            font-weight: bold;
            font-size: 15px;
            text-align: center;
            justify-content: center;
        }

        table {
            padding-left: 20px;
            font-weight: bold;
            max-width: 90%;
            min-width: 90%;
        }

        ol {
            padding-bottom: 10px;
            margin-left: -20px;
        }

        .section {
            margin-bottom: 20px;
        }

        .section-title {
            font-weight: bold;
            font-size: 1.1em;
            margin-bottom: 10px;
        }

        .sub-section {
            margin-left: 10px;
            margin-bottom: 10px;
        }

        .sub-section-title {
            font-weight: bold;
        }

        .content {
            margin-left: 0px;
        }

        .signature {
            display: flex;
            margin-top: 50px;
        }

        .signature-line {
            width: 200px;
            margin: 20px auto;
            border-bottom: 1px solid #000;
        }

        .footer {
            margin-top: 100px;
            font-size: 12px;
            padding-bottom: 250px;
        }
    </style>
</head>

<body>
    <div class="container" style="padding-bottom: 750px;">

        <div class="page">
            <div class="heading" style="padding-top: 75px; padding-bottom: 20px;">
                <p>Personal Articles Policy</p>
                <p>Table of Contents</p>
                <p>READ YOUR POLICY CAREFULLY.</p>
                <p style="font-size: 14px;">An index to the important provisions of your policy is provided below.</p>
            </div>
            <table style="padding-bottom: 675px;">
                <tr>
                    <td>INSURING AGREEMENT</td>
                    <td style=" justify-content: right;">2</td>
                </tr>
                <tr>
                    <td>DEFINITIONS</td>
                    <td style="justify-content: right;">2</td>
                </tr>
                <tr>
                    <td>GENERAL CONDITIONS</td>
                    <td style="justify-content: right;">2</td>
                </tr>
                <tr>
                    <td>GENERAL EXCLUSIONS</td>
                    <td style="justify-content: right;">5</td>
                </tr>
                <tr>
                    <td>COVERAGE</td>
                    <td style="justify-content: right;">5</td>
                </tr>
            </table>
        </div>


        <div class="section">
            <div class="section-title">INSURING AGREEMENT</div>
            <div class="content">
                <p>In return for the premium payment and compliance with all applicable provisions of this policy and
                    any endorsements, we agree to provide the insurance coverage as shown on the Declarations Page which
                    is part of this policy.</p>
                <p>By accepting this policy, you agree that the statements on the Declarations Page and any application
                    are your agreements and representations. This policy is issued in reliance upon the truth of your
                    representations during the application process and it includes all agreements existing between you
                    and us or any of our representatives. Any application, whether written or electronic, is a part of
                    this policy.</p>
            </div>
        </div>



        <div class="section">
            <div class="section-title">DEFINITIONS</div>
            <div class="content">
                <p>Throughout this policy, most words and phrases that have special meanings appear in <b>bold</b>. Only
                    the
                    pronouns “we”, “our”, “us”, “you”, and “your” are defined but do not appear in <b>bold</b>. This
                    section
                    defines some of the more general terms used in this policy.</p>
                <ol>
                    <li>
                        <p> <b>You and your</b> refer to the
                            Named Insured shown on the
                            Declarations Page and the Named
                            Insured’s spouse if
                            the person physically lives with you in your household on a regular basis. The term
                            spouse
                            includes a domestic partner or party to a civil union with the Named Insured shown on
                            the
                            Declarations Page when the civil union is established under the laws of your state.</p>
                    </li>
                    <li>
                        <p>The words we, us, and our, refer to the
                            company, shown on the Declarations Page, which is providing this insurance.
                        </p>
                    </li>
                    <li>
                        <p><b>Personal article</b> means item(s) shown on
                            the
                            Declarations Page under Scheduled Personal Article(s). If the <b>personal article</b> is
                            a gift
                            or engagement ring, the name of the individual who has possession of the <b>personal
                                article</b> must be listed on the Declarations Page under the Named Insured and
                            Address
                            section.
                        </p>
                    </li>
                    <li>
                        <p><b>Service plans</b> include, but are not
                            limited to,
                            service agreements, extended warranty plans, and product protection plans.
                        </p>
                    </li>
                </ol>
            </div>
        </div>




        <div class="section">
            <div class="section-title">GENERAL CONDITIONS</div>
            <div class="content">
                <ol>
                    <li>
                        <p>
                            Policy Period/Territory <br /> <br />
                            This policy only applies to loss which occurs during the policy period as shown on the
                            Declarations Page. Coverage extends to loss which occurs anywhere in the world.
                        </p>
                    </li>

                    <li>
                        <p>
                            Misrepresentation or Fraud <br /> <br />
                            All insurance provided by this policy will be null and void if you, at any time, either
                            intentionally conceal or misrepresent any fact, regardless of materiality, or if you
                            misrepresent or conceal any material fact regardless of intent. No action or inaction by us
                            will be deemed a waiver of this provision.
                        </p>
                    </li>

                    <li>
                        <p>
                            Notice of Cancellation<br /> <br />
                            You may cancel this coverage by returning it to us or our authorized agent, or by advising
                            us or our authorized agent in writing, stating the future date you want the policy to be
                            cancelled.<br /> <br />
                            We may cancel this coverage by delivering or mailing notice of cancellation to the first
                            named ‘Insured’ at the last address shown in our records at least: <br /> <br />

                        <ol type="a">
                            <li>
                                <p>
                                    ten (10) days before the cancellation takes effect if:
                                </p>

                                <ol type="i">
                                    <li>
                                        <p>
                                            the cancellation is for nonpayment of premium; or
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            this policy has been in effect for less than sixty (60) days and is not a
                                            renewal policy.
                                        </p>
                                    </li>
                                </ol>
                            </li>

                            <li style="margin-top: -10px;">
                                <p>thirty (30) days before the cancellation takes effect in all other cases.</p>
                            </li>
                        </ol>

                        <div style="margin-top: -10px;">
                            After this policy has been in effect for sixty (60) days, or if this is a renewal policy, we
                            will cancel only:
                        </div>

                        <ol type="a">
                            <li>
                                <p>For nonpayment of premium due;</p>
                            </li>
                            <li>
                                <p>for misrepresentation or fraud;</p>
                            </li>
                            <li>
                                <p>for substantial breach of your duties under this policy;</p>
                            </li>
                            <li>
                                <p>if the risk changed substantially since the policy was issued; or</p>
                            </li>
                            <li>
                                <p>for failure to comply with our underwriting requirements within 60 days of the term
                                    effective date.</p>
                            </li>
                        </ol>

                        <div style="margin-top: -10px;">
                            Proof of mailing of this notice to you will be sufficient proof that notice of cancellation
                            was given. The date of the cancellation stated in the notice will become the end of the
                            policy period.
                            <br /> <br />
                            This policy will terminate without any written notice and all premiums will be deemed fully
                            earned by us when we pay for loss of the personal article.
                        </div>

                        </p>
                    </li>

                    <li>
                        <p>
                            Return Premium <br /> <br />
                            The premium on this policy shall be fully earned and no return premium will be due to the
                            Insured if the policy is canceled by either you or us.
                        </p>
                    </li>

                    <li>
                        <p>
                            Conformity to Statute <br /> <br />
                            Any provision of this policy that conflicts with applicable law or regulation is hereby
                            amended to conform to the minimum requirements of the law or regulation.
                        </p>
                    </li>

                    <li>
                        <p>
                            Policy Changes<br /> <br />
                            No change or waiver may be effected in this policy except by endorsement issued by us. If a
                            premium adjustment is necessary, we will make the adjustment as of the effective date of the
                            change.<br />
                            When we broaden coverage during the policy period, without charge, the policy will
                            automatically provide the broadened coverage when effective in your state.
                        </p>
                    </li>

                    <li>
                        <p>Legal Action Against Us</p>
                        <ol type="a">
                            <li>
                                <p>No suit or action may be brought against us unless there has been full compliance
                                    with all terms of this policy.
                                </p>
                            </li>
                            <li>
                                <p>No suit or action may be brought against us unless the action is brought within 12
                                    months after the date you first have knowledge of the loss.
                                </p>
                            </li>
                        </ol>
                    </li>

                    <li>
                        <p>
                            No Benefits to Others <br /> <br />
                            No person or organization, which has custody of the personal article and is to be paid for
                            services, will benefit from this insurance.
                        </p>
                    </li>

                    <li>
                        <p>
                            Right of Recovery <br /> <br />
                            You may have the right to recover from another party who is responsible for your loss. If we
                            pay your loss under this policy, this right of recovery will belong to us up to the amount
                            that we have paid you. You or anyone acting on your behalf must not do anything to impair
                            our right of recovery. <br />
                            In the event of a recovery, any personal article paid for by us will become our property.
                            You must notify us or we must notify you as soon as reasonably practical if either receives
                            a recovery for a loss we have settled.
                        </p>
                    </li>

                    <li>
                        <p>
                            General Duties Following a Loss <br /> <br />
                            You must report immediately to us or our authorized agent any loss which may be covered
                            under this policy. This report should give full details about when and where the loss
                            occurred, how it happened and the name and address of all the people involved including all
                            witnesses. You are required to immediately notify the authorities of any theft of your
                            <b>personal article</b>. <br /> <br />
                            After requested by us, you must file within ninety (90) days thereof, with us or our
                            authorized agent, a written statement about the details of the loss. This statement must be
                            signed and sworn by you and must include:

                        <ol type="a">
                            <li>
                                <p>
                                    the date, time, place and details of the loss. If loss is due to theft, a police
                                    report must be provided;
                                </p>
                            </li>
                            <li>
                                <p>
                                    other insurance or <b>service plans</b> that may cover the loss;
                                </p>
                            </li>
                            <li>
                                <p>
                                    your interest and the interest of all others in the <b>personal article</b> involved
                                    in the loss, including all liens and encumbrances;
                                </p>
                            </li>
                            <li>
                                <p>
                                    changes in the title of the <b>personal article</b> during the policy period; and
                                </p>
                            </li>
                            <li>
                                <p>
                                    an inventory of the lost <b>personal article</b>. This must show in detail the
                                    quantity, description, cost of the <b>personal article</b> and the amount of the
                                    loss. Copies of all bills, receipts, appraisals and related documents that
                                    substantiate the inventory must be attached.
                                </p>
                            </li>
                        </ol>

                        <div>
                            You, as often as we may reasonably require, will:
                        </div>

                        <ol type="a">
                            <li>
                                <p>
                                    submit and subscribe to examinations under oath by any person named by us. If more
                                    than one person is examined, we have the right to examine and receive statements
                                    separately from each person and not in the presence of others; and
                                </p>
                            </li>
                            <li>
                                <p>
                                    produce for examination and permit extracts and copies of all books of account,
                                    bills, invoices, other vouchers and any other tangible items related to the claimed
                                    loss, or certified copies thereof if the originals are lost, at such reasonable time
                                    and place as may be designated by us or our representative.
                                </p>
                            </li>
                        </ol>

                        <div style="margin-top: -10px;">
                            You must cooperate with us in the investigation or settlement of any loss.<br /> <br />
                            If you do not comply with these general duties, no coverage for the loss will be provided.
                        </div>

                        </p>
                    </li>

                    <li>
                        <p>
                            Other Insurance <br /> <br />
                            If there is other applicable insurance we will pay only our share of the loss. Our share is
                            the percent that the limit of insurance this policy bears to the total of all insurance
                            applicable to the loss.<br /> <br />
                            If there is a service plan, we will pay excess the amount due from the service plan but not
                            more than the applicable limit provided by this policy.
                        </p>
                    </li>

                    <li>
                        <p>
                            Nonrenewal <br /> <br />
                            If we decide not to renew your coverage, we or our authorized representative will mail or
                            deliver to the first Named Insured at the address shown on the Declarations Page, written
                            notice of nonrenewal. The written notice will be mailed to the first named insured at least
                            thirty (30) days before the end of the policy term. If we decide not to renew your policy,
                            our mailing of notice to the address of the first named insured shown on the Declarations
                            Page will constitute proof of notice as of the date we mail it.
                        </p>
                    </li>

                    <li>
                        <p>
                            Salvage and Abandonment<br /> <br />
                            If we pay for the loss of personal article, we reserve the right to take possession of any
                            remains if we elect. At our request, you will transfer the ownership of the property to us
                            or to a salvage buyer appointed by us. Any recovery or salvage on a loss will accrue
                            entirely to our benefit until the sum paid by us has been made up. <br /> <br />
                            We are not obligated to accept any property you abandon, nor are we obligated to pay any
                            storage fees incurred because you abandoned any property to any other person or
                            organization.
                        </p>
                    </li>
                </ol>
            </div>
        </div>





        <div class="section">
            <div class="section-title">GENERAL EXCLUSIONS</div>
            <div class="content">
                <p>No coverage is provided under this policy for loss caused by resulting from or arising out of:</p>
                <ol>
                    <li>
                        <p>Extended Radioactive Contamination</p>
                    </li>
                    <ol type="a">
                        <li>
                            <p>
                                Ionizing radiations from or contamination by radioactivity from any nuclear fuel or from
                                any
                                nuclear waste or from the combustion of nuclear fuel;
                            </p>
                        </li>

                        <li>
                            <p>
                                The radioactive toxic explosive or other hazardous or contaminating properties of any
                                nuclear installation reactor or other nuclear assembly or nuclear component thereof;
                            </p>
                        </li>

                        <li>
                            <p>
                                Any weapon or device employing atomic or nuclear fission and/or fusion or other like
                                reaction or radioactive force or matter; or
                            </p>
                        </li>

                        <li>
                            <p>
                                The radioactive toxic explosive or other hazardous or contaminating properties of any
                                radioactive matter. The exclusion in this sub-clause does not extend to radioactive
                                isotopes
                                other than nuclear fuel when such isotopes are being prepared, carried, stored or used
                                for
                                commercial agricultural, medical, scientific or other similar peaceful purpose.
                            </p>
                        </li>
                    </ol>

                    <div>
                        However if a fire arises directly or indirectly from one or more of the above causes in item a,
                        b, and d, then any loss arising directly from that fire will subject to the provisions of this
                        policy be covered. No coverage is provided for any loss caused by resulting from or arising out
                        of nuclear reaction, nuclear radiation or radioactive contamination arising directly or
                        indirectly from that fire.
                    </div>

                    <li>
                        <p>
                            War or any warlike operation. This includes declared and undeclared wars, civil wars,
                            revolutions or any civil unrest.
                        </p>
                    </li>
                    <li>
                        <p>
                            Delay, confiscation, nationalization or detention by Customs or other government or public
                            authority.
                        </p>
                    </li>
                    <li>
                        <p>
                            Any willful or intentional misconduct or criminal act on the part of:
                        </p>
                        <ol type="a">
                            <li>
                                <p>you;</p>
                            </li>
                            <li>
                                <p>anyone acting on your behalf; or</p>
                            </li>
                            <li>
                                <p>any person, firm, corporation or legal entity possessing the personal article with
                                    your
                                    prior permission.
                                </p>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <p>Civil Authority.</p>
                        <ol type="a">
                            <li>
                                <p>Seizure or destruction under quarantine or customs regulations;</p>
                            </li>
                            <li>
                                <p>Confiscation or destruction by order of a government or public authority; or</p>
                            </li>
                            <li>
                                <p>Risks of contraband or illegal transportation or trade.</p>
                            </li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>





        <div class="section">
            <div class="section-title">COVERAGE</div>
            <div class="content">
                <div style="font-style: italic; padding-bottom: 10px;">Coverage</div>
                <div>We will cover:</div>
                <ol>
                    <li>
                        <p>Theft of the <b>personal article</b>; and</p>
                    </li>
                    <li>
                        <p>Sudden accidental direct physical loss of the <b>personal article</b>.</p>
                    </li>
                </ol>

                <div style="font-style: italic; padding-bottom: 10px;">What We Pay</div>
                <div>The amount we will for loss under this policy will be the applicable scheduled limit for the
                    <b>personal article</b> shown on the Declarations Page.
                </div>

                <div style="font-style: italic; padding-bottom: 10px; padding-top: 15px;">Loss to a Pair, Set, or Part
                </div>
                <div>If there is a loss to personal article that is part of a pair or set, or consists of several
                    components when complete, the amount we pay will be the scheduled limit for the personal article on
                    the Declarations Page. <br /> <br />

                    You agree to turn over to us the remaining parts of the pair or set, or complete item.
                </div>

                <div style="font-style: italic; padding-bottom: 10px; padding-top: 15px;">Exclusions</div>
                <div>We will not pay for loss caused by, to, or resulting from:

                    <ol>
                        <li>
                            <p>wear and tear and wet or dry rot;</p>
                        </li>
                        <li>
                            <p>vermin, rodents, or insects;</p>
                        </li>
                        <li>
                            <p>abandonment by you or anyone using the <b>personal article</b> with your permission;</p>
                        </li>
                        <li>
                            <p>diminution of value;</p>
                        </li>
                        <li>
                            <p>repair or maintenance work;</p>
                        </li>
                        <li>
                            <p>contraband or property in the course of illegal transportation or trade;</p>
                        </li>
                        <li>
                            <p>gradual deterioration, inherent vice, or any quality, fault, or weakness that is
                                intrinsic to the <b>personal article</b> that causes it to damage or destroy itself;</p>
                        </li>
                        <li>
                            <p>mysterious, or unexplained disappearance;</p>
                        </li>
                        <li>
                            <p>Your voluntary parting with title to or possession of any personal article because of:
                            <ol type="a">
                                <li>
                                    <p>
                                        the acceptance of:
                                    <ol type="i">
                                        <li>
                                            <p>counterfeit money or fraudulent money orders;</p>
                                        </li>
                                        <li>
                                            <p>checks or promissory notes which are not paid upon presentation;</p>
                                        </li>
                                        <li>
                                            <p>credit cards that are illegally obtained and/or used; or</p>
                                        </li>
                                    </ol>
                                    </p>
                                </li>
                                <li>
                                    <p>any other fraudulent scheme, trick or false pretense.</p>
                                </li>
                            </ol>
                            </p>
                        </li>
                    </ol>
                </div>

                <div style="font-style: italic; padding-bottom: 10px;">Payment of Loss</div>
                <div>We will pay losses within thirty (30) days after a proof of loss is accepted by us and we reach
                    agreement with you. <br /> <br />
                    This Policy is signed at the Home Office of the company by its president and secretary.

                </div>
            </div>
        </div>
    </div>


    <div class="container" style="padding-bottom: 300px;">
        <h2 style="padding-top: 100px; justify-content: center; text-align: center;">SIGNATURE PAGE</h2>
        <p>The Company has caused this policy to be signed by its President and Secretary but this policy shall not be
            valid unless signed by an authorized representative of the Company where required.</p>
        <p>AM Specialty Insurance Company</p>


        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" width="100%" viewBox="0 0 2398 346" enable-background="new 0 0 2398 346"
            xml:space="preserve">
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="4.000000" d="
M1164.500000,253.499985 
	C1157.166626,253.833328 1149.747803,254.937378 1142.540283,254.137512 
	C1139.466064,253.796356 1136.833862,254.631760 1133.999878,254.630096 
	C894.666687,254.489166 655.333313,254.500000 416.000000,254.500000 
	C405.333344,254.500000 394.666138,254.564850 384.000153,254.480988 
	C374.166107,254.403671 364.328003,253.893219 354.501678,254.085663 
	C346.501984,254.242325 338.512360,253.660736 330.488403,254.368378 
	C324.714661,254.877594 318.807678,253.755203 313.007294,254.116943 
	C307.328430,254.471100 301.331970,254.522079 296.062347,253.937714 
	C287.938171,253.036819 279.886322,256.561859 272.000000,253.500000 
	C269.429962,256.071259 266.390381,253.387665 263.436523,254.292892 
	C260.043427,255.332687 256.239258,254.006470 252.484756,254.313812 
	C244.869125,254.937225 237.166672,254.500000 229.500000,254.500000 
	C218.333328,254.500000 207.166672,254.500000 196.000000,254.500000 
	C188.166672,254.500000 180.333328,254.500000 172.500000,254.500000 
	C165.833328,254.500000 159.166672,254.500000 152.500000,254.500000 
	C135.500000,254.500000 118.500000,254.500000 101.500000,254.500000 
	C83.833336,254.500000 66.166656,254.506866 48.500004,254.493179 
	C45.587353,254.490921 42.716610,254.742737 39.964752,253.057556 
	C36.242558,250.778107 33.328247,255.480270 29.478380,254.593903 
	C26.081680,253.811874 22.500000,253.833328 19.000000,253.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M2371.500000,254.000000 
	C2363.661621,254.072830 2355.842041,254.360916 2347.989990,253.605011 
	C2342.375244,253.064499 2336.664551,253.592758 2331.000977,253.462448 
	C2327.990234,253.393158 2324.984619,253.889008 2321.963623,252.584412 
	C2318.561279,251.115280 2315.029541,253.163956 2311.511230,253.297394 
	C2304.165771,253.575943 2296.803467,252.675125 2289.507568,253.562469 
	C2285.753174,254.019089 2282.305664,251.548737 2278.483154,252.953995 
	C2274.895264,254.272873 2271.166748,252.985336 2267.500000,252.985977 
	C2166.166748,253.003464 2064.833252,253.008728 1963.500000,252.978607 
	C1957.333374,252.976776 1951.141724,252.242218 1945.005981,252.601837 
	C1936.315796,253.111176 1927.605469,252.340805 1919.023315,252.875244 
	C1914.030884,253.186172 1908.758789,253.314423 1904.027588,253.034531 
	C1896.842651,252.609497 1889.651489,254.722565 1882.455566,252.654419 
	C1879.728760,251.870697 1876.500122,252.976425 1873.500000,252.978516 
	C1828.833374,253.009613 1784.166626,253.000000 1739.500000,253.000000 
	C1648.333374,253.000000 1557.166260,253.113449 1466.000610,252.808380 
	C1457.720581,252.780670 1449.219116,253.914017 1440.996704,251.511414 
	C1440.689575,251.421661 1440.277344,251.385223 1440.008057,251.516602 
	C1431.874146,255.483994 1423.322510,252.573944 1414.995239,252.864273 
	C1400.845825,253.357620 1386.666260,253.063232 1372.500122,252.979660 
	C1361.499512,252.914749 1350.500000,252.665298 1339.500000,252.501892 
	C1338.239624,252.483170 1336.916748,252.707886 1336.000000,251.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="6.000000" d="
M2227.500000,106.000000 
	C2225.189453,108.090988 2221.877686,107.321060 2219.647705,108.327309 
	C2216.153564,109.903908 2212.533447,110.877319 2208.971680,111.901886 
	C2199.796387,114.541328 2190.562988,117.225548 2181.625244,120.357300 
	C2173.409668,123.235931 2165.022949,125.910393 2156.938232,129.354919 
	C2148.380371,133.001114 2139.265381,135.316589 2130.518555,138.550323 
	C2121.317139,141.952194 2111.992432,144.984573 2102.875488,148.694199 
	C2096.403564,151.327560 2089.689453,153.814621 2083.101807,156.272629 
	C2071.149414,160.732025 2058.898682,164.492279 2047.429443,170.362091 
	C2038.279053,175.045197 2028.571167,178.681107 2018.980713,182.450943 
	C2008.615112,186.525528 1998.397583,190.862717 1988.475952,195.953033 
	C1976.076050,202.314835 1963.668823,208.713501 1950.941162,214.367554 
	C1942.338867,218.188934 1933.992798,222.535660 1925.405029,226.282364 
	C1918.371338,229.351044 1910.517578,230.569336 1902.992920,232.471817 
	C1899.004761,233.480148 1895.841064,231.056427 1892.500000,229.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M1749.500000,138.000000 
	C1753.901001,135.009521 1758.289185,132.017426 1762.824829,129.216431 
	C1767.171265,126.532341 1771.492188,123.377548 1775.511108,120.013222 
	C1776.514771,119.172974 1777.019897,118.117889 1776.449341,117.026489 
	C1775.783081,115.752258 1774.528564,115.140411 1773.000366,115.501717 
	C1766.731567,116.983772 1761.222656,120.234840 1755.494507,122.988533 
	C1743.570190,128.720947 1731.482056,134.016022 1719.072510,138.692535 
	C1711.179321,141.667068 1703.644531,145.859055 1695.890991,149.250763 
	C1688.836792,152.336578 1682.181641,156.235367 1674.999634,158.999191 
	C1666.072144,162.434723 1657.312622,166.185669 1648.940918,170.894943 
	C1645.540649,172.807663 1641.569336,173.701340 1637.969482,175.436783 
	C1626.551880,180.941040 1614.970703,186.104538 1603.508911,191.518723 
	C1593.466553,196.262375 1583.500000,201.166641 1573.500000,205.999969 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M1576.500000,117.500000 
	C1576.482544,118.912102 1576.282715,119.980751 1578.530273,119.075157 
	C1584.135376,116.816666 1590.266235,116.511932 1596.068359,114.721687 
	C1599.872803,113.547813 1604.362305,114.202934 1608.489868,114.604492 
	C1611.239014,114.871956 1612.119263,119.654015 1609.975098,122.481117 
	C1604.179565,130.122955 1598.944092,138.068802 1590.633789,143.697464 
	C1583.731567,148.372299 1577.750244,154.459412 1571.027344,159.536179 
	C1561.097290,167.034882 1552.247559,175.901489 1541.980469,182.971649 
	C1527.056519,193.248703 1512.063599,203.429153 1496.965088,213.447418 
	C1491.761719,216.900040 1486.760742,220.636139 1481.584961,224.126053 
	C1471.309204,231.054794 1460.448853,237.053970 1450.297485,244.212784 
	C1447.252075,246.360336 1443.338501,247.225067 1441.500000,251.000000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M1795.000000,159.000000 
	C1789.332520,161.614975 1785.683594,166.690903 1781.045898,170.555130 
	C1772.881592,177.357925 1764.603271,184.104568 1757.116455,191.616074 
	C1750.228882,198.526321 1745.014160,206.938339 1739.566040,215.044357 
	C1737.496460,218.123230 1740.451782,223.168320 1744.477905,225.047470 
	C1751.479736,228.315628 1758.448853,226.966232 1765.502319,225.511383 
	C1779.397339,222.645370 1792.239868,216.960175 1805.050415,211.110306 
	C1806.498291,210.449036 1807.079712,209.746338 1807.500000,208.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M1430.000000,254.000000 
	C1429.117432,256.871552 1428.881714,259.225006 1424.603271,260.381836 
	C1419.498657,261.761963 1414.997192,265.770630 1410.544189,269.059784 
	C1405.326050,272.914093 1399.684937,276.022797 1393.967651,278.936615 
	C1379.938232,286.086609 1366.711304,294.658722 1352.640015,301.776764 
	C1346.867920,304.696655 1341.053345,308.586548 1335.292236,311.005249 
	C1326.351074,314.759094 1318.463379,320.867340 1308.554810,322.783630 
	C1304.055542,323.653778 1299.432007,325.624054 1294.977905,327.445892 
	C1286.990234,330.712952 1278.533325,331.702423 1270.006714,330.926544 
	C1261.098999,330.115967 1256.626709,320.432709 1260.382812,312.444885 
	C1264.917114,302.802551 1272.637085,296.104523 1280.014771,289.015381 
	C1290.193970,279.234222 1301.706055,271.171753 1313.509766,263.515045 
	C1317.720703,260.783539 1322.272949,258.532379 1325.505371,254.504303 
	C1325.798584,254.138824 1326.136841,253.580246 1326.504395,253.536896 
	C1336.889893,252.312073 1343.390747,243.722427 1352.454346,239.892105 
	C1362.399658,235.689194 1371.760864,230.168823 1381.351929,225.213516 
	C1385.227051,223.211380 1389.396851,220.693741 1393.214966,218.978577 
	C1398.506836,216.601318 1403.323364,213.058914 1408.996704,211.488083 
	C1411.779297,210.717651 1414.227539,209.432037 1416.579956,207.602875 
	C1419.065430,205.670380 1422.769531,206.341171 1425.504395,204.506592 
	C1431.485596,200.494461 1438.008667,197.728363 1444.977051,195.912094 
	C1445.648682,195.737061 1446.000000,194.333359 1446.500000,193.500015 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M197.500000,155.000000 
	C201.589767,155.679550 204.609070,153.356812 206.370270,150.422150 
	C209.899902,144.540848 215.866501,141.243454 220.232117,136.200958 
	C227.976608,127.255745 237.062729,119.578293 243.224228,109.132256 
	C245.295578,105.620552 248.603256,102.546150 250.994156,98.996063 
	C254.507706,93.779083 257.489410,88.239723 259.931091,82.470833 
	C261.965485,77.664200 261.668884,72.417450 260.388733,67.529137 
	C258.862244,61.699986 254.962234,61.189713 249.417358,63.280865 
	C243.708572,65.433838 238.546326,67.808167 233.911438,71.899681 
	C228.840073,76.376495 225.399353,81.781059 221.887802,87.430260 
	C212.999680,101.728981 208.095764,117.741447 201.708771,133.086899 
	C199.007629,139.576691 197.011963,146.629852 196.890060,153.998184 
	C196.829559,157.655685 196.287277,161.095978 191.065964,162.288757 
	C187.391373,163.128204 184.267014,166.578217 181.013184,169.017578 
	C173.164810,174.901474 164.885422,180.231293 157.143997,186.187164 
	C148.725113,192.664261 139.189758,197.096603 130.409225,202.861740 
	C119.236801,210.197311 106.893639,215.410919 94.584473,220.696716 
	C86.324684,224.243622 77.660172,226.986389 69.901596,231.842789 
	C67.010864,233.652191 62.925346,233.186661 59.476643,234.435501 
	C51.550350,237.305710 43.223228,239.240540 35.632790,242.784409 
	C32.485355,244.253906 29.712341,244.931091 26.500000,245.000000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M598.000000,144.250000 
	C594.294495,145.875748 590.338074,144.513168 587.074402,143.700958 
	C580.654907,142.103394 574.572815,143.965210 568.530884,144.414871 
	C564.016113,144.750870 559.068787,144.090164 554.367554,146.767395 
	C549.066833,149.785965 543.917664,152.498657 540.459595,157.723251 
	C539.456482,159.238754 538.979858,160.732468 538.990173,162.500061 
	C539.067322,175.729294 543.826843,186.237656 555.387634,193.674667 
	C559.510254,196.326767 563.764832,198.614197 568.000000,201.000000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M1576.000000,119.500000 
	C1568.890747,120.568947 1562.623291,124.064880 1556.023926,126.563171 
	C1546.098755,130.320572 1536.318970,134.465118 1526.504150,138.510162 
	C1517.317993,142.296097 1508.190552,146.224899 1498.992920,149.982758 
	C1490.784058,153.336563 1482.319824,155.737091 1473.521118,157.132919 
	C1470.788696,157.566406 1468.119629,157.417496 1466.071777,156.360870 
	C1460.151367,153.306107 1459.224731,148.955261 1463.579712,143.564407 
	C1469.206787,136.598602 1474.786377,129.506714 1482.000000,124.000000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M1613.000000,62.500000 
	C1612.114502,59.843834 1610.473877,58.863426 1607.498901,58.893475 
	C1602.308960,58.945904 1597.248169,60.435280 1592.612671,61.865200 
	C1586.232178,63.833397 1579.880859,66.398071 1573.454590,68.350510 
	C1565.596680,70.737946 1558.835815,75.181595 1551.545166,78.596321 
	C1545.527832,81.414589 1539.894043,84.989418 1534.341797,88.767494 
	C1530.462524,91.407234 1525.435425,92.471451 1521.469849,95.459991 
	C1518.116089,97.987396 1514.558716,100.260979 1510.988647,102.481728 
	C1501.535645,108.361954 1492.591187,114.933876 1484.000000,122.000000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M1324.000000,255.000000 
	C1321.967285,253.281357 1319.629395,252.943680 1316.999878,252.951920 
	C1291.500122,253.031967 1265.998901,253.121948 1240.500854,252.901382 
	C1235.133789,252.854965 1229.833740,253.345337 1224.500000,253.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M193.500000,162.500000 
	C195.045364,165.080505 194.812164,167.514313 194.182190,170.537964 
	C192.437668,178.911087 189.935211,187.059860 185.827896,194.403748 
	C181.794403,201.615662 177.005920,207.960342 167.593460,210.365723 
	C159.077026,212.542099 150.809204,214.010925 142.575089,211.729019 
	C138.211807,210.519836 132.808411,209.758774 130.000000,205.000000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M1806.500000,144.500000 
	C1806.081665,148.770538 1801.233154,149.563675 1799.488770,149.614304 
	C1791.650757,149.841705 1786.249268,154.915802 1780.104614,158.195999 
	C1774.852051,160.999939 1769.128784,162.506805 1763.864014,165.237854 
	C1761.747437,166.335785 1758.559570,167.195770 1756.670776,168.293823 
	C1744.180420,175.554916 1730.883301,181.180145 1717.860474,187.198090 
	C1707.920532,191.791473 1697.462158,195.887268 1686.499756,197.998947 
	C1683.233887,198.628036 1680.202271,196.995514 1677.000000,197.000000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M1929.000000,185.000000 
	C1924.955444,183.588593 1921.454590,184.973358 1917.990723,186.984039 
	C1905.861328,194.024841 1893.107788,199.907761 1880.794189,206.622665 
	C1873.902466,210.381012 1866.283447,213.928726 1858.440430,215.742477 
	C1855.317993,216.464600 1852.222412,217.570633 1849.006958,218.046844 
	C1847.768311,218.230286 1846.125488,218.458801 1846.500000,220.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M736.500000,205.500000 
	C733.941589,206.508652 732.353516,204.462723 730.523071,203.457947 
	C725.287048,200.583847 719.336426,198.956909 714.976807,194.522781 
	C713.733643,193.258331 711.400269,193.520615 710.609253,194.139603 
	C708.144531,196.068161 705.223389,196.472702 702.565979,197.649078 
	C693.356995,201.725723 683.856873,204.380997 674.078247,206.814453 
	C663.258179,209.507126 652.295044,209.265991 641.508850,211.053314 
	C627.104309,213.440216 613.136597,209.987411 598.991089,208.590286 
	C592.074829,207.907181 585.543213,206.150421 578.957581,204.138794 
	C576.288391,203.323486 573.108765,204.358505 570.468140,202.546387 
	C570.205994,202.366470 569.327454,202.681488 569.026550,203.023392 
	C565.890991,206.586380 562.021423,207.024124 557.487549,206.651108 
	C554.235718,206.383560 550.652954,205.362732 547.500000,207.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M1748.750000,138.000000 
	C1743.662354,141.326736 1739.132324,145.481964 1733.507690,148.017151 
	C1725.964355,151.417114 1719.798462,156.977554 1713.090332,161.630234 
	C1702.254272,169.145798 1691.930786,177.411804 1681.545776,185.558380 
	C1678.743652,187.756516 1676.500000,190.666702 1674.000000,193.250031 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M880.500000,168.500000 
	C878.728821,168.556458 876.594055,167.928101 876.014832,170.503342 
	C875.045654,174.811966 870.925476,176.437927 868.425110,179.437592 
	C867.423035,180.639893 865.713318,180.126663 863.969727,178.661697 
	C866.665833,175.073029 866.305664,170.373718 868.778015,166.363174 
	C870.043701,164.310074 869.472961,160.730301 868.883789,158.025314 
	C868.096741,154.412308 864.459717,154.049149 862.075012,155.160889 
	C856.684204,157.674072 850.423462,159.044846 846.554810,164.042419 
	C842.639648,169.100037 838.419250,174.154663 835.775208,179.877167 
	C834.141052,183.414108 833.275574,187.907440 833.167969,192.004410 
	C833.063599,195.979599 837.398804,196.157928 840.040771,196.842651 
	C844.549805,198.011246 850.228394,194.738480 852.454773,190.476395 
	C852.737732,189.934845 852.920044,189.728409 853.478882,189.456573 
	C858.161804,187.178757 860.909119,182.909134 864.000000,179.000000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M1614.000000,62.750000 
	C1608.534180,72.900116 1598.776733,78.738426 1589.788208,84.679489 
	C1581.320068,90.276459 1572.830444,96.062325 1563.661011,100.810997 
	C1555.303955,105.139046 1547.624268,110.936470 1539.002197,115.004631 
	C1530.617798,118.960709 1523.475342,125.070908 1514.812988,128.652405 
	C1511.184204,130.152756 1508.250000,133.333298 1505.000000,135.749969 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M959.500000,165.500000 
	C956.604919,167.221390 955.444092,170.058319 953.821350,172.897919 
	C948.683716,181.888321 943.802002,191.480194 934.437500,196.891846 
	C925.117432,202.277771 914.668762,195.064529 913.964172,183.502182 
	C913.229736,171.448944 919.112427,162.313339 926.500000,153.750000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M243.500000,125.500000 
	C237.434265,136.379303 232.425278,147.798264 226.751266,158.878662 
	C222.287048,167.596558 217.291931,176.400925 215.953125,186.493774 
	C215.686798,188.501511 214.464539,190.337143 215.439560,192.526917 
	C215.811157,193.361450 215.925217,195.007050 215.432861,195.419952 
	C211.423248,198.782486 212.917465,203.983612 211.000000,208.000000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M625.000000,123.000000 
	C632.435120,126.902351 639.141174,122.991997 645.975708,120.919952 
	C646.962524,120.620796 647.931580,118.866066 648.949158,119.573143 
	C653.077881,122.441940 656.210510,120.315643 659.558960,118.088615 
	C660.143188,117.700005 661.530701,116.873634 662.493774,118.005280 
	C664.695740,120.592735 667.847656,119.358109 670.468628,120.109406 
	C677.214722,122.043175 684.252563,121.569283 691.101807,123.667793 
	C697.624512,125.666283 703.456665,128.659363 709.530151,131.434006 
	C719.042786,135.779816 724.679138,143.554214 728.901367,152.546326 
	C730.244690,155.407150 731.726379,158.474197 731.107422,162.018768 
	C730.928833,163.041504 731.346497,164.986862 733.500000,164.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M1722.500000,290.000000 
	C1721.585205,289.635712 1720.389771,289.556274 1720.023682,288.491852 
	C1718.356567,283.643372 1714.551636,282.670410 1710.003784,282.428436 
	C1706.531494,282.243744 1702.074341,284.439728 1700.999878,287.499969 
	C1699.772827,290.995300 1701.645630,294.967285 1705.516724,296.456665 
	C1708.264038,297.513702 1711.121704,298.418152 1714.011597,298.935028 
	C1717.466919,299.553040 1719.792725,301.389862 1720.938110,304.522614 
	C1721.676025,306.540344 1718.093140,312.937012 1716.000000,313.999969 
	C1711.643188,316.212463 1702.017944,312.915894 1700.025024,308.488770 
	C1699.837769,308.072998 1700.000000,307.500000 1700.000000,307.000000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M663.000000,118.000000 
	C666.458435,112.155899 673.496826,111.092255 678.109375,106.612595 
	C683.083191,101.781921 689.252502,98.419029 691.682739,91.060349 
	C693.396423,85.871284 693.524963,80.570099 689.462769,77.042847 
	C685.090210,73.246094 679.772461,71.947540 674.008850,71.405960 
	C663.121643,70.382927 652.268250,71.188309 641.522034,72.227875 
	C633.779846,72.976814 625.790527,74.424744 619.008362,79.012383 
	C615.020020,81.710243 614.953796,82.771362 617.987793,86.011452 
	C621.374451,89.628181 624.682983,93.318901 627.967407,97.028854 
	C628.215576,97.309166 628.000000,98.000000 628.000000,98.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M644.000000,156.000000 
	C657.527588,160.856857 670.571411,166.957886 682.863159,174.231247 
	C691.858398,179.553986 700.414917,185.723389 709.468872,191.052841 
	C710.204529,191.485855 710.500000,192.666656 711.000000,193.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M1885.500000,173.500000 
	C1882.303711,178.046249 1876.880981,179.734756 1872.887939,183.377151 
	C1866.610107,189.103592 1859.473511,193.805099 1853.305298,199.799713 
	C1850.077271,202.936890 1847.302368,206.474869 1843.986816,209.485535 
	C1838.565063,214.409012 1838.645630,215.429321 1845.003784,218.492065 
	C1845.474731,218.718994 1846.000000,218.833313 1846.500000,218.999985 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M580.500000,297.500000 
	C577.520264,298.012878 576.326172,295.482483 574.490479,294.011871 
	C572.140869,292.129639 569.378845,292.519257 567.049316,293.605774 
	C564.785034,294.661804 564.390686,297.423523 565.113159,299.459839 
	C566.343750,302.928345 569.887329,303.527802 573.010864,303.911835 
	C575.889038,304.265717 578.076538,305.631348 578.839050,308.050720 
	C579.408203,309.856720 579.994324,313.344513 577.460815,313.762360 
	C574.691406,314.219147 572.411133,318.327545 568.947998,315.055054 
	C567.054077,313.265350 564.441162,312.225525 563.500000,309.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M506.000000,168.000000 
	C500.390411,178.528946 493.104340,187.762161 484.529938,196.031036 
	C483.045471,197.462585 481.196808,198.659378 479.573517,197.852158 
	C477.740631,196.940720 476.350861,195.197098 476.412598,192.498001 
	C476.538208,187.004684 476.344940,181.484436 475.867249,176.011581 
	C475.756042,174.737167 476.308075,173.485626 476.621399,173.098175 
	C480.234528,168.630310 480.936035,162.892365 483.500000,158.000000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M901.500000,130.750000 
	C898.425293,131.505249 899.402039,134.686279 898.059143,136.542786 
	C891.146057,146.099625 888.302307,157.854156 881.535583,167.524887 
	C880.494202,169.013092 882.367432,170.599670 881.631348,172.549591 
	C880.184998,176.381088 879.625427,180.537415 878.447998,184.484482 
	C877.843262,186.511658 877.870300,188.525101 878.051941,190.495209 
	C878.649780,196.977142 880.498535,197.571915 886.548096,195.118668 
	C892.559998,192.680710 897.995605,189.641159 902.482971,184.983627 
	C903.891846,183.521347 905.895386,183.457397 907.500000,182.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M763.000000,152.000000 
	C758.133118,155.466507 757.182068,161.468292 753.938660,165.955643 
	C750.521057,170.683975 751.262573,176.425552 749.416626,181.469498 
	C748.393555,184.264893 749.175415,186.785675 751.109192,187.789642 
	C752.975952,188.758774 755.667297,188.118820 757.541504,186.037384 
	C759.647400,183.698807 762.225159,181.918839 765.500000,181.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M1832.500000,88.500000 
	C1822.981323,93.128716 1813.411743,97.658173 1803.897095,102.288490 
	C1799.170288,104.588821 1794.110352,106.426659 1789.554810,109.093567 
	C1785.885376,111.241608 1782.351318,113.292313 1778.001099,113.520432 
	C1776.543091,113.596893 1776.400391,114.953690 1776.000000,116.000000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M963.500000,154.500000 
	C960.522644,159.576004 957.888184,164.663055 963.000000,170.000000 
	C961.742493,177.005295 968.683838,182.545395 966.224731,190.073410 
	C965.124329,193.441956 968.880188,195.290604 971.987732,196.530685 
	C975.863464,198.077316 979.866760,198.905533 984.000427,198.974380 
	C989.998779,199.074280 996.002563,199.103989 1001.998901,198.955093 
	C1004.893860,198.883194 1007.458679,199.290649 1009.500000,201.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M1931.000000,182.000000 
	C1928.187744,191.736420 1920.039551,197.150558 1913.856079,204.307663 
	C1908.815063,210.142548 1901.825317,214.904785 1899.455444,222.986938 
	C1898.618164,225.842331 1894.637817,226.321732 1894.000000,229.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M386.000000,184.500000 
	C384.132782,187.650589 381.975800,189.934265 378.123810,191.339371 
	C375.725433,192.214233 372.961060,194.341782 370.855011,196.879700 
	C367.033875,201.484512 360.913971,202.306519 355.468262,203.890945 
	C352.733398,204.686630 349.130249,201.453415 349.075623,198.498596 
	C349.032593,196.172226 348.954193,193.351868 350.141174,191.595398 
	C353.041779,187.302979 356.641571,183.478760 360.006531,179.505539 
	C363.978760,174.815338 368.024506,170.186996 371.950531,165.458923 
	C372.244171,165.105286 371.833313,164.166672 371.750000,163.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M598.500000,142.500000 
	C597.588257,145.078384 599.313293,145.057526 600.999756,144.993958 
	C609.988342,144.655075 617.991760,147.631058 626.100586,151.276245 
	C631.277344,153.603378 637.077332,155.254669 643.000000,155.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M614.000000,295.500000 
	C612.666687,295.000000 611.298218,294.576782 610.006409,293.986023 
	C605.600281,291.971039 601.586792,294.030518 599.903137,298.463226 
	C598.381104,302.470703 599.145203,306.132324 599.938721,310.012543 
	C600.435913,312.443878 601.541870,313.614777 603.986755,314.070923 
	C605.838074,314.416321 607.181824,317.829803 609.572205,314.552643 
	C610.622070,313.113220 613.194580,314.704163 614.500000,313.000000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M469.000000,178.500000 
	C465.629669,188.462997 456.450104,192.729736 448.841461,198.282761 
	C446.017273,200.343887 441.342834,200.679520 437.526276,199.875290 
	C434.043274,199.141342 434.491943,195.320938 434.654083,193.010818 
	C435.360107,182.952438 437.103668,173.077866 443.548096,164.787384 
	C443.839569,164.412415 444.833344,164.583328 445.500000,164.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M324.500000,162.500000 
	C320.091095,163.666794 319.638153,167.966141 319.235229,171.030930 
	C318.438293,177.092834 318.149292,183.481155 319.189453,189.467072 
	C320.971283,199.721130 328.238678,201.505905 336.518097,198.550735 
	C340.837067,197.009155 344.088989,193.141663 349.000000,193.000000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M652.500000,129.500000 
	C648.653442,137.662262 646.775879,146.481796 643.918335,154.972504 
	C641.127197,163.265564 637.942261,171.458374 634.329041,179.422440 
	C633.269348,181.758102 632.009583,184.001312 631.542603,186.507935 
	C630.813232,190.422791 629.355347,194.023163 627.500000,197.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M800.000000,163.500000 
	C795.589844,168.470291 791.167419,173.357437 787.226074,178.801712 
	C783.920105,183.368347 778.173767,186.118805 772.501709,188.005234 
	C770.602539,188.636871 769.081482,188.034531 768.020935,186.485672 
	C766.115234,183.702850 764.644409,180.106171 767.152283,177.655884 
	C770.391724,174.490829 771.284241,169.988754 774.500000,167.000000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M233.500000,172.500000 
	C233.245453,167.283340 236.482300,163.357513 239.160950,159.615204 
	C242.516144,154.927673 245.185516,149.433838 250.086395,146.128082 
	C252.383362,144.578690 255.026001,141.367264 258.449493,144.064117 
	C259.853821,145.170380 260.735809,147.080170 260.461426,148.994476 
	C259.742432,154.010849 259.145844,159.077164 257.934204,163.983749 
	C255.492401,173.872025 252.460693,183.592178 254.925278,194.017670 
	C255.988434,198.514923 259.383575,199.993149 263.558838,198.131989 
	C267.992493,196.155624 271.372559,192.716507 275.886200,190.740112 
	C280.606354,188.673325 282.708893,183.375381 284.500000,178.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M803.000000,162.000000 
	C805.094849,164.066849 805.355835,167.056534 806.650085,169.417740 
	C811.005310,177.363297 817.799561,182.268036 826.397278,185.753387 
	C834.857178,189.182861 843.446899,188.505005 852.000000,189.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M493.000000,299.500000 
	C497.058105,301.190460 501.373749,300.774719 505.485626,300.358124 
	C509.386658,299.962891 511.042542,296.170624 511.833038,292.958893 
	C512.663574,289.584351 510.331299,286.978668 507.516602,284.976654 
	C503.081390,281.822021 498.258606,283.001160 493.505554,283.548309 
	C492.333344,283.683258 491.885468,284.781128 491.390839,285.953949 
	C490.793549,287.370178 491.357697,288.705292 490.983521,289.995209 
	C489.771210,294.174652 492.670441,298.093414 491.235596,302.575409 
	C490.074097,306.203583 491.000000,310.500000 491.000000,314.502869 
	C492.166656,315.535950 493.333344,314.908600 494.500000,314.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M1852.000000,302.500000 
	C1848.053955,302.136292 1844.258301,302.271606 1840.456787,303.899170 
	C1837.926025,304.982758 1836.895264,306.334320 1836.958740,309.000977 
	C1837.025757,311.823212 1838.635620,313.338257 1841.012573,313.951019 
	C1845.463013,315.098267 1849.184082,312.620056 1852.944702,310.880402 
	C1853.663696,310.547699 1854.105347,308.590149 1853.917725,307.514313 
	C1853.358276,304.307678 1853.274658,301.230011 1853.895386,297.980011 
	C1854.396240,295.357147 1851.970093,293.510864 1849.972046,293.158081 
	C1845.922974,292.443115 1841.344604,291.204712 1838.498413,295.999084 
	C1838.006592,296.827576 1837.183105,296.399323 1836.500000,296.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M303.000000,139.500000 
	C302.426544,147.460251 298.366638,154.402039 296.355560,161.961578 
	C294.494537,168.957108 290.583923,175.322098 290.848938,183.005203 
	C290.951416,185.976120 288.470154,188.809265 288.552429,191.998642 
	C288.615326,194.435913 288.599945,197.056122 290.515198,198.984894 
	C292.313080,200.795456 293.782623,201.693878 296.604401,199.643677 
	C301.392975,196.164444 306.065826,192.921341 309.130768,187.574966 
	C310.544861,185.108261 312.810883,182.744156 316.000000,182.000000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="6.000000" d="
M668.500000,315.500000 
	C668.500000,310.166656 668.536804,304.833008 668.489929,299.500092 
	C668.440430,293.866547 665.551208,292.202240 660.463684,294.416595 
	C658.520142,295.262543 656.166687,295.166687 654.000000,295.500031 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M429.500000,188.500000 
	C427.819519,187.444733 426.678101,188.238739 425.480286,189.480988 
	C422.372314,192.704254 419.218903,195.887970 415.983215,198.982437 
	C413.462036,201.393555 409.633636,202.008743 407.945435,205.080475 
	C401.933929,203.994385 403.713776,198.735886 402.000000,195.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M523.000000,172.500000 
	C526.163635,174.930954 525.485474,178.985260 526.209351,182.068253 
	C528.417236,191.471786 534.338135,197.853989 540.972900,204.029083 
	C542.880798,205.804703 545.994995,203.946365 547.500000,206.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M1739.500000,292.500000 
	C1741.828125,293.848907 1745.730103,291.529602 1746.828613,295.053406 
	C1747.349243,296.723022 1747.977173,298.610199 1748.048706,300.502808 
	C1745.523315,303.020721 1742.432739,301.983398 1739.500366,302.026794 
	C1736.998535,302.063812 1734.500000,302.333344 1732.000000,302.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M1816.500000,310.500000 
	C1814.345947,309.037964 1813.346313,311.494019 1812.071289,312.140594 
	C1803.306396,316.585083 1799.342529,313.518127 1798.148071,306.474884 
	C1797.607788,303.289764 1798.225952,299.708832 1799.122314,296.534546 
	C1800.040894,293.282013 1804.296997,292.482758 1810.006592,292.912048 
	C1815.398682,293.317505 1813.879150,297.636139 1815.331543,300.712402 
	C1809.866455,303.131409 1804.335083,301.518158 1799.000000,302.000000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M731.500000,165.000000 
	C731.597778,174.388245 726.453857,181.014587 720.022827,187.024445 
	C717.916931,188.992401 715.423523,190.778702 715.000000,194.000000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M554.000000,301.250000 
	C555.697510,296.146118 551.345886,294.882324 548.441040,293.095886 
	C545.769287,291.452759 541.443604,293.950745 537.002686,298.999115 
	C536.900757,300.699738 537.671448,302.109528 538.500000,303.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M627.000000,303.500000 
	C630.494812,303.774994 633.971924,303.105621 637.524292,303.890076 
	C640.588074,304.566620 642.787476,302.980988 643.000183,299.500244 
	C635.161133,290.592804 632.838806,290.592804 624.870605,299.647034 
	C625.630798,301.833344 626.067871,303.861938 625.222351,306.569458 
	C623.859436,310.933807 628.263000,312.774628 631.049438,314.936279 
	C633.132080,316.551941 635.772217,316.889160 637.968201,314.963684 
	C639.890564,313.278107 641.762329,311.762817 644.500000,312.000000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M1739.000000,291.000000 
	C1739.402344,292.735626 1737.939941,292.872467 1736.995850,292.948395 
	C1733.491943,293.230255 1732.198608,295.128326 1731.329834,298.455566 
	C1730.616211,301.188385 1730.454590,303.974854 1730.671387,306.485199 
	C1731.265625,313.365295 1740.100464,316.782074 1745.468994,312.461548 
	C1747.009155,311.222015 1748.215820,309.598175 1750.500000,310.000000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M682.000000,284.500000 
	C680.239990,288.381104 681.167969,292.492279 681.033020,296.501099 
	C680.887268,300.829559 680.969482,305.166931 681.007385,309.499939 
	C681.059509,315.453003 683.025574,316.748718 688.500000,314.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M548.500000,304.500000 
	C546.873230,302.301483 541.687378,301.636444 539.027527,303.538513 
	C536.663025,305.229401 536.734558,307.336731 537.896179,310.044556 
	C539.514038,313.816101 543.155762,315.648132 545.997925,315.631989 
	C549.271423,315.613403 553.329224,313.840790 554.500000,309.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M1766.000000,291.000000 
	C1766.578613,292.475586 1765.066162,292.914886 1764.499756,292.916199 
	C1759.697876,292.927307 1758.365845,296.343658 1757.556763,300.012512 
	C1756.864868,303.149658 1756.933594,306.508301 1758.090820,309.464447 
	C1759.712524,313.607666 1763.304443,314.204895 1767.502319,314.127411 
	C1771.638916,314.051086 1772.429199,311.028442 1773.964722,308.478760 
	C1774.067749,308.307800 1773.666748,307.833282 1773.500122,307.499939 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M104.000000,181.500000 
	C108.528442,188.249374 114.747665,193.467377 120.715958,198.756302 
	C122.402733,200.251068 123.165489,202.334503 125.000000,203.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="3.000000" d="
M762.500000,147.500000 
	C762.500000,148.333328 762.154114,149.423126 762.552856,149.960831 
	C767.181946,156.203934 765.567078,163.144791 765.044556,170.003403 
	C764.904114,171.846985 764.452148,173.887482 766.000000,175.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M1865.000000,306.500000 
	C1866.294800,304.769226 1865.994141,302.959412 1865.541260,300.990509 
	C1864.486328,296.403839 1866.402466,293.724670 1871.000000,293.000000 
	C1877.624756,291.955811 1878.702148,293.073364 1881.156616,299.439606 
	C1882.549072,303.050659 1882.437134,307.306885 1886.372559,310.174957 
	C1889.851562,312.710388 1886.833740,320.983978 1881.999268,323.498596 
	C1881.338135,323.842468 1880.666626,324.166656 1880.000000,324.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="6.000000" d="
M407.500000,159.500000 
	C406.743195,167.925583 405.659973,176.290756 403.571045,184.518036 
	C403.137115,186.227081 402.776611,187.916321 402.000000,189.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M135.500000,180.500000 
	C132.207413,180.797455 129.178741,179.320908 126.039268,178.774414 
	C120.819008,177.865707 115.671524,178.257141 110.499779,178.004471 
	C109.834702,177.971970 108.767540,177.731628 108.559959,178.040314 
	C105.518066,182.564209 101.400772,180.620926 97.500000,180.000000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M521.500000,172.000000 
	C517.710938,173.820877 517.526367,177.755783 516.610901,181.030991 
	C515.649353,184.471069 513.294067,187.350327 512.984131,190.998657 
	C512.805542,193.100250 510.604065,192.579010 509.500000,193.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="6.000000" d="
M1826.500000,285.500000 
	C1826.500000,292.666656 1826.467163,299.833557 1826.516968,306.999878 
	C1826.535767,309.709869 1825.515381,312.830231 1829.455688,314.134003 
	C1830.104004,314.348480 1830.166626,316.333344 1830.500000,317.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="4.000000" d="
M405.500000,165.500000 
	C402.483612,165.452530 400.628082,167.096252 398.954620,169.467972 
	C395.743622,174.018799 392.714142,178.743484 388.500000,182.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="7.000000" d="
M521.500000,292.500000 
	C524.642944,299.311218 522.406189,306.508179 522.841064,313.509857 
	C522.912598,314.661652 522.768188,316.179352 522.500000,317.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M1898.500000,293.000000 
	C1894.868164,292.701447 1894.060913,295.466614 1893.577393,298.014679 
	C1893.017822,300.963196 1890.600464,303.193604 1890.881714,306.510040 
	C1891.030884,308.267517 1888.511719,308.678406 1887.500000,310.000000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="7.000000" d="
M653.000000,291.500000 
	C653.000000,299.333344 653.000000,307.166656 653.000000,315.000000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="10.000000" d="
M521.500000,152.500000 
	C521.745056,153.486938 520.952271,154.650986 522.000793,155.498993 
	C524.198669,157.276520 524.455688,159.534393 523.485046,161.994110 
	C522.265259,165.085403 522.529358,168.301331 522.500000,171.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M616.000000,281.500000 
	C615.525085,286.169342 615.993713,290.795135 614.926758,295.594879 
	C614.173096,298.985718 616.737732,303.537384 615.828979,307.460388 
	C615.106567,310.578949 615.306213,313.479980 615.500000,316.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M374.500000,160.000000 
	C375.894745,159.456131 377.287018,159.045944 378.540283,158.050735 
	C380.900665,156.176407 383.500000,155.677765 385.968597,158.076187 
	C383.380646,164.355637 379.014038,168.001144 372.000000,166.000000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M1791.000000,291.000000 
	C1790.753662,293.277313 1789.048706,292.921661 1787.501587,293.024231 
	C1785.777954,293.138550 1783.824585,293.468689 1783.552734,295.507019 
	C1782.710571,301.821136 1782.584717,308.166656 1783.500000,314.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M521.000000,155.500000 
	C517.546204,157.249908 513.969971,158.683777 511.900848,162.445465 
	C510.989380,164.102509 509.000000,165.166656 507.500000,166.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="6.000000" d="
M1092.000000,202.000000 
	C1090.640869,200.359131 1089.602295,198.440643 1087.507446,197.483704 
	C1083.054199,195.449432 1079.361328,197.645782 1079.550171,202.498047 
	C1079.680054,205.835770 1078.585571,209.324783 1080.500000,212.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="3.000000" d="
M243.500000,127.500000 
	C248.166809,127.511772 248.709503,131.353088 250.000000,134.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M1766.500000,292.500000 
	C1769.919067,293.351135 1774.286377,293.016998 1774.000000,298.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M1573.500000,207.500000 
	C1573.531006,205.771423 1572.738647,205.364822 1571.519287,206.520325 
	C1567.262695,210.554199 1561.350342,211.209717 1556.527344,214.046555 
	C1555.667847,214.552094 1555.166626,215.666641 1554.500000,216.499969 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="3.000000" d="
M688.500000,293.500000 
	C686.249329,294.823578 683.918640,295.027710 681.500000,294.000000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2.000000" d="
M913.500000,177.000000 
	C910.662109,175.900635 909.161987,179.483597 906.500000,179.000000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="3.000000" d="
M221.000000,188.500000 
	C220.354446,191.109726 218.766510,192.541473 216.000000,192.500000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M1831.000000,293.000000 
	C1827.500000,292.666656 1824.000000,292.333344 1820.500000,292.000000 
" />
            <path fill="none" opacity="1.000000" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="5.000000" d="
M589.000000,293.000000 
	C591.008972,296.166656 588.614258,299.316864 588.960876,302.504242 
	C589.375427,306.315979 588.566895,310.199982 589.500000,314.000000 
" />
        </svg>

        <div class="footer">
            <p>THESE DECLARATIONS TOGETHER WITH THE COMMON POLICY CONDITIONS AND COVERAGE FORM(S) AND ANY ENDORSEMENT(S)
                COMPLETE THE ABOVE NUMBERED POLICY.</p>
        </div>

        <div style="text-align:left; font-weight: 50; font-style:italic; color: #666;">(06/2024- 006 ONCE – Signature
            Page)
        </div>
    </div>


    <div class="container" style="padding-top: 150px; padding-bottom: 240px;">
        <div class="section">
            <div class="heading" style="font-weight: 100; padding-bottom:10px;">THIS ENDORSEMENT CHANGES THE POLICY.
                PLEASE READ IT
                CAREFULLY. </div>
            <div class="heading" style="padding-bottom:10px;">SERVICE OF SUIT ENDORSEMENT</div>
            <div class="content" style="padding-bottom:10px;">
                It is agreed that in the event of the failure of the Company to pay any amount claimed to be due under
                this policy, the Company at the request of the Insured (or reinsured), will submit to the jurisdiction
                of any court of competent jurisdiction within the United States of America and will comply with all
                requirements necessary to give the Court jurisdiction. All matters which arise will be determined in
                accordance with the law and practice of the Court. In a suit instituted against any one of them under
                this contract, the Company agrees to abide by the final decision of the Court or of any Appellate Court
                in the event of an appeal. <br /> <br />
                Pursuant to any statute of any state, territory or district of the United States of America which makes
                a provision, the Company will designate the Superintendent, Commissioner or Director of Insurance or
                other officer specified for that purpose in the statute, or his successor or successors in office, as
                their true and lawful attorney upon whom may be served any lawful process in any action, suit, or
                proceeding instituted by or on behalf of the Insured (or reinsured) or any beneficiary arising out of
                this contract of insurance (or reinsurance).<br /> <br />
                The Company hereby designates Grant Miller, General Counsel, AM Specialty Insurance Company, 1717 Main
                St, Suite 2650, Dallas, TX 75201 as the person to whom the said Superintendent, Commissioner, or
                Director of Insurance is authorized to mail such process or a true copy thereof, in compliance with the
                applicable statutes governing said service of process in the state of jurisdiction in which a cause of
                action under this contract of insurance arises.
            </div>
            <div class="heading" style="padding-bottom: 250px;">ALL OTHER TERMS AND CONDITIONS OF THIS POLICY REMAIN
                UNCHANGED.</div>

            <div style="margin-left: -10px; font-weight: 50; font-style:italic; color:#666">(06/2024- 005 ONCE – Service
                of Suits)
            </div>
        </div>
    </div>

    <div class="container" style="padding-top: 100px;">
        <div class="section">
            <div class="heading" style="padding-bottom:10px; font-size:18px;">
                AM SPECIALTY INSURANCE COMPANY
                <br />
                PRIVACY POLICY STATEMENT
            </div>
            <div class="content" style="padding-bottom:20px;">
                AM Specialty Insurance Company wants you to know how we protect the confidentiality of your non- public
                personal information. We want you to know how and why we use and disclose the information that we have
                about you. The following describes our policies and practices for securing the privacy of our current
                and former customers. <br />
            </div>

            <div class="content" style="padding-left: 10px; padding-bottom: 100px;">
                <b>INFORMATION WE COLLECT</b><br /><br />
                The non-public personal information that we collect about you includes but is not limited to:
                <ul>
                    <li style="padding-bottom: 10px;">Information contained in applications or other forms that you
                        submit to us, such as name, address, and social security number</li>
                    <li style="padding-bottom: 10px;">Information about your transactions with our affiliates or other
                        third-parties, such as balances and payment history</li>
                    <li style="padding-bottom: 10px;">Information about your transactions with our affiliates or other
                        third-parties, such as balances and payment history</li>
                </ul>

                <b>INFORMATION WE DISCLOSE</b><br /><br />
                We disclose the information that we have when it is necessary to provide our products and services. We
                may also disclose information when the law requires or permits us to do so under Arizona Revised
                Statutes, Title 20 (2022). <br /><br />

                <b>CONFIDENTIALITY AND SECURITY</b><br /><br />
                Only our employees and others who need the information to service your account have access to your
                personal information. We have measures in place to secure our paper files and computer systems. <br />
                <br />


                <b>RIGHT TO ACCESS OR CORRECT YOUR PERSONAL INFORMATION</b><br /><br />
                You have a right to request access or to correct your personal information that is in our
                possession.<br /><br />


                <b>CONTACTING US</b><br /><br />
                If you have any questions about this privacy notice or would like to learn more about how we protect
                your privacy, please write to us at the following address:<br /><br />

                AM Specialty Insurance Company <br />
                1717 Main St, Suite 2650 <br />
                Dallas, TX 75201 <br />
            </div>

            <div style="font-weight: 50; font-style:italic; color:#666">(06/2024- 0004 ONCE –
                Privacy Policy Notice)
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="section">
            
            <div class="heading">KENTUCKY SURPLUS LINES NOTICE
            </div>

            <div class="content">
               This insurance has been placed with an insurer not licensed to transact business in the Commonwealth of Kentucky but eligible as a surplus lines insurer. The insurer is not a member of the Kentucky Insurance Guaranty Association. Should the insurer become insolvent, the protection and benefits of the Kentucky Insurance Guaranty Association are not available.
               
            </div>

    </div>
</body>

</html>