<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Articles Policy</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 25px;
            line-height: 1.2em;
        }

        @page {
            padding-top: 100px;
            padding-bottom: 25px;
            margin-bottom: 25px;
            margin-top: 50px;
        }

        .container {
            width: 95%;
            padding: 10px;
        }

        .heading {
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            justify-content: center;
            padding-bottom: 20px;
        }

        .section {
            margin-bottom: 20px;
        }

        .section-title {
            font-weight: bold;
            font-size: 1.1em;
            margin-bottom: 10px;
        }

        .content {
            display: block;
            padding-bottom: 150px;
            ;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="section">
            
            <div class="heading">LOUISIANA SURPLUS LINES NOTICE
            </div>

            <div class="content">
            "NOTICE: This insurance policy is delivered as a surplus line coverage under the Louisiana Insurance Code. In the event of the insolvency of the company
            issuing this contract, the policyholder or claimant is not covered by the Louisiana Guaranty Association which guarantees only if specific types of policies 
            issued by the insurance companies authorized to do business in Louisiana. This surplus 
            lines policy has been procured by the following licensed
            Louisiana surplus lines broker:<br>
            <br>
            _________________________________________________ (Signature of Licensed Louisiana Surplus Lines Broker or Authorized Representative)
            <br>
            _________________________________________________ (Printed Name of Licensed Louisiana Surplus Lines Broker)"

            </div>

    </div>
</body>

</html>