<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Articles Policy</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 25px;
            line-height: 1.2em;
        }

        @page {
            padding-top: 100px;
            padding-bottom: 25px;
            margin-bottom: 25px;
            margin-top: 50px;
        }

        .container {
            width: 95%;
            padding: 10px;
        }

        .heading {
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            justify-content: center;
            padding-bottom: 20px;
        }

        .section {
            margin-bottom: 20px;
        }

        .section-title {
            font-weight: bold;
            font-size: 1.1em;
            margin-bottom: 10px;
        }

        .content {
            font-weight: bold;
            display: block;
            padding-bottom: 30px;
            ;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="section">
            
            <div class="heading">MARYLAND SURPLUS LINES NOTICE
            </div>

            <div class="content">
            <p>"This insurance is issued by a nonadmitted insurer not under the jurisdiction of the Maryland
            Insurance Commissioner.
            ”
            <br>
            <br>
            This policy is issued by a surplus lines insurer that has been approved by the Maryland Insurance
            Administration to issue insurance policies in the surplus lines insurance market. Surplus lines
            insurers are not under the jurisdiction of the Maryland Insurance Administration and do not
            possess a certificate of authority to transact insurance business in the State of Maryland. Because
            surplus lines insurers are not under the jurisdiction of the Maryland Insurance Administration,
            your ability to seek assistance from the State if you have a problem with your insurance company is
            limited.
            <br>
            <br>
            The Property and Casualty Insurance Guaranty Corporation provides a fund that permits
            claimants or policyholders to receive payment of covered claims if their insurance company
            becomes insolvent (i.e., bankrupt) and is unable to pay the claims. However, this fund does not
            apply to surplus lines insurers. If a surplus lines insurer becomes insolvent (i.e. bankrupt), any
            claim that you have against the surplus lines insurer will not be covered by the fund administered
            by Property and Casualty Insurance Guaranty Corporation.
            </p>
            </div>

    </div>
</body>

</html>