<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* Reset styles */
        body,
        table {
            margin: 0;
            padding: 0;
            border: 0;
            font-family: Arial, sans-serif;
            font-size: 12px;
        }

        /* Common styles */
        .container {
            width: 100%;
            max-width: 1654px;
            padding: 8px;
            box-sizing: border-box;
        }

        .title {
            color: rgb(237, 116, 10);
            font-weight: bold;
            font-size: medium;
            padding: 5px;
            text-align: left;
        }

        /* Header styles */
        .header img {
            padding: 0;
            margin: 0;
            margin-left: -10px;
            height: 115px;
        }

        /* Table styles */
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 5px;
        }

        th,
        td {
            border: 1px solid #ccc;
            padding: 5px;
            text-align: left;
        }

        .header-row {
            background-color: #cccccc;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <img src="https://logowik.com/content/uploads/images/gnp-seguros7977.logowik.com.webp"
                alt="Should be paramount logo">
        </div>

        <div class="title">CONTRATANTE</div>

        <table>
            <tr class="header-row">
                <td colspan="2">Nombre</td>
            </tr>
            <tr>
                <td colspan="2">RAUL GARCIA RICO</td>
            </tr>
            <!-- Add more rows here -->
        </table>
    </div>
</body>

</html>