<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Articles Policy</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 25px;
            line-height: 1.2em;
        }

        @page {
            padding-top: 100px;
            padding-bottom: 25px;
            margin-bottom: 25px;
            margin-top: 50px;
        }

        .container {
            width: 95%;
            padding: 10px;
        }

        .heading {
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            justify-content: center;
            padding-bottom: 20px;
        }

        .section {
            margin-bottom: 20px;
        }

        .section-title {
            font-weight: bold;
            font-size: 1.1em;
            margin-bottom: 10px;
        }

        .content {
            font-weight: bold;
            display: block;
            padding-bottom: 150px;
            text-decoration: underline;
            ;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="section">
            
            <div class="heading">NORTH CAROLINA SURPLUS LINES NOTICE
            </div>

            <div class="content">
"The insurance company with which this coverage has been placed is domiciled and
authorized by the State of North Carolina and is subject to its supervision. However, in the
event of the insolvency of the insurance company, losses under this policy will not be paid
by any State insurance guaranty or solvency fund."

            </div>

    </div>
</body>

</html>