<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Articles Policy</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 13px;
            padding: 10px;
            line-height: 1.2em;
        }

        @page {
            padding-top: 55px;
            padding-bottom: 25px;
            margin-bottom: 25px;
            margin-top: 50px;
        }

        .page {
            min-height: 98%;
            max-height: 98%;
        }

        .container {
            width: 95%;
            padding: 10px;
        }

        p {
            display: block;
            padding-left: 15px;
        }

        .heading {
            font-weight: bold;
            font-size: 15px;
            text-align: center;
            justify-content: center;
        }

        table {
            padding-left: 20px;
            font-weight: bold;
            max-width: 90%;
            min-width: 90%;
        }

        ol {
            padding-bottom: 10px;
            margin-left: -20px;
        }

        .section {
            margin-bottom: 20px;
        }

        .section-title {
            font-weight: bold;
            font-size: 1.1em;
            margin-bottom: 10px;
        }

        .sub-section {
            margin-left: 10px;
            margin-bottom: 10px;
        }

        .sub-section-title {
            font-weight: bold;
        }

        .content {
            margin-left: 0px;
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="page">
            <div class="heading" style="padding-top: 75px; padding-bottom: 20px;">
                <p>Personal Articles Policy</p>
                <p>Table of Contents</p>
                <p>READ YOUR POLICY CAREFULLY.</p>
                <p style="font-size: 14px;">An index to the important provisions of your policy is provided below.</p>
            </div>
            <table style="padding-bottom: 675px;">
                <tr>
                    <td>INSURING AGREEMENT</td>
                    <td style=" justify-content: right;">2</td>
                </tr>
                <tr>
                    <td>DEFINITIONS</td>
                    <td style="justify-content: right;">2</td>
                </tr>
                <tr>
                    <td>GENERAL CONDITIONS</td>
                    <td style="justify-content: right;">2</td>
                </tr>
                <tr>
                    <td>GENERAL EXCLUSIONS</td>
                    <td style="justify-content: right;">5</td>
                </tr>
                <tr>
                    <td>COVERAGE</td>
                    <td style="justify-content: right;">5</td>
                </tr>
            </table>
        </div>


        <div class="section">
            <div class="section-title">INSURING AGREEMENT</div>
            <div class="content">
                <p>In return for the premium payment and compliance with all applicable provisions of this policy and
                    any endorsements, we agree to provide the insurance coverage as shown on the Declarations Page which
                    is part of this policy.</p>
                <p>By accepting this policy, you agree that the statements on the Declarations Page and any application
                    are your agreements and representations. This policy is issued in reliance upon the truth of your
                    representations during the application process and it includes all agreements existing between you
                    and us or any of our representatives. Any application, whether written or electronic, is a part of
                    this policy.</p>
            </div>
        </div>



        <div class="section">
            <div class="section-title">DEFINITIONS</div>
            <div class="content">
                <p>Throughout this policy, most words and phrases that have special meanings appear in <b>bold</b>. Only
                    the
                    pronouns “we”, “our”, “us”, “you”, and “your” are defined but do not appear in <b>bold</b>. This
                    section
                    defines some of the more general terms used in this policy.</p>
                <ol>
                    <li>
                        <p> <b>You and your</b> refer to the
                            Named Insured shown on the
                            Declarations Page and the Named
                            Insured’s spouse if
                            the person physically lives with you in your household on a regular basis. The term
                            spouse
                            includes a domestic partner or party to a civil union with the Named Insured shown on
                            the
                            Declarations Page when the civil union is established under the laws of your state.</p>
                    </li>
                    <li>
                        <p>The words we, us, and our, refer to the
                            company, shown on the Declarations Page, which is providing this insurance.
                        </p>
                    </li>
                    <li>
                        <p><b>Personal article</b> means item(s) shown on
                            the
                            Declarations Page under Scheduled Personal Article(s). If the <b>personal article</b> is
                            a gift
                            or engagement ring, the name of the individual who has possession of the <b>personal
                                article</b> must be listed on the Declarations Page under the Named Insured and
                            Address
                            section.
                        </p>
                    </li>
                    <li>
                        <p><b>Service plans</b> include, but are not
                            limited to,
                            service agreements, extended warranty plans, and product protection plans.
                        </p>
                    </li>
                </ol>
            </div>
        </div>




        <div class="section">
            <div class="section-title">GENERAL CONDITIONS</div>
            <div class="content">
                <ol>
                    <li>
                        <p>
                            Policy Period/Territory <br /> <br />
                            This policy only applies to loss which occurs during the policy period as shown on the
                            Declarations Page. Coverage extends to loss which occurs anywhere in the world.
                        </p>
                    </li>

                    <li>
                        <p>
                            Misrepresentation or Fraud <br /> <br />
                            All insurance provided by this policy will be null and void if you, at any time, either
                            intentionally conceal or misrepresent any fact, regardless of materiality, or if you
                            misrepresent or conceal any material fact regardless of intent. No action or inaction by us
                            will be deemed a waiver of this provision.
                        </p>
                    </li>

                    <li>
                        <p>
                            Notice of Cancellation<br /> <br />
                            You may cancel this coverage by returning it to us or our authorized agent, or by advising
                            us or our authorized agent in writing, stating the future date you want the policy to be
                            cancelled.<br /> <br />
                            We may cancel this coverage by delivering or mailing notice of cancellation to the first
                            named ‘Insured’ at the last address shown in our records at least: <br /> <br />

                        <ol type="a">
                            <li>
                                <p>
                                    ten (10) days before the cancellation takes effect if:
                                </p>

                                <ol type="i">
                                    <li>
                                        <p>
                                            the cancellation is for nonpayment of premium; or
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            this policy has been in effect for less than sixty (60) days and is not a
                                            renewal policy.
                                        </p>
                                    </li>
                                </ol>
                            </li>

                            <li style="margin-top: -10px;">
                                <p>thirty (30) days before the cancellation takes effect in all other cases.</p>
                            </li>
                        </ol>

                        <div style="margin-top: -10px;">
                            After this policy has been in effect for sixty (60) days, or if this is a renewal policy, we
                            will cancel only:
                        </div>

                        <ol type="a">
                            <li>
                                <p>For nonpayment of premium due;</p>
                            </li>
                            <li>
                                <p>for misrepresentation or fraud;</p>
                            </li>
                            <li>
                                <p>for substantial breach of your duties under this policy;</p>
                            </li>
                            <li>
                                <p>if the risk changed substantially since the policy was issued; or</p>
                            </li>
                            <li>
                                <p>for failure to comply with our underwriting requirements within 60 days of the term
                                    effective date.</p>
                            </li>
                        </ol>

                        <div style="margin-top: -10px;">
                            Proof of mailing of this notice to you will be sufficient proof that notice of cancellation
                            was given. The date of the cancellation stated in the notice will become the end of the
                            policy period.
                            <br /> <br />
                            This policy will terminate without any written notice and all premiums will be deemed fully
                            earned by us when we pay for loss of the personal article.
                        </div>

                        </p>
                    </li>

                    <li>
                        <p>
                            Return Premium <br /> <br />
                            The premium on this policy shall be fully earned and no return premium will be due to the
                            Insured if the policy is canceled by either you or us.
                        </p>
                    </li>

                    <li>
                        <p>
                            Conformity to Statute <br /> <br />
                            Any provision of this policy that conflicts with applicable law or regulation is hereby
                            amended to conform to the minimum requirements of the law or regulation.
                        </p>
                    </li>

                    <li>
                        <p>
                            Policy Changes<br /> <br />
                            No change or waiver may be effected in this policy except by endorsement issued by us. If a
                            premium adjustment is necessary, we will make the adjustment as of the effective date of the
                            change.<br />
                            When we broaden coverage during the policy period, without charge, the policy will
                            automatically provide the broadened coverage when effective in your state.
                        </p>
                    </li>

                    <li>
                        <p>Legal Action Against Us</p>
                        <ol type="a">
                            <li>
                                <p>No suit or action may be brought against us unless there has been full compliance
                                    with all terms of this policy.
                                </p>
                            </li>
                            <li>
                                <p>No suit or action may be brought against us unless the action is brought within 12
                                    months after the date you first have knowledge of the loss.
                                </p>
                            </li>
                        </ol>
                    </li>

                    <li>
                        <p>
                            No Benefits to Others <br /> <br />
                            No person or organization, which has custody of the personal article and is to be paid for
                            services, will benefit from this insurance.
                        </p>
                    </li>

                    <li>
                        <p>
                            Right of Recovery <br /> <br />
                            You may have the right to recover from another party who is responsible for your loss. If we
                            pay your loss under this policy, this right of recovery will belong to us up to the amount
                            that we have paid you. You or anyone acting on your behalf must not do anything to impair
                            our right of recovery. <br />
                            In the event of a recovery, any personal article paid for by us will become our property.
                            You must notify us or we must notify you as soon as reasonably practical if either receives
                            a recovery for a loss we have settled.
                        </p>
                    </li>

                    <li>
                        <p>
                            General Duties Following a Loss <br /> <br />
                            You must report immediately to us or our authorized agent any loss which may be covered
                            under this policy. This report should give full details about when and where the loss
                            occurred, how it happened and the name and address of all the people involved including all
                            witnesses. You are required to immediately notify the authorities of any theft of your
                            <b>personal article</b>. <br /> <br />
                            After requested by us, you must file within ninety (90) days thereof, with us or our
                            authorized agent, a written statement about the details of the loss. This statement must be
                            signed and sworn by you and must include:

                        <ol type="a">
                            <li>
                                <p>
                                    the date, time, place and details of the loss. If loss is due to theft, a police
                                    report must be provided;
                                </p>
                            </li>
                            <li>
                                <p>
                                    other insurance or <b>service plans</b> that may cover the loss;
                                </p>
                            </li>
                            <li>
                                <p>
                                    your interest and the interest of all others in the <b>personal article</b> involved
                                    in the loss, including all liens and encumbrances;
                                </p>
                            </li>
                            <li>
                                <p>
                                    changes in the title of the <b>personal article</b> during the policy period; and
                                </p>
                            </li>
                            <li>
                                <p>
                                    an inventory of the lost <b>personal article</b>. This must show in detail the
                                    quantity, description, cost of the <b>personal article</b> and the amount of the
                                    loss. Copies of all bills, receipts, appraisals and related documents that
                                    substantiate the inventory must be attached.
                                </p>
                            </li>
                        </ol>

                        <div>
                            You, as often as we may reasonably require, will:
                        </div>

                        <ol type="a">
                            <li>
                                <p>
                                    submit and subscribe to examinations under oath by any person named by us. If more
                                    than one person is examined, we have the right to examine and receive statements
                                    separately from each person and not in the presence of others; and
                                </p>
                            </li>
                            <li>
                                <p>
                                    produce for examination and permit extracts and copies of all books of account,
                                    bills, invoices, other vouchers and any other tangible items related to the claimed
                                    loss, or certified copies thereof if the originals are lost, at such reasonable time
                                    and place as may be designated by us or our representative.
                                </p>
                            </li>
                        </ol>

                        <div style="margin-top: -10px;">
                            You must cooperate with us in the investigation or settlement of any loss.<br /> <br />
                            If you do not comply with these general duties, no coverage for the loss will be provided.
                        </div>

                        </p>
                    </li>

                    <li>
                        <p>
                            Other Insurance <br /> <br />
                            If there is other applicable insurance we will pay only our share of the loss. Our share is
                            the percent that the limit of insurance this policy bears to the total of all insurance
                            applicable to the loss.<br /> <br />
                            If there is a service plan, we will pay excess the amount due from the service plan but not
                            more than the applicable limit provided by this policy.
                        </p>
                    </li>

                    <li>
                        <p>
                            Nonrenewal <br /> <br />
                            If we decide not to renew your coverage, we or our authorized representative will mail or
                            deliver to the first Named Insured at the address shown on the Declarations Page, written
                            notice of nonrenewal. The written notice will be mailed to the first named insured at least
                            thirty (30) days before the end of the policy term. If we decide not to renew your policy,
                            our mailing of notice to the address of the first named insured shown on the Declarations
                            Page will constitute proof of notice as of the date we mail it.
                        </p>
                    </li>

                    <li>
                        <p>
                            Salvage and Abandonment<br /> <br />
                            If we pay for the loss of personal article, we reserve the right to take possession of any
                            remains if we elect. At our request, you will transfer the ownership of the property to us
                            or to a salvage buyer appointed by us. Any recovery or salvage on a loss will accrue
                            entirely to our benefit until the sum paid by us has been made up. <br /> <br />
                            We are not obligated to accept any property you abandon, nor are we obligated to pay any
                            storage fees incurred because you abandoned any property to any other person or
                            organization.
                        </p>
                    </li>
                </ol>
            </div>
        </div>





        <div class="section">
            <div class="section-title">GENERAL EXCLUSIONS</div>
            <div class="content">
                <p>No coverage is provided under this policy for loss caused by resulting from or arising out of:</p>
                <ol>
                    <li>
                        <p>Extended Radioactive Contamination</p>
                    </li>
                    <ol type="a">
                        <li>
                            <p>
                                Ionizing radiations from or contamination by radioactivity from any nuclear fuel or from
                                any
                                nuclear waste or from the combustion of nuclear fuel;
                            </p>
                        </li>

                        <li>
                            <p>
                                The radioactive toxic explosive or other hazardous or contaminating properties of any
                                nuclear installation reactor or other nuclear assembly or nuclear component thereof;
                            </p>
                        </li>

                        <li>
                            <p>
                                Any weapon or device employing atomic or nuclear fission and/or fusion or other like
                                reaction or radioactive force or matter; or
                            </p>
                        </li>

                        <li>
                            <p>
                                The radioactive toxic explosive or other hazardous or contaminating properties of any
                                radioactive matter. The exclusion in this sub-clause does not extend to radioactive
                                isotopes
                                other than nuclear fuel when such isotopes are being prepared, carried, stored or used
                                for
                                commercial agricultural, medical, scientific or other similar peaceful purpose.
                            </p>
                        </li>
                    </ol>

                    <div>
                        However if a fire arises directly or indirectly from one or more of the above causes in item a,
                        b, and d, then any loss arising directly from that fire will subject to the provisions of this
                        policy be covered. No coverage is provided for any loss caused by resulting from or arising out
                        of nuclear reaction, nuclear radiation or radioactive contamination arising directly or
                        indirectly from that fire.
                    </div>

                    <li>
                        <p>
                            War or any warlike operation. This includes declared and undeclared wars, civil wars,
                            revolutions or any civil unrest.
                        </p>
                    </li>
                    <li>
                        <p>
                            Delay, confiscation, nationalization or detention by Customs or other government or public
                            authority.
                        </p>
                    </li>
                    <li>
                        <p>
                            Any willful or intentional misconduct or criminal act on the part of:
                        </p>
                        <ol type="a">
                            <li>
                                <p>you;</p>
                            </li>
                            <li>
                                <p>anyone acting on your behalf; or</p>
                            </li>
                            <li>
                                <p>any person, firm, corporation or legal entity possessing the personal article with
                                    your
                                    prior permission.
                                </p>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <p>Civil Authority.</p>
                        <ol type="a">
                            <li>
                                <p>Seizure or destruction under quarantine or customs regulations;</p>
                            </li>
                            <li>
                                <p>Confiscation or destruction by order of a government or public authority; or</p>
                            </li>
                            <li>
                                <p>Risks of contraband or illegal transportation or trade.</p>
                            </li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>





        <div class="section">
            <div class="section-title">COVERAGE</div>
            <div class="content">
                <div style="font-style: italic; padding-bottom: 10px;">Coverage</div>
                <div>We will cover:</div>
                <ol>
                    <li>
                        <p>Theft of the <b>personal article</b>; and</p>
                    </li>
                    <li>
                        <p>Sudden accidental direct physical loss of the <b>personal article</b>.</p>
                    </li>
                </ol>

                <div style="font-style: italic; padding-bottom: 10px;">What We Pay</div>
                <div>The amount we will for loss under this policy will be the applicable scheduled limit for the
                    <b>personal article</b> shown on the Declarations Page.
                </div>

                <div style="font-style: italic; padding-bottom: 10px;">Loss to a Pair, Set, or Part</div>
                <div>If there is a loss to personal article that is part of a pair or set, or consists of several
                    components when complete, the amount we pay will be the scheduled limit for the personal article on
                    the Declarations Page. <br /> <br />

                    You agree to turn over to us the remaining parts of the pair or set, or complete item.
                </div>

                <div style="font-style: italic; padding-bottom: 10px;">Exclusions</div>
                <div>We will not pay for loss caused by, to, or resulting from:

                    <ol>
                        <li>
                            <p>wear and tear and wet or dry rot;</p>
                        </li>
                        <li>
                            <p>vermin, rodents, or insects;</p>
                        </li>
                        <li>
                            <p>abandonment by you or anyone using the <b>personal article</b> with your permission;</p>
                        </li>
                        <li>
                            <p>diminution of value;</p>
                        </li>
                        <li>
                            <p>repair or maintenance work;</p>
                        </li>
                        <li>
                            <p>contraband or property in the course of illegal transportation or trade;</p>
                        </li>
                        <li>
                            <p>gradual deterioration, inherent vice, or any quality, fault, or weakness that is
                                intrinsic to the <b>personal article</b> that causes it to damage or destroy itself;</p>
                        </li>
                        <li>
                            <p>mysterious, or unexplained disappearance;</p>
                        </li>
                        <li>
                            <p>Your voluntary parting with title to or possession of any personal article because of:
                            <ol type="a">
                                <li>
                                    <p>
                                        the acceptance of:
                                    <ol type="i">
                                        <li>
                                            <p>counterfeit money or fraudulent money orders;</p>
                                        </li>
                                        <li>
                                            <p>checks or promissory notes which are not paid upon presentation;</p>
                                        </li>
                                        <li>
                                            <p>credit cards that are illegally obtained and/or used; or</p>
                                        </li>
                                    </ol>
                                    </p>
                                </li>
                                <li>
                                    <p>any other fraudulent scheme, trick or false pretense.</p>
                                </li>
                            </ol>
                            </p>
                        </li>
                    </ol>
                </div>

                <div style="font-style: italic; padding-bottom: 10px;">Payment of Loss</div>
                <div>We will pay losses within thirty (30) days after a proof of loss is accepted by us and we reach
                    agreement with you. <br /> <br />
                    This Policy is signed at the Home Office of the company by its president and secretary.

                </div>
            </div>
        </div>
    </div>
</body>

</html>