<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Articles Policy</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 25px;
            line-height: 1.2em;
        }

        @page {
            padding-top: 100px;
            padding-bottom: 25px;
            margin-bottom: 25px;
            margin-top: 50px;
        }

        .container {
            width: 95%;
            padding: 10px;
        }

        .heading {
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            justify-content: center;
            padding-bottom: 20px;
        }

        .section {
            margin-bottom: 20px;
        }

        .section-title {
            font-weight: bold;
            font-size: 1.1em;
            margin-bottom: 10px;
        }

        .content {
            display: block;
            padding-bottom: 150px;
            ;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="section">
            <div class="heading" style="font-weight: 100;">THIS ENDORSEMENT CHANGES THE POLICY. PLEASE READ IT
                CAREFULLY. </div>
            <div class="heading">SERVICE OF SUIT ENDORSEMENT</div>
            <div class="content">
                It is agreed that in the event of the failure of the Company to pay any amount claimed to be due under
                this policy, the Company at the request of the Insured (or reinsured), will submit to the jurisdiction
                of any court of competent jurisdiction within the United States of America and will comply with all
                requirements necessary to give the Court jurisdiction. All matters which arise will be determined in
                accordance with the law and practice of the Court. In a suit instituted against any one of them under
                this contract, the Company agrees to abide by the final decision of the Court or of any Appellate Court
                in the event of an appeal. <br /> <br />
                Pursuant to any statute of any state, territory or district of the United States of America which makes
                a provision, the Company will designate the Superintendent, Commissioner or Director of Insurance or
                other officer specified for that purpose in the statute, or his successor or successors in office, as
                their true and lawful attorney upon whom may be served any lawful process in any action, suit, or
                proceeding instituted by or on behalf of the Insured (or reinsured) or any beneficiary arising out of
                this contract of insurance (or reinsurance).<br /> <br />
                The Company hereby designates Grant Miller, General Counsel, AM Specialty Insurance Company, 1717 Main
                St, Suite 2650, Dallas, TX 75201 as the person to whom the said Superintendent, Commissioner, or
                Director of Insurance is authorized to mail such process or a true copy thereof, in compliance with the
                applicable statutes governing said service of process in the state of jurisdiction in which a cause of
                action under this contract of insurance arises.
            </div>
            <div class="heading" style="padding-bottom: 250px;">ALL OTHER TERMS AND CONDITIONS OF THIS POLICY REMAIN
                UNCHANGED.</div>

            <div style="margin-left: -10px; font-weight: 50; font-style:italic">(06/2024- 005 ONCE – Service of Suits)
            </div>
        </div>

    </div>
</body>

</html>