<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COC Information</title>
</head>

<body>
    <p>Dear Race,</p>
    <p>COC generated after the delivery date.</p>
    <p>Please find the details below:</p>
    <ul>
        <li><strong>COC Number:</strong> EMOP-000079R0000000013</li>
        <li><strong>Delivery Date:</strong> 24-05-2024</li>
        <li><strong>Issue Date:</strong> 25-05-2024</li>
        <li><strong>Policy ID:</strong> policy_aicbweckls3234_qa3uodbw</li>
    </ul>
    <p>Best regards</p>
</body>

</html>