<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">
        ol {
            margin: 0;
            padding: 0
        }

        table td,
        table th {
            padding: 0
        }

        .c4 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 14pt;
            font-family: "Arial";
            font-style: normal
        }

        .c1 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 10pt;
            font-family: "Arial";
            font-style: normal
        }

        .c11 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 10pt;
            font-family: "Arial";
            font-style: normal
        }

        .c3 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 10pt;
            font-family: "Times New Roman";
            font-style: normal
        }

        .c7 {
            margin-left: 5pt;
            padding-top: 6pt;
            padding-bottom: 0pt;
            line-height: 1.0374999999999999;
            text-align: justify;
            margin-right: 5.3pt
        }

        .c8 {
            margin-left: 5pt;
            padding-top: 12pt;
            padding-bottom: 0pt;
            line-height: 1.1500000000000001;
            text-align: left;
            margin-right: 180.5pt
        }

        .c10 {
            margin-left: 5pt;
            padding-top: 18pt;
            padding-bottom: 0pt;
            line-height: 1.0374999999999999;
            text-align: left;
            margin-right: 325.2pt
        }

        .c5 {
            margin-left: 5pt;
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.1500000000000001;
            text-align: left;
            margin-right: 206.1pt
        }

        .c0 {
            margin-left: 5pt;
            padding-top: 0.6pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: center
        }

        .c2 {
            margin-left: 5pt;
            padding-top: 24pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c16 {
            margin-left: 370.5pt;
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c6 {
            margin-left: 5pt;
            padding-top: 12pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c12 {
            margin-left: 5pt;
            padding-top: 4.8pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c13 {
            margin-left: 5pt;
            padding-top: 0.5pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c14 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left;
            height: 11pt
        }

        .c18 {
            padding-top: 18pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c17 {
            background-color: #ffffff;
            max-width: 523pt;
            padding: 21pt 43pt 14pt 46pt
        }

        .c15 {
            color: inherit;
            text-decoration: inherit
        }

        .c9 {
            margin-right: 180.5pt
        }

        .title {
            padding-top: 4.5pt;
            color: #000000;
            font-weight: 700;
            font-size: 14pt;
            padding-bottom: 0pt;
            font-family: "Arial";
            line-height: 1.0;
            text-align: left
        }

        .subtitle {
            padding-top: 18pt;
            color: #666666;
            font-size: 24pt;
            padding-bottom: 4pt;
            font-family: "Georgia";
            line-height: 1.0;
            page-break-after: avoid;
            font-style: italic;
            text-align: left
        }

        .page {
            min-height: 98%;
            max-height: 98%;
        }

        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        h1 {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 24pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.0;
            page-break-after: avoid;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-weight: 700;
            font-size: 18pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.0;
            page-break-after: avoid;
            text-align: left
        }

        h3 {
            padding-top: 14pt;
            color: #000000;
            font-weight: 700;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.0;
            page-break-after: avoid;
            text-align: left
        }

        h4 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.0;
            page-break-after: avoid;
            text-align: left
        }

        h5 {
            padding-top: 11pt;
            color: #000000;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.0;
            page-break-after: avoid;
            text-align: left
        }

        h6 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.0;
            page-break-after: avoid;
            text-align: left
        }
    </style>
</head>

<body class="c17 doc-content">

    <div class="page" style="line-spacing: 1.2em; line-height: 1.5;">
            <div style="padding-bottom: 25px;">
                <img 
                    src="https://www.allianz.com/content/dam/onemarketing/system/AZ_Logo_Twitter_438x220px.png"
                    style="height: 100px; width: 200px; float: right";
                />
            </div>

            <div style="padding-top: 75px;">
                <p class="c10 title" style="padding-bottom: 20px;">
                    <span class="c4" style="padding-bottom: 10px;">Policyholder Message</span>
                    <span style="padding-top: 10px;">386636 03 21</span>
                </p>

                <hr style="width:96%; margin:auto;">
                <p class="c18" style="margin-top: -20px;">
                    <span class="c11">Important Information for Policyholders</span>
                    <span
                            style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 680.00px; height: 1.33px;">
                    </span>
                </p>
                <p class="c7">
                    <span class="c1">If you have questions about your policy, please contact your independent agent or
                        broker. If you have additional questions, you can contact the company issuing the policy listed on your
                        Declarations page at the following address:
                    </span>
                </p>

                <p class="c6"><span class="c1">Allianz Global Risks US Insurance Company</span></p>
                <p class="c13"><span class="c1">225 W. Washington Street, Suite 1800</span></p>
                <p class="c13"><span class="c1">Chicago, IL 60606-3484</span></p>
                <p class="c6"><span class="c1">Toll Free Telephone: 1-(888) 466-7883</span></p>


                <p class="c6">
                    <span class="c1">Website: 
                    </span>
                    <span class="c1"><a class="c15"
                            href="https://www.google.com/url?q=http://www.agcs.allianz.com/global-offices/united-states.html">https://www.agcs.allianz.com/global-offices/united-states.html</a></span><span
                        class="c1">&nbsp;
                    </span>
                </p>

                <p class="c8"><span class="c1">Email address for First Notice of Loss: </span><span class="c1"><a class="c15"
                            href="mailto:NewLoss@agcs.allianz.com">NewLoss@agcs.allianz.com</a></span></p>

                <p class="c5"><span class="c1">Toll Free Number for Claims First Notice of Loss: 1-(800) 347-3428 Toll Free Number
                        for Existing Claims: 1-(800) 870-8857</span></p>
                <p class="c2"><span class="c1">The information above supersedes any other Company contact information you may have
                        received with your policy.</span></p>
            </div>
        

    </div>

    <div style="margin-top: -25px;">
        <span><b>386636 03 21</b></span> <b style="padding-left: 450px;">Page 1 of 1</b>
        <p style="justify-content:center; text-align: center;">Copyright © 2021 Allianz Global Risks US Insurance Company. All rights reserved.</p>
    </div>
</body>

</html>