<html>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <style type="text/css">
      .lst-kix_list_1-3>li:before { content: "\002022 " }
      .lst-kix_list_1-4>li:before { content: "\002022 " } ul.lst-kix_list_1-0 {
      list-style-type: none } .lst-kix_list_1-7>li:before { content: "\002022 "
      } .lst-kix_list_1-5>li:before { content: "\002022 " }
      .lst-kix_list_1-6>li:before { content: "\002022 " } li.li-bullet-0:before
      { margin-left: -18pt; white-space: nowrap; display: inline-block;
      min-width: 18pt } ul.lst-kix_list_1-3 { list-style-type: none }
      .lst-kix_list_1-0>li:before { content: "\0025cf " } ul.lst-kix_list_1-4 {
      list-style-type: none } .lst-kix_list_1-8>li:before { content: "\002022 "
      } ul.lst-kix_list_1-1 { list-style-type: none } ul.lst-kix_list_1-2 {
      list-style-type: none } ul.lst-kix_list_1-7 { list-style-type: none }
      .lst-kix_list_1-1>li:before { content: "\002022 " }
      .lst-kix_list_1-2>li:before { content: "\002022 " } ul.lst-kix_list_1-8 {
      list-style-type: none } ul.lst-kix_list_1-5 { list-style-type: none }
      ul.lst-kix_list_1-6 { list-style-type: none } ol { margin: 0; padding: 0 }
      table td, table th { padding: 0 } .c27 { -webkit-text-decoration-skip:
      none; color: #0000ff; font-weight: 400; text-decoration: underline;
      vertical-align: baseline; text-decoration-skip-ink: none; font-size: 10pt;
      font-family: "Arial"; font-style: normal } .c3 { color: #000000;
      font-weight: 700; text-decoration: none; vertical-align: baseline;
      font-size: 10pt; font-family: "Arial"; font-style: italic } .c4 { color:
      #000000; font-weight: 400; text-decoration: none; vertical-align:
      baseline; font-size: 8.5pt; font-family: "Arial"; font-style: normal }
      .c11 { margin-left: 59.5pt; padding-top: 0pt; padding-left: 0pt;
      padding-bottom: 0pt; line-height: 1.0; text-align: left; margin-right: 9pt
      } .c31 { color: #000000; font-weight: 700; text-decoration: none;
      vertical-align: baseline; font-size: 11pt; font-family: "Arial";
      font-style: normal } .c22 { margin-left: 59.5pt; padding-top: 0pt;
      padding-left: 0pt; padding-bottom: 0pt; line-height: 1.0; text-align:
      left; margin-right: 10.7pt } .c29 { color: #000000; font-weight: 400;
      text-decoration: none; vertical-align: baseline; font-size: 10.5pt;
      font-family: "Arial"; font-style: normal } .c15 { color: #000000;
      font-weight: 400; text-decoration: none; vertical-align: baseline;
      font-size: 11pt; font-family: "Arial"; font-style: normal } .c45 { color:
      #000000; font-weight: 400; text-decoration: none; vertical-align:
      baseline; font-size: 9.5pt; font-family: "Arial"; font-style: normal }
      .c13 { color: #000000; font-weight: 400; text-decoration: none;
      vertical-align: baseline; font-size: 11pt; font-family: "Times New Roman";
      font-style: normal } .c0 { color: #000000; font-weight: 400;
      text-decoration: none; vertical-align: baseline; font-size: 10pt;
      font-family: "Arial"; font-style: normal } .c34 { color: #0000ff;
      font-weight: 400; text-decoration: none; vertical-align: baseline;
      font-size: 10pt; font-family: "Arial"; font-style: normal } .c43 { color:
      #000000; font-weight: 400; text-decoration: none; vertical-align:
      baseline; font-size: 10pt; font-family: "Times New Roman"; font-style:
      normal } .c9 { color: #000000; font-weight: 400; text-decoration: none;
      vertical-align: baseline; font-size: 9pt; font-family: "Arial";
      font-style: normal } .c36 { color: #000000; font-weight: 700;
      text-decoration: none; vertical-align: baseline; font-size: 12pt;
      font-family: "Arial"; font-style: normal } .c33 { margin-left: 5.6pt;
      padding-top: 0.1pt; padding-bottom: 0pt; line-height: 0.9791666666666666;
      text-align: left; margin-right: 14.2pt } .c17 { margin-left: 5.6pt;
      padding-top: 11.4pt; padding-bottom: 0pt; line-height: 1.0; text-align:
      left; margin-right: 9.9pt } .c41 { margin-left: 5.6pt; padding-top: 3.4pt;
      padding-bottom: 0pt; line-height: 1.0; text-align: left; margin-right:
      262pt } .c19 { margin-left: 59.5pt; padding-top: 0pt; padding-left: 0pt;
      padding-bottom: 0pt; line-height: 1.0166666666666666; text-align: left }
      .c5 { margin-left: 5.5pt; padding-top: 0pt; padding-bottom: 0pt;
      line-height: 1.0; text-align: left; margin-right: 9.9pt } .c18 {
      margin-left: 5.5pt; padding-top: 0pt; padding-bottom: 0pt; line-height:
      1.0; text-align: justify; margin-right: 7.2pt } .c2 { margin-left: 4.5pt;
      padding-top: 0.5pt; padding-bottom: 0pt; line-height: 1.0; text-align:
      left } .c50 { margin-left: 5.6pt; padding-top: 0pt; padding-bottom: 0pt;
      line-height: 0.9458333333333333; text-align: left } .c44 { margin-left:
      5.6pt; padding-top: 0.3pt; padding-bottom: 0pt; line-height: 1.0;
      text-align: left } .c12 { padding-top: 0.5pt; padding-bottom: 0pt;
      line-height: 1.0; text-align: left; height: 11pt } .c7 { margin-left:
      5.6pt; padding-top: 0pt; padding-bottom: 0pt; line-height: 1.0;
      text-align: left } .c48 { margin-left: 5.6pt; padding-top: 9.2pt;
      padding-bottom: 0pt; line-height: 1.05; text-align: left } .c20 {
      padding-top: 0.1pt; padding-bottom: 0pt; line-height: 1.0; text-align:
      left; height: 11pt } .c21 { margin-left: 5.5pt; padding-top: 0.3pt;
      padding-bottom: 0pt; line-height: 1.0; text-align: left } .c6 {
      margin-left: 5.6pt; padding-top: 0pt; padding-bottom: 0pt; line-height:
      0.9583333333333334; text-align: left } .c35 { margin-left: 5.5pt;
      padding-top: 0pt; padding-bottom: 0pt; line-height: 0.9541666666666666;
      text-align: left } .c10 { margin-left: 4.5pt; padding-top: 0.1pt;
      padding-bottom: 0pt; line-height: 1.0416666666666667; text-align: left }
      .c14 { margin-left: 5.6pt; padding-top: 3.4pt; padding-bottom: 0pt;
      line-height: 0.9583333333333334; text-align: justify } .c26 { padding-top:
      0.2pt; padding-bottom: 0pt; line-height: 1.0; text-align: left } .c39 {
      padding-top: 0.6pt; padding-bottom: 0pt; line-height: 1.0; text-align:
      left } .c24 { padding-top: 0pt; padding-bottom: 0pt; line-height: 1.0;
      text-align: left } .c28 { padding-top: 0pt; padding-bottom: 0pt;
      line-height: 1.0; text-align: center } .c49 { padding-top: 0.4pt;
      padding-bottom: 0pt; line-height: 1.0; text-align: left } .c32 {
      margin-left: 59.5pt; padding-left: 0pt; margin-right: 25.1pt } .c46 {
      margin-left: 59.5pt; padding-left: 0pt; margin-right: 12.3pt } .c40 {
      margin-left: 59.5pt; padding-left: 0pt; margin-right: 23.2pt } .c38 {
      margin-left: 59.5pt; padding-left: 0pt; margin-right: 47pt } .c51 {
      background-color: #ffffff; max-width: 468pt; padding: 72pt 72pt 72pt 72pt
      } .c42 { margin-left: 59.5pt; padding-left: 0pt; margin-right: 27.6pt }
      .c1 { padding: 0; margin: 0 } .c23 { color: inherit; text-decoration:
      inherit } .c30 { margin-left: 5.5pt; margin-right: 7.2pt } .c16 { height:
      10pt } .c25 { height: 11pt } .c47 { margin-right: 5pt } .c37 {
      margin-left: 5.5pt } .c8 { margin-right: 4.7pt } .title { padding-top:
      3.4pt; color: #000000; font-weight: 700; font-size: 12pt; padding-bottom:
      0pt; font-family: "Times New Roman"; line-height: 1.0; text-align: left }
      .subtitle { padding-top: 18pt; color: #666666; font-size: 24pt;
      padding-bottom: 4pt; font-family: "Georgia"; line-height: 1.0;
      page-break-after: avoid; font-style: italic; text-align: left } li {
      color: #000000; font-size: 11pt; font-family: "Times New Roman" } p {
      margin: 0; color: #000000; font-size: 11pt; font-family: "Times New Roman"
      } h1 { padding-top: 0.1pt; color: #000000; font-weight: 700; font-size:
      11pt; padding-bottom: 0pt; font-family: "Times New Roman"; line-height:
      1.0416666666666667; text-align: left } h2 { padding-top: 0pt; color:
      #000000; font-weight: 700; font-size: 10pt; padding-bottom: 0pt;
      font-family: "Times New Roman"; line-height: 0.9583333333333334;
      font-style: italic; text-align: left } h3 { padding-top: 14pt; color:
      #000000; font-weight: 700; font-size: 14pt; padding-bottom: 4pt;
      font-family: "Times New Roman"; line-height: 1.0; page-break-after: avoid;
      text-align: left } h4 { padding-top: 12pt; color: #000000; font-weight:
      700; font-size: 12pt; padding-bottom: 2pt; font-family: "Times New Roman";
      line-height: 1.0; page-break-after: avoid; text-align: left } h5 {
      padding-top: 11pt; color: #000000; font-weight: 700; font-size: 11pt;
      padding-bottom: 2pt; font-family: "Times New Roman"; line-height: 1.0;
      page-break-after: avoid; text-align: left } h6 { padding-top: 10pt; color:
      #000000; font-weight: 700; font-size: 10pt; padding-bottom: 2pt;
      font-family: "Times New Roman"; line-height: 1.0; page-break-after: avoid;
      text-align: left }
    </style>
  </head>

  <body class="c51 doc-content">

    <div style="margin-top: -25px;">
      <p class="c24 c25"><span class="c13"></span></p>
    </div>
    <p class="c41 title"><span class="c36">Allianz Global Risks US Insurance
        Companies Privacy and Security Statement</span></p>
    <p class="c17"><span class="c0">Protecting you and your family from loss is
        important to Allianz Global Risks US. Just as important to us is
        protecting your privacy and the personal information we use to provide
        you with superior products and service.</span></p>
    <p class="c25 c39"><span class="c4"></span></p>
    <p class="c5"><span class="c0">At Allianz Global Risks US, and its
        subsidiaries, our policy is to maintain appropriate confidentiality with
        regard to all personal information obtained in the course of doing
        business with you. Our pledge to protect your privacy is reflected in
        this Privacy Statement which outlines our principles in collecting,
        using and safeguarding your personal information and information about
        your relationship with us.</span></p>
    <p class="c20"><span class="c9"></span></p>
    <h2 class="c35"><span class="c3">Personal Information Allianz Global Risks
        US Collects</span></h2>
    <p class="c5"><span class="c0">Allianz Global Risks US only collects
        personal information about you when it is necessary to conduct the
        business of insurance. We limit the collection of personal information
        to what we reasonably believe is needed to administer your account. As a
        result, we collect personal information from the following sources:</span></p>
    <ul class="c1 lst-kix_list_1-0 start">
      <li class="c22 li-bullet-0"><span class="c0">Personal information you
          share with us either directly or through your agent, such as the
          information on your insurance application, requested policy change
          information or other forms you may complete.</span></li>
      <li class="c24 c32 li-bullet-0"><span class="c0">Personal information you
          provide or which is obtained through the process of handling a claim,
          including medical information, such as from an accident report.</span>
      </li>
      <li class="c24 c46 li-bullet-0"><span class="c0">Personal information
          about you from your transactions with us, our affiliates or others
          such as the number of years you have been a policyholder with Allianz
          Global Risks US or the types of coverage you purchase.</span></li>
      <li class="c11 li-bullet-0"><span class="c0">Personal information about
          you from a consumer reporting agency, such as a credit report or a
          Motor Vehicle Report. The information in these reports may be retained
          by the consumer reporting agency and disclosed to others.</span></li>
    </ul>
    <p class="c12"><span class="c4"></span></p>
    <p class="c24 c8 c37"><span class="c0">If you visit or use the Allianz
        Global Risks US website, or one of our subsidiaries, we may use
        &ldquo;cookies&rdquo; (small text files transferred from our website to
        your hard drive) to recognize repeat users, track usage and facilitate
        your access to and use of the site. We do not use &ldquo;cookies&rdquo;
        to gather personal information, and we do not link cookies to
        identifiable information, such as your policy number. The
        &ldquo;cookies&rdquo; only enable you to use our website more easily.</span></p>
    <p class="c20"><span class="c9"></span></p>
    <h2 class="c35"><span class="c3">Personal Information Allianz Global Risks
        US Discloses</span></h2>
    <p class="c24 c37 c8"><span class="c0">Allianz Global Risks US does not
        disclose any personal information about current or former customers to
        anyone, except as permitted by law. We may disclose the personal
        information we collect as follows:</span></p>
    <ul class="c1 lst-kix_list_1-0">
      <li class="c24 c40 li-bullet-0"><span class="c0">To consumer reporting
          agencies for the purposes of obtaining a credit report or a Motor
          Vehicle Report in order to determine eligibility for coverage or to
          process your requested transaction.</span></li>
      <li class="c19 li-bullet-0"><span class="c0">To your insurance agent to
          allow them to perform their normal insurance related services for you.</span></li>
      <li class="c19 li-bullet-0"><span class="c0">To medical professionals in
          order to process your claim.</span>
      </li>
      <li class="c19 li-bullet-0"><span class="c0">To an insurance regulatory
          authority pursuant to an examination of our records or business
          practices.</span></li>
      <li class="c19 li-bullet-0"><span class="c0">To law enforcement or other
          government agency as required by law or to report suspected fraud
          activities.</span></li>
      <li class="c24 c42 li-bullet-0"><span class="c0">To actuarial or research
          organizations to conduct studies regarding claims results and
          insurance practices provided that no individual is identified in any
          study or report.</span></li>
      <li class="c19 li-bullet-0"><span class="c0">To our affiliates for
          processing or marketing of our insurance related products or services.</span></li>
      <li class="c24 c38 li-bullet-0"><span class="c0">To group policyholders
          for the purpose of reporting claims experience or conducting an audit
          of our operations.</span></li>
    </ul>
    <p class="c25 c49"><span class="c4"></span></p>
    <p class="c7"><span class="c0">When possible, we advise our vendors and
        other nonaffiliated third parties, to whom we legally provide your
        personal information in the course of conducting our insurance business,
        of our privacy policy. We make every effort to use vendors whose
        approach to customer privacy reflects our own.</span></p>
    <p class="c20"><span class="c9"></span></p>

    <div style="padding-top: 25px;">
      <p style="font-size: 14px;"><span>AGCS-MT PRIVACY NOTICE 02 23</span>
        <span style="padding-left: 300px;">Page 1 of 3</span></p>
      <p style="justify-content: center; text-align: center;">Copyright © 2023
        Allianz Global Risks US Insurance Company. All rights reserved.</p>
    </div>

    <h2 class="c6" style="padding-top: 100px;"><span class="c3">Allianz Global
        Risks US&rsquo;s Policies and Practices with Respect to Security of
        Personal Information</span></h2>
    <p class="c24 c30"><span class="c0">Allianz Global Risks US uses a variety
        of computer hardware and software tools to maintain physical, electronic
        and procedural safeguards that comply with applicable federal and state
        regulations to guard your personal information. We restrict access to
        personal information about you to only those employees who need that
        information to provide products or services to you. Allianz Global Risks
        US, and its subsidiaries, also work hard to ensure that our websites are
        secure. We employ firewalls, encryption technology, user authentication
        systems and access control mechanisms to control access to the personal
        information that may be shared over these sites.</span></p>
    <h2 class="c14 c16"><span class="c3"></span></h2>
    <h2 class="c14"><span class="c3">Your Ability to Access and Correct Your
        Personal Information</span></h2>
    <p class="c18"><span class="c0">If you wish to review your personal
        information, please write to the address below and provide your full
        name, address and policy number(s). To better protect you, please have
        your request notarized so that we can ensure the identity of the person
        requesting the information.</span></p>
    <p class="c12"><span class="c45"></span></p>
    <p class="c24 c37 c47"><span class="c0">Within 30 business days we will
        honor your request by allowing you to see and copy your information in
        person or, if you prefer, provide you a copy of your information. You
        will not be given access to information collected or in connection with
        a claim, or a civil or criminal proceeding involving you. If medical
        information is contained in your file, we may request you to designate a
        medical professional to whom we will send the information. With your
        written request, you may also ask for a record of any disclosure of your
        medical information made within the last three years.</span></p>
    <p class="c24 c25"><span class="c0"></span></p>
    <p class="c5"><span class="c0">If you believe any of our information about
        you is incorrect, please notify us in writing at the address below. We
        will review your request and, within 30 business days, let you know if
        our investigation has resulted in a correction of your information. If
        we do not believe an error exists, you may file a statement disputing
        the information. We will attach the statement to your file. We will send
        any corrections we make or your statement to any person or organization
        to whom we provided your information within the past two years or who
        may receive your information from us in the future. Please be aware that
        we do not control the personal information about you obtained from other
        third parties such as consumer reporting agencies or Departments of
        Motor Vehicles. You will need to contact these third parties directly to
        correct your personal information. We will provide you with the name and
        address of these third parties.</span></p>
    <p class="c20"><span class="c0"></span></p>
    <h2 class="c6"><span class="c3">Notification of Change</span></h2>
    <p class="c7 c8"><span class="c0">At Allianz Global Risks US, your trust is
        one of our most important assets. We will continually work to protect
        the privacy of our individual customers and will continually review our
        privacy policy. If at some point in the future we revise our privacy
        practices that affect your personal information, we will notify you
        prior to introducing any changes. This Privacy Statement is also
        displayed on our website. (</span><span class="c27">http</span><span
        class="c27"
      ><a
          class="c23"
          href="https://www.google.com/url?q=http://www.agcs.allianz.com/global-offices/united-states/)&amp;sa=D&amp;source=editors&amp;ust=1704632791636800&amp;usg=AOvVaw2Iy7VsNn4gR4O1bmPpchs-"
        >s://www.ag</a></span><span class="c27">cs.</span><span class="c27"><a
          class="c23"
          href="https://www.google.com/url?q=http://www.agcs.allianz.com/global-offices/united-states/)&amp;sa=D&amp;source=editors&amp;ust=1704632791637119&amp;usg=AOvVaw1bG0WCBicpJ4EKrKQ1rQR1"
        >allian</a></span><span class="c27">z</span><span class="c27"><a
          class="c23"
          href="https://www.google.com/url?q=http://www.agcs.allianz.com/global-offices/united-states/)&amp;sa=D&amp;source=editors&amp;ust=1704632791637394&amp;usg=AOvVaw38gQRfZJH0mNrNebNDC5a-"
        >.com/global-offices/united-states/</a></span><span class="c0"><a
          class="c23"
          href="https://www.google.com/url?q=http://www.agcs.allianz.com/global-offices/united-states/)&amp;sa=D&amp;source=editors&amp;ust=1704632791637667&amp;usg=AOvVaw1e0lTAiKYD91aIfeVMtww2"
        >)</a></span>
    </p>
    <div style="padding-top: 350px;">
      <p style="font-size: 14px;"><span>AGCS-MT PRIVACY NOTICE 02 23</span>
        <span style="padding-left: 300px;">Page 2 of 3</span></p>
      <p style="justify-content: center; text-align: center;">Copyright © 2023
        Allianz Global Risks US Insurance Company. All rights reserved.</p>
    </div>

    <h1 class="c48" style="padding-top: 100px;"><span class="c31">For More
        Information or if You have Questions</span></h1>
    <p class="c33"><span class="c0">Should you have further questions regarding
        our privacy policy, you can contact us in a number of ways. You may
        email us at
      </span><span class="c27"><a
          class="c23"
          href="mailto:nacorpcompliance@agcs.allianz.com"
        >nacorpcompliance@agcs.allianz.com</a></span><span class="c34"><a
          class="c23"
          href="mailto:nacorpcompliance@agcs.allianz.com"
        >&nbsp;</a></span><span class="c0">or you can write to us at:</span></p>
    <p class="c12"><span class="c15"></span></p>
    <p class="c7"><span class="c0">Allianz Global Risks US</span></p>
    <p class="c44"><span class="c0">Corporate Compliance Department </span></p>
    <p class="c44"><span class="c0">225 W. Washington Street, Suite 1800
      </span></p>
    <p class="c21"><span class="c0">Chicago, IL 60606 </span></p>
    <p class="c25 c26"><span class="c9"></span></p>
    <h1 class="c10"><span class="c31">Allianz Global Risks US&rsquo;s Family of
        Companies</span></h1>
    <p class="c50"><span class="c0">The following lists the issuing companies
        Allianz Global Risks US uses to issue insurance policies nationwide:</span></p>
    <p class="c24 c25"><span class="c29"></span></p>
    <p class="c2"><span class="c0">AGCS Marine Insurance Company</span></p>
    <p class="c2"><span class="c0">Allianz Global Risks US Insurance Company</span></p>
    <p class="c2"><span class="c0">Allianz Underwriters Insurance Company</span></p>
    <p class="c2"><span class="c0">American Automobile Insurance Company</span></p>
    <p class="c2"><span class="c0">Chicago Insurance Company</span></p>
    <p class="c2"><span class="c0">Fireman&rsquo;s Fund Insurance Company</span></p>
    <p class="c2"><span class="c0">Fireman&rsquo;s Fund Indemnity Corporation</span></p>
    <p class="c2"><span class="c0">Interstate Fire &amp; Casualty Company</span></p>
    <p class="c2"><span class="c0">National Surety Corporation</span></p>
    <p class="c6 c25"><span class="c43"></span></p>
    <div style="padding-top: 525px;">
      <p style="font-size: 14px;"><span>AGCS-MT PRIVACY NOTICE 02 23</span>
        <span style="padding-left: 300px;">Page 3 of 3</span></p>
      <p style="justify-content: center; text-align: center;">Copyright © 2023
        Allianz Global Risks US Insurance Company. All rights reserved.</p>
    </div>

  </body>

</html>