<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">
        .lst-kix_list_1-3>li:before {
            content: "\002022   "
        }

        .lst-kix_list_1-4>li:before {
            content: "\002022   "
        }

        ul.lst-kix_list_1-0 {
            list-style-type: none
        }

        .lst-kix_list_1-7>li:before {
            content: "\002022   "
        }

        .lst-kix_list_1-5>li:before {
            content: "\002022   "
        }

        .lst-kix_list_1-6>li:before {
            content: "\002022   "
        }

        li.li-bullet-0:before {
            margin-left: -18pt;
            white-space: nowrap;
            display: inline-block;
            min-width: 18pt
        }

        ul.lst-kix_list_1-3 {
            list-style-type: none
        }

        .lst-kix_list_1-0>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_list_1-4 {
            list-style-type: none
        }

        .lst-kix_list_1-8>li:before {
            content: "\002022   "
        }

        ul.lst-kix_list_1-1 {
            list-style-type: none
        }

        ul.lst-kix_list_1-2 {
            list-style-type: none
        }

        ul.lst-kix_list_1-7 {
            list-style-type: none
        }

        .lst-kix_list_1-1>li:before {
            content: "\002022   "
        }

        .lst-kix_list_1-2>li:before {
            content: "\002022   "
        }

        ul.lst-kix_list_1-8 {
            list-style-type: none
        }

        ul.lst-kix_list_1-5 {
            list-style-type: none
        }

        ul.lst-kix_list_1-6 {
            list-style-type: none
        }

        ol {
            margin: 0;
            padding: 0
        }

        table td,
        table th {
            padding: 0
        }

        .c17 {
            -webkit-text-decoration-skip: none;
            color: #0000ff;
            font-weight: 400;
            text-decoration: underline;
            vertical-align: baseline;
            text-decoration-skip-ink: none;
            font-size: 10pt;
            font-family: "Arial";
            font-style: normal
        }

        .c10 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Arial";
            font-style: normal
        }

        .c26 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 10pt;
            font-family: "Arial";
            font-style: italic
        }

        .c16 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c25 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 8.5pt;
            font-family: "Arial";
            font-style: normal
        }

        .c36 {
            color: #0000ff;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 10pt;
            font-family: "Arial";
            font-style: normal
        }

        .c4 {
            margin-left: 59.5pt;
            padding-top: 0pt;
            padding-left: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left;
            margin-right: 9pt
        }

        .c1 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 10pt;
            font-family: "Arial";
            font-style: normal
        }

        .c7 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 9pt;
            font-family: "Arial";
            font-style: normal
        }

        .c24 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times New Roman";
            font-style: normal
        }

        .c3 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c2 {
            margin-left: 5.6pt;
            padding-top: 3.9pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left;
            margin-right: 270.2pt
        }

        .c8 {
            margin-left: 5.5pt;
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left;
            margin-right: 14.2pt
        }

        .c14 {
            margin-left: 5.6pt;
            padding-top: 0.1pt;
            padding-bottom: 0pt;
            line-height: 0.9791666666666666;
            text-align: left;
            margin-right: 14.2pt
        }

        .c19 {
            padding-top: 0.5pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left;
            height: 11pt
        }

        .c43 {
            padding-top: 11.4pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left;
            margin-right: 14.2pt
        }

        .c5 {
            padding-top: 0.1pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left;
            height: 11pt
        }

        .c6 {
            margin-left: 4.5pt;
            padding-top: 0.5pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c32 {
            padding-top: 0.6pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left;
            height: 11pt
        }

        .c34 {
            padding-top: 0.2pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left;
            height: 11pt
        }

        .c20 {
            margin-left: 5.6pt;
            padding-top: 3.8pt;
            padding-bottom: 0pt;
            line-height: 1.05;
            text-align: left
        }

        .c38 {
            margin-left: 4.5pt;
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0416666666666667;
            text-align: left
        }

        .c9 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left;
            height: 11pt
        }

        .c42 {
            padding-top: 0.3pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left;
            height: 11pt
        }

        .c13 {
            margin-left: 5.5pt;
            padding-top: 0.1pt;
            padding-bottom: 0pt;
            line-height: 0.9500000000000001;
            text-align: left
        }

        .c0 {
            margin-left: 5.6pt;
            padding-top: 0.3pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c30 {
            margin-left: 5.5pt;
            padding-top: 0.3pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c21 {
            margin-left: 5.5pt;
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 0.9541666666666666;
            text-align: left
        }

        .c11 {
            margin-left: 5.5pt;
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c41 {
            padding-top: 0.1pt;
            padding-bottom: 0pt;
            line-height: 0.9583333333333334;
            text-align: left
        }

        .c35 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 0.9583333333333334;
            text-align: left
        }

        .c39 {
            padding-top: 0.1pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c15 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c40 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: center
        }

        .c44 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 0.9458333333333333;
            text-align: left
        }

        .c37 {
            margin-left: 59.5pt;
            padding-left: 0pt;
            margin-right: 25.1pt
        }

        .c28 {
            margin-left: 59.5pt;
            padding-left: 0pt;
            margin-right: 12.3pt
        }

        .c33 {
            margin-left: 59.5pt;
            padding-left: 0pt;
            margin-right: 10.7pt
        }

        .c12 {
            background-color: #ffffff;
            max-width: 468pt;
            padding: 72pt 72pt 72pt 72pt
        }

        .c29 {
            color: inherit;
            text-decoration: inherit
        }

        .c27 {
            padding: 0;
            margin: 0
        }

        .c31 {
            margin-left: 5.6pt
        }

        .c23 {
            height: 24pt
        }

        .c22 {
            margin-right: 7.2pt
        }

        .c18 {
            margin-right: 4.7pt
        }

        .title {
            padding-top: 3.9pt;
            color: #000000;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 0pt;
            font-family: "Times New Roman";
            line-height: 1.0;
            text-align: left
        }

        .subtitle {
            padding-top: 18pt;
            color: #666666;
            font-size: 24pt;
            padding-bottom: 4pt;
            font-family: "Georgia";
            line-height: 1.0;
            page-break-after: avoid;
            font-style: italic;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Times New Roman"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Times New Roman"
        }

        h1 {
            padding-top: 0pt;
            color: #000000;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 0pt;
            font-family: "Times New Roman";
            line-height: 1.0416666666666667;
            text-align: left
        }

        h2 {
            padding-top: 0pt;
            color: #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 0pt;
            font-family: "Times New Roman";
            line-height: 0.9583333333333334;
            font-style: italic;
            text-align: left
        }

        h3 {
            padding-top: 14pt;
            color: #000000;
            font-weight: 700;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Times New Roman";
            line-height: 1.0;
            page-break-after: avoid;
            text-align: left
        }

        h4 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 2pt;
            font-family: "Times New Roman";
            line-height: 1.0;
            page-break-after: avoid;
            text-align: left
        }

        h5 {
            padding-top: 11pt;
            color: #000000;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 2pt;
            font-family: "Times New Roman";
            line-height: 1.0;
            page-break-after: avoid;
            text-align: left
        }

        h6 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 2pt;
            font-family: "Times New Roman";
            line-height: 1.0;
            page-break-after: avoid;
            text-align: left
        }
    </style>
</head>

<body class="c12 doc-content">
    <div>
        <p class="c9"><span class="c24"></span></p>
    </div>
    <p class="c2 title"><span class="c10">Allianz Global Risks US Insurance Company Privacy and Security
            Statement</span></p>
    <p class="c31 c43"><span class="c1">Protecting you and your family from loss is important to Allianz Global Risks
            US. Just as important to us is protecting your privacy and the personal information we use to provide you
            with superior products and service.</span></p>
    <p class="c9"><span class="c7"></span></p>
    <p class="c8"><span class="c1">At Allianz Global Risks US, and its subsidiaries, our policy is to maintain
            appropriate confidentiality with regard to all personal information obtained in the course of doing business
            with you. Our pledge to protect your privacy is reflected in this Privacy Statement which outlines our
            principles in collecting, using and safeguarding your personal information and information about your
            relationship with us.</span></p>
    <p class="c5"><span class="c7"></span></p>
    <h2 class="c13"><span class="c26">Personal Information Allianz Global Risks US Collects</span></h2>
    <p class="c8"><span class="c1">Allianz Global Risks US only collects personal information about you when it is
            necessary to conduct the business of insurance. We limit the collection of personal information to what we
            reasonably believe is needed to administer your account. As a result, we collect personal information from
            the following sources:</span></p>
    <ul class="c27 lst-kix_list_1-0 start">
        <li class="c15 c33 li-bullet-0"><span class="c1">Personal information you share with us either directly or
                through your agent, such as the information on your insurance application, requested policy change
                information or other forms you may complete.</span></li>
        <li class="c15 c37 li-bullet-0"><span class="c1">Personal information you provide or which is obtained through
                the process of handling a claim, including medical information, such as from an accident report.</span>
        </li>
        <li class="c15 c28 li-bullet-0"><span class="c1">Personal information about you from your transactions with us,
                our affiliates or others such as the number of years you have been a policyholder with Allianz Global
                Risks US or the types of coverage you purchase.</span></li>
        <li class="c4 li-bullet-0"><span class="c1">Personal information about you from a consumer reporting agency,
                such as a credit report or a Motor Vehicle Report.</span></li>
    </ul>
    <p class="c42"><span class="c25"></span></p>
    <p class="c11 c18"><span class="c1">If you visit or use the Allianz Global Risks US website, or one of our
            subsidiaries, we may use &ldquo;cookies&rdquo; (small text files transferred from our website to your hard
            drive) to recognize repeat users, track usage and facilitate your access to and use of the site. We do not
            use &ldquo;cookies&rdquo; to gather personal information, and we do not link cookies to identifiable
            information, such as your policy number. The &ldquo;cookies&rdquo; only enable you to use our website more
            easily.</span></p>
    <p class="c5"><span class="c7"></span></p>
    <h2 class="c21"><span class="c26">Personal Information Allianz Global Risks US Discloses</span></h2>
    <p class="c11 c18"><span class="c1">Allianz Global Risks US does not disclose any personal information about current
            or former customers to anyone, except as permitted by law.</span></p>
    <p class="c19"><span class="c25"></span></p>
    <p class="c31 c39"><span class="c1">When possible, we advise our vendors and other nonaffiliated third parties, to
            whom we legally provide your personal information in the course of conducting our insurance business, of our
            privacy policy. We make every effort to use vendors whose approach to customer privacy reflects our
            own.</span></p>
    <p class="c5"><span class="c7"></span></p>
    <h2 class="c31 c41"><span class="c26">Allianz Global Risks US&rsquo;s Policies and Practices with Respect to
            Security of Personal Information</span></h2>
    <p class="c11 c22"><span class="c1">Allianz Global Risks US uses a variety of computer hardware and software tools
            to maintain physical, electronic and procedural safeguards that comply with applicable federal and state
            regulations to guard your personal information. We restrict access to personal information about you to only
            those employees who need that information to provide products or services to you.</span></p>
    <p class="c19"><span class="c25"></span></p>
    <p class="c11"><span class="c1">Allianz Global Risks US, and its subsidiaries, also works hard to ensure that our
            websites are secure. We employ firewalls, encryption technology, user authentication systems and access
            control mechanisms to control access to the personal information that may be shared over these sites.</span>
    </p>
    <p class="c5"><span class="c7"></span></p>
    <div style="padding-top: 75px;">
        <p style="font-size: 14px;"><span>AGCS-GLB PRIVACY NOTICE 02 23</span> <span style="padding-left: 275px;">Page 1 of 2</span></p>
        <p style="justify-content: center; text-align: center;">Copyright © 2023 Allianz Global Risks US Insurance Company. All rights reserved.</p>

    </div>








    <h2 class="c31 c35" style="padding-top: 100px;"><span class="c26">Notification of Change</span></h2>
    <p class="c11 c18"><span class="c1">At Allianz Global Risks US, your trust is one of our most important assets. We
            will continually work to protect the privacy of our individual customers and will continually review our
            privacy policy. If at some point in the future we revise our privacy practices that affect your personal
            information, we will notify you prior to introducing any changes. This Privacy Statement is also displayed
            on our website. (</span><span class="c17">http</span><span class="c17"><a class="c29"
                href="https://www.google.com/url?q=http://www.agcs.allianz.com/global-offices/united-states/)&amp;sa=D&amp;source=editors&amp;ust=1704632771947588&amp;usg=AOvVaw1Qm_KQWRBBjQbW6vsPzNhe">s://www.agcs.allianz.com/global-offices/united-states/</a></span><span
            class="c1">)</span></p>
    <h1 class="c20 c23"><span class="c16"></span></h1>
    <h1 class="c20"><span class="c16">For More Information or if You have Questions</span></h1>
    <p class="c14"><span class="c1">Should you have further questions regarding our privacy policy, you can contact us
            in a number of ways. You may email us at </span><span class="c17"><a class="c29"
                href="mailto:nacorpcompliance@agcs.allianz.com">nacorpcompliance@agcs.allianz.com</a></span><span
            class="c36"><a class="c29" href="mailto:nacorpcompliance@agcs.allianz.com">&nbsp;</a></span><span
            class="c1">or you can write to us at:</span></p>
    <p class="c19"><span class="c3"></span></p>
    <p class="c15 c31"><span class="c1">Allianz Global Risks US</span></p>
    <p class="c0"><span class="c1">Corporate Compliance Department </span></p>
    <p class="c0"><span class="c1">225 W. Washington Street, Suite 1800 </span></p>
    <p class="c30"><span class="c1">Chicago, IL 60606</span></p>
    <p class="c34"><span class="c7"></span></p>
    <h1 class="c38"><span class="c16">Allianz Global Risks US&rsquo;s Family of Companies</span></h1>
    <p class="c31 c44"><span class="c1">The following lists the issuing companies Allianz Global Risks US uses to issue
            insurance policies nationwide:</span></p>
    <p class="c32"><span class="c1"></span></p>
    <p class="c6"><span class="c1">AGCS Marine Insurance Company</span></p>
    <p class="c6"><span class="c1">Allianz Global Risks US Insurance Company</span></p>
    <p class="c6"><span class="c1">Allianz Underwriters Insurance Company</span></p>
    <p class="c6"><span class="c1">American Automobile Insurance Company</span></p>
    <p class="c6"><span class="c1">Chicago Insurance Company</span></p>
    <p class="c6"><span class="c1">Fireman&rsquo;s Fund Insurance Company</span></p>
    <p class="c6"><span class="c1">Fireman&rsquo;s Fund Indemnity Corporation</span></p>
    <p class="c6"><span class="c1">Interstate Fire &amp; Casualty Company</span></p>
    <p class="c6"><span class="c1">National Surety Corporation</span></p>
    <div style="padding-top: 390px;">
        <p style="font-size: 14px;"><span>AGCS-GLB PRIVACY NOTICE 02 23</span> <span style="padding-left: 275px;">Page 2 of 2</span></p>
        <p style="justify-content: center; text-align: center;">Copyright © 2023 Allianz Global Risks US Insurance Company. All rights reserved.</p>
    </div>
</body>

</html>