<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">
        @import url(https://themes.googleusercontent.com/fonts/css?kit=fpjTOVmNbO4Lz34iLyptLUXza5VhXqVC6o75Eld_V98);

        ul.lst-kix_list_1-0 {
            list-style-type: none
        }

        .lst-kix_list_6-1>li {
            counter-increment: lst-ctn-kix_list_6-1
        }

        .lst-kix_list_7-1>li {
            counter-increment: lst-ctn-kix_list_7-1
        }

        .lst-kix_list_3-0>li:before {
            content: "\0025cf   "
        }

        ol.lst-kix_list_7-7.start {
            counter-reset: lst-ctn-kix_list_7-7 0
        }

        ul.lst-kix_list_5-7 {
            list-style-type: none
        }

        ul.lst-kix_list_5-8 {
            list-style-type: none
        }

        .lst-kix_list_3-1>li:before {
            content: "\0025cf   "
        }

        .lst-kix_list_3-2>li:before {
            content: "\0025aa   "
        }

        ul.lst-kix_list_5-5 {
            list-style-type: none
        }

        ul.lst-kix_list_5-6 {
            list-style-type: none
        }

        ol.lst-kix_list_6-6.start {
            counter-reset: lst-ctn-kix_list_6-6 0
        }

        .lst-kix_list_8-1>li:before {
            content: "o  "
        }

        ol.lst-kix_list_7-4.start {
            counter-reset: lst-ctn-kix_list_7-4 0
        }

        .lst-kix_list_8-2>li:before {
            content: "\0025aa   "
        }

        ol.lst-kix_list_7-5 {
            list-style-type: none
        }

        ul.lst-kix_list_1-3 {
            list-style-type: none
        }

        .lst-kix_list_3-5>li:before {
            content: "\0025aa   "
        }

        ul.lst-kix_list_5-0 {
            list-style-type: none
        }

        ol.lst-kix_list_7-6 {
            list-style-type: none
        }

        ul.lst-kix_list_1-4 {
            list-style-type: none
        }

        ol.lst-kix_list_7-7 {
            list-style-type: none
        }

        ul.lst-kix_list_1-1 {
            list-style-type: none
        }

        .lst-kix_list_3-4>li:before {
            content: "o  "
        }

        ol.lst-kix_list_7-8 {
            list-style-type: none
        }

        ul.lst-kix_list_1-2 {
            list-style-type: none
        }

        ul.lst-kix_list_5-3 {
            list-style-type: none
        }

        ol.lst-kix_list_7-1 {
            list-style-type: none
        }

        ul.lst-kix_list_1-7 {
            list-style-type: none
        }

        .lst-kix_list_3-3>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_list_5-4 {
            list-style-type: none
        }

        ol.lst-kix_list_7-2 {
            list-style-type: none
        }

        ul.lst-kix_list_1-8 {
            list-style-type: none
        }

        ul.lst-kix_list_5-1 {
            list-style-type: none
        }

        ol.lst-kix_list_7-3 {
            list-style-type: none
        }

        .lst-kix_list_8-0>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_list_1-5 {
            list-style-type: none
        }

        ul.lst-kix_list_5-2 {
            list-style-type: none
        }

        ol.lst-kix_list_7-4 {
            list-style-type: none
        }

        ul.lst-kix_list_1-6 {
            list-style-type: none
        }

        .lst-kix_list_8-7>li:before {
            content: "o  "
        }

        .lst-kix_list_3-8>li:before {
            content: "\0025aa   "
        }

        .lst-kix_list_8-5>li:before {
            content: "\0025aa   "
        }

        .lst-kix_list_8-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_list_8-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_list_3-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_list_3-7>li:before {
            content: "o  "
        }

        .lst-kix_list_8-4>li:before {
            content: "o  "
        }

        .lst-kix_list_8-8>li:before {
            content: "\0025aa   "
        }

        .lst-kix_list_7-2>li {
            counter-increment: lst-ctn-kix_list_7-2
        }

        .lst-kix_list_5-0>li:before {
            content: "\0025cf   "
        }

        ol.lst-kix_list_6-1 {
            list-style-type: none
        }

        ol.lst-kix_list_7-2.start {
            counter-reset: lst-ctn-kix_list_7-2 0
        }

        .lst-kix_list_4-8>li:before {
            content: "\0025aa   "
        }

        .lst-kix_list_5-3>li:before {
            content: "\0025cf   "
        }

        ol.lst-kix_list_6-4.start {
            counter-reset: lst-ctn-kix_list_6-4 0
        }

        .lst-kix_list_4-7>li:before {
            content: "o  "
        }

        .lst-kix_list_5-2>li:before {
            content: "\0025aa   "
        }

        .lst-kix_list_5-1>li:before {
            content: "o  "
        }

        ul.lst-kix_list_4-8 {
            list-style-type: none
        }

        .lst-kix_list_5-7>li:before {
            content: "o  "
        }

        ul.lst-kix_list_8-4 {
            list-style-type: none
        }

        ul.lst-kix_list_8-5 {
            list-style-type: none
        }

        ul.lst-kix_list_4-6 {
            list-style-type: none
        }

        .lst-kix_list_5-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_list_5-8>li:before {
            content: "\0025aa   "
        }

        ul.lst-kix_list_8-2 {
            list-style-type: none
        }

        ul.lst-kix_list_4-7 {
            list-style-type: none
        }

        .lst-kix_list_7-3>li {
            counter-increment: lst-ctn-kix_list_7-3
        }

        ul.lst-kix_list_8-3 {
            list-style-type: none
        }

        ul.lst-kix_list_8-8 {
            list-style-type: none
        }

        ul.lst-kix_list_8-6 {
            list-style-type: none
        }

        ul.lst-kix_list_8-7 {
            list-style-type: none
        }

        ul.lst-kix_list_4-0 {
            list-style-type: none
        }

        ol.lst-kix_list_6-6 {
            list-style-type: none
        }

        ul.lst-kix_list_4-1 {
            list-style-type: none
        }

        ol.lst-kix_list_6-7 {
            list-style-type: none
        }

        .lst-kix_list_5-4>li:before {
            content: "o  "
        }

        ol.lst-kix_list_6-8 {
            list-style-type: none
        }

        ul.lst-kix_list_4-4 {
            list-style-type: none
        }

        .lst-kix_list_5-5>li:before {
            content: "\0025aa   "
        }

        ol.lst-kix_list_6-2 {
            list-style-type: none
        }

        ul.lst-kix_list_8-0 {
            list-style-type: none
        }

        ul.lst-kix_list_4-5 {
            list-style-type: none
        }

        ol.lst-kix_list_6-3 {
            list-style-type: none
        }

        ul.lst-kix_list_8-1 {
            list-style-type: none
        }

        ul.lst-kix_list_4-2 {
            list-style-type: none
        }

        ol.lst-kix_list_6-4 {
            list-style-type: none
        }

        ul.lst-kix_list_4-3 {
            list-style-type: none
        }

        ol.lst-kix_list_6-5 {
            list-style-type: none
        }

        ol.lst-kix_list_7-8.start {
            counter-reset: lst-ctn-kix_list_7-8 0
        }

        .lst-kix_list_6-1>li:before {
            content: "" counter(lst-ctn-kix_list_6-1, lower-latin) ". "
        }

        .lst-kix_list_6-3>li:before {
            content: "" counter(lst-ctn-kix_list_6-3, decimal) ". "
        }

        .lst-kix_list_6-5>li {
            counter-increment: lst-ctn-kix_list_6-5
        }

        ol.lst-kix_list_7-1.start {
            counter-reset: lst-ctn-kix_list_7-1 0
        }

        .lst-kix_list_6-8>li {
            counter-increment: lst-ctn-kix_list_6-8
        }

        .lst-kix_list_6-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_list_6-4>li:before {
            content: "" counter(lst-ctn-kix_list_6-4, lower-latin) ". "
        }

        ol.lst-kix_list_6-3.start {
            counter-reset: lst-ctn-kix_list_6-3 0
        }

        .lst-kix_list_6-2>li:before {
            content: "" counter(lst-ctn-kix_list_6-2, lower-roman) ". "
        }

        .lst-kix_list_6-8>li:before {
            content: "" counter(lst-ctn-kix_list_6-8, lower-roman) ". "
        }

        .lst-kix_list_6-5>li:before {
            content: "" counter(lst-ctn-kix_list_6-5, lower-roman) ". "
        }

        .lst-kix_list_6-7>li:before {
            content: "" counter(lst-ctn-kix_list_6-7, lower-latin) ". "
        }

        .lst-kix_list_7-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_list_6-2>li {
            counter-increment: lst-ctn-kix_list_6-2
        }

        .lst-kix_list_6-6>li:before {
            content: "" counter(lst-ctn-kix_list_6-6, decimal) ". "
        }

        .lst-kix_list_2-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_list_2-7>li:before {
            content: "o  "
        }

        .lst-kix_list_7-4>li:before {
            content: "" counter(lst-ctn-kix_list_7-4, lower-latin) ". "
        }

        .lst-kix_list_7-6>li:before {
            content: "" counter(lst-ctn-kix_list_7-6, decimal) ". "
        }

        .lst-kix_list_2-4>li:before {
            content: "o  "
        }

        .lst-kix_list_2-5>li:before {
            content: "\0025aa   "
        }

        .lst-kix_list_2-8>li:before {
            content: "\0025aa   "
        }

        ol.lst-kix_list_6-2.start {
            counter-reset: lst-ctn-kix_list_6-2 0
        }

        .lst-kix_list_7-1>li:before {
            content: "" counter(lst-ctn-kix_list_7-1, lower-latin) ". "
        }

        .lst-kix_list_7-5>li:before {
            content: "" counter(lst-ctn-kix_list_7-5, lower-roman) ". "
        }

        .lst-kix_list_7-2>li:before {
            content: "" counter(lst-ctn-kix_list_7-2, lower-roman) ". "
        }

        .lst-kix_list_7-6>li {
            counter-increment: lst-ctn-kix_list_7-6
        }

        .lst-kix_list_6-6>li {
            counter-increment: lst-ctn-kix_list_6-6
        }

        .lst-kix_list_7-3>li:before {
            content: "" counter(lst-ctn-kix_list_7-3, decimal) ". "
        }

        ul.lst-kix_list_3-7 {
            list-style-type: none
        }

        ul.lst-kix_list_3-8 {
            list-style-type: none
        }

        .lst-kix_list_6-7>li {
            counter-increment: lst-ctn-kix_list_6-7
        }

        ul.lst-kix_list_3-1 {
            list-style-type: none
        }

        ul.lst-kix_list_3-2 {
            list-style-type: none
        }

        .lst-kix_list_7-7>li {
            counter-increment: lst-ctn-kix_list_7-7
        }

        .lst-kix_list_7-8>li:before {
            content: "" counter(lst-ctn-kix_list_7-8, lower-roman) ". "
        }

        ul.lst-kix_list_3-0 {
            list-style-type: none
        }

        ul.lst-kix_list_3-5 {
            list-style-type: none
        }

        ul.lst-kix_list_3-6 {
            list-style-type: none
        }

        ul.lst-kix_list_3-3 {
            list-style-type: none
        }

        ul.lst-kix_list_7-0 {
            list-style-type: none
        }

        .lst-kix_list_7-7>li:before {
            content: "" counter(lst-ctn-kix_list_7-7, lower-latin) ". "
        }

        ul.lst-kix_list_3-4 {
            list-style-type: none
        }

        .lst-kix_list_7-8>li {
            counter-increment: lst-ctn-kix_list_7-8
        }

        .lst-kix_list_7-5>li {
            counter-increment: lst-ctn-kix_list_7-5
        }

        .lst-kix_list_4-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_list_4-1>li:before {
            content: "o  "
        }

        ol.lst-kix_list_7-3.start {
            counter-reset: lst-ctn-kix_list_7-3 0
        }

        ol.lst-kix_list_6-8.start {
            counter-reset: lst-ctn-kix_list_6-8 0
        }

        .lst-kix_list_4-4>li:before {
            content: "o  "
        }

        .lst-kix_list_4-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_list_4-5>li:before {
            content: "\0025aa   "
        }

        ol.lst-kix_list_6-5.start {
            counter-reset: lst-ctn-kix_list_6-5 0
        }

        .lst-kix_list_4-2>li:before {
            content: "\0025aa   "
        }

        .lst-kix_list_4-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_list_6-4>li {
            counter-increment: lst-ctn-kix_list_6-4
        }

        ol.lst-kix_list_6-7.start {
            counter-reset: lst-ctn-kix_list_6-7 0
        }

        .lst-kix_list_6-3>li {
            counter-increment: lst-ctn-kix_list_6-3
        }

        ul.lst-kix_list_2-8 {
            list-style-type: none
        }

        ol.lst-kix_list_7-6.start {
            counter-reset: lst-ctn-kix_list_7-6 0
        }

        ol.lst-kix_list_6-1.start {
            counter-reset: lst-ctn-kix_list_6-1 0
        }

        .lst-kix_list_7-4>li {
            counter-increment: lst-ctn-kix_list_7-4
        }

        ul.lst-kix_list_2-2 {
            list-style-type: none
        }

        .lst-kix_list_1-0>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_list_2-3 {
            list-style-type: none
        }

        ul.lst-kix_list_2-0 {
            list-style-type: none
        }

        ul.lst-kix_list_2-1 {
            list-style-type: none
        }

        ul.lst-kix_list_2-6 {
            list-style-type: none
        }

        .lst-kix_list_1-1>li:before {
            content: "o  "
        }

        .lst-kix_list_1-2>li:before {
            content: "\0025aa   "
        }

        ul.lst-kix_list_2-7 {
            list-style-type: none
        }

        ul.lst-kix_list_6-0 {
            list-style-type: none
        }

        ul.lst-kix_list_2-4 {
            list-style-type: none
        }

        ul.lst-kix_list_2-5 {
            list-style-type: none
        }

        .lst-kix_list_1-3>li:before {
            content: "\0025aa   "
        }

        .lst-kix_list_1-4>li:before {
            content: "\0025aa   "
        }

        .lst-kix_list_1-7>li:before {
            content: "\0025aa   "
        }

        .lst-kix_list_1-5>li:before {
            content: "\0025aa   "
        }

        .lst-kix_list_1-6>li:before {
            content: "\0025aa   "
        }

        li.li-bullet-0:before {
            margin-left: -18pt;
            white-space: nowrap;
            display: inline-block;
            min-width: 18pt
        }

        ol.lst-kix_list_7-5.start {
            counter-reset: lst-ctn-kix_list_7-5 0
        }

        .lst-kix_list_2-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_list_2-1>li:before {
            content: "o  "
        }

        .lst-kix_list_1-8>li:before {
            content: "\0025aa   "
        }

        .lst-kix_list_2-2>li:before {
            content: "\0025aa   "
        }

        .lst-kix_list_2-3>li:before {
            content: "\0025cf   "
        }

        ol {
            margin: 0;
            padding: 0
        }

        table td,
        table th {
            padding: 0
        }

        .c10 {
            border-right-style: solid;
            padding: 0pt 5.4pt 0pt 5.4pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 134.8pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c5 {
            border-right-style: solid;
            padding: 0pt 5.4pt 0pt 5.4pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 332.8pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c1 {
            margin-left: 36pt;
            padding-top: 0pt;
            padding-left: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0791666666666666;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c6 {
            margin-left: 36pt;
            padding-top: 0pt;
            padding-bottom: 8pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c4 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 10pt;
            font-family: "Arial";
            font-style: normal
        }

        .c0 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 10pt;
            font-family: "Arial";
            font-style: normal
        }

        .c17 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Calibri";
            font-style: normal
        }

        .c13 {
            color: #7f7f7f;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Calibri";
            font-style: normal
        }

        .c18 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: right
        }

        .c2 {
            padding-top: 0pt;
            padding-bottom: 8pt;
            line-height: 1.0791666666666666;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c7 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c16 {
            -webkit-text-decoration-skip: none;
            color: #0563c1;
            text-decoration: underline;
            text-decoration-skip-ink: none
        }

        .c12 {
            border-spacing: 0;
            border-collapse: collapse;
            margin-right: auto
        }

        .c19 {
            font-size: 10pt;
            font-family: "Arial";
            font-weight: 700
        }

        .c11 {
            font-size: 10pt;
            font-family: "Arial";
            font-weight: 400
        }

        .c20 {
            background-color: #ffffff;
            padding: 75pt;
        }

        .c9 {
            padding: 0;
            margin: 0
        }

        .c8 {
            margin-left: 36pt;
            padding-left: 0pt
        }

        .c15 {
            color: inherit;
            text-decoration: inherit
        }

        .c3 {
            height: 0pt
        }

        .c14 {
            height: 11pt
        }

        .title {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 36pt;
            padding-bottom: 6pt;
            font-family: "Calibri";
            line-height: 1.0791666666666666;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 18pt;
            color: #666666;
            font-size: 24pt;
            padding-bottom: 4pt;
            font-family: "Georgia";
            line-height: 1.0791666666666666;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .page {
            min-height: 100%;
            max-height: 100%;
        }

        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Calibri"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Calibri"
        }

        h1 {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 24pt;
            padding-bottom: 6pt;
            font-family: "Calibri";
            line-height: 1.0791666666666666;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-weight: 700;
            font-size: 18pt;
            padding-bottom: 4pt;
            font-family: "Calibri";
            line-height: 1.0791666666666666;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 14pt;
            color: #000000;
            font-weight: 700;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Calibri";
            line-height: 1.0791666666666666;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 2pt;
            font-family: "Calibri";
            line-height: 1.0791666666666666;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 11pt;
            color: #000000;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 2pt;
            font-family: "Calibri";
            line-height: 1.0791666666666666;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 2pt;
            font-family: "Calibri";
            line-height: 1.0791666666666666;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
    </style>
</head>

<body class="c20 doc-content">


            <div style="margin-top: -100px;">
            <img 
                src="https://www.allianz.com/content/dam/onemarketing/system/AZ_Logo_Twitter_438x220px.png"
                style="height: 100px; width: 200px; float: right";
            />
            </div>

            <div>
                    <p class="c2" style="padding-top: 100px;"><span class="c4">Allianz Commercial - United States</span></p>
                    <p class="c2"><span class="c4">Privacy and Security Statement </span></p>
                    <p class="c2"><span class="c0">This Privacy Statement describes how Allianz Global Risk U.S. and its subsidiaries
                            (&ldquo;Allianz Commercial&rdquo;, &ldquo;we&rdquo;, &ldquo;our&rdquo;, &ldquo;us&rdquo;), collects, uses,
                            and safeguards information that identifies, describes, or is reasonably capable of being associated with you
                            (your &ldquo;personal information&rdquo;) when you visit our websites, utilize our mobile applications (our
                            &ldquo;Sites&rdquo;), or purchase any of our products or services (the &ldquo;Services&rdquo;). &nbsp;This
                            Privacy Statement does not apply to any sites, applications, or services that are not directly offered by
                            Allianz Commercial, even if you access such sites, applications, or services via our Services. &nbsp;
                        </span></p>
                    <p class="c2"><span class="c4">Personal Information We Collect </span></p>
                    <p class="c2"><span class="c0">Allianz Commercial lawfully collects your personal information for the purpose of
                            running our business. &nbsp;Personal information does not include publicly available information, such as
                            information we reasonably believe you have made available to the general public or is otherwise not
                            restricted to a specific audience, nor does it include deidentified or aggregated information. &nbsp;Due to
                            the nature of our business, some personal information we collect is considered sensitive personal
                            information under law, such as social security numbers, driver&#39;s license and passport numbers, account
                            numbers and credentials, or health information. </span></p><a
                        id="t.0db2cb1bcde772134f95115b72c443300b4c3eca"></a><a id="t.0"></a>
                    <table class="c12">
                        <tr class="c3">
                            <td class="c10" colspan="1" rowspan="1">
                                <p class="c7"><span class="c4">Categories of Information Collected </span></p>
                            </td>
                            <td class="c5" colspan="1" rowspan="1">
                                <p class="c7"><span class="c4">Types of Information Collected</span></p>
                                <p class="c7 c14"><span class="c4"></span></p>
                                <p class="c7 c14"><span class="c4"></span></p>
                            </td>
                        </tr>
                        <tr class="c3">
                            <td class="c10" colspan="1" rowspan="1">
                                <p class="c7"><span class="c0">Contact information and other identifiers</span></p>
                            </td>
                            <td class="c5" colspan="1" rowspan="1">
                                <p class="c7"><span class="c0">Name, address, email address, phone number, driver&rsquo;s license
                                        number, social security number, or other government-issued identifiers.</span></p>
                                <p class="c7 c14"><span class="c0"></span></p>
                            </td>
                        </tr>
                        <tr class="c3">
                            <td class="c10" colspan="1" rowspan="1">
                                <p class="c7"><span class="c0">Customer records, account information</span></p>
                            </td>
                            <td class="c5" colspan="1" rowspan="1">
                                <p class="c7"><span class="c0">Information you provide to obtain insurance or register an account on our
                                        website or mobile app, such as email address, user IDs, and passwords used on your
                                        account.</span></p>
                                <p class="c7 c14"><span class="c0"></span></p>
                            </td>
                        </tr>
                        <tr class="c3">
                            <td class="c10" colspan="1" rowspan="1">
                                <p class="c7"><span class="c0">Policy or claims information</span></p>
                            </td>
                            <td class="c5" colspan="1" rowspan="1">
                                <p class="c7"><span class="c0">Information about the type of policy or coverage you have or information
                                        provided in the course of filing a claim, which may include sensitive personal information such
                                        as medical or health information.</span></p>
                                <p class="c7 c14"><span class="c0"></span></p>
                            </td>
                        </tr>
                        <tr class="c3">
                            <td class="c10" colspan="1" rowspan="1">
                                <p class="c7"><span class="c0">Commercial information</span></p>
                            </td>
                            <td class="c5" colspan="1" rowspan="1">
                                <p class="c7"><span class="c0">Information about your transactions with us, including payment
                                        information, information you communicate to us via the Site or through our customer service
                                        center, or any other information you provide to the company.</span></p>
                                <p class="c7 c14"><span class="c0"></span></p>
                            </td>
                        </tr>
                        <tr class="c3">
                            <td class="c10" colspan="1" rowspan="1">
                                <p class="c7"><span class="c0">Employment-Related Information</span></p>
                            </td>
                            <td class="c5" colspan="1" rowspan="1">
                                <p class="c7"><span class="c0">Employment history, qualifications, licensing, and disciplinary
                                        record.</span></p>
                            </td>
                        </tr>
                    </table>
                    <p class="c2 c14"><span class="c4"></span></p>
                    <p class="c2"><span class="c4">Sources of Personal Information We Collect</span></p>
                    <p class="c2"><span class="c0">We collect personal information from the following sources: </span></p>
                    <ul class="c9 lst-kix_list_6-0 start">
                        <li class="c1 li-bullet-0"><span class="c0">information you provide directly (most common);</span></li>
                        <li class="c1 li-bullet-0"><span class="c0">information obtained from third parties, such as insurance agents or
                                brokers, or service providers, such as credit reporting bureaus, third party administrators,
                                etc.;</span></li>
                        <li class="c2 c8 li-bullet-0"><span class="c0">information from our corporate policyholders, which may include
                                information about their employees.</span></li>
                    </ul>
                    <p class="c2 c14"><span class="c4"></span></p>
            </div>
            <div style="padding-top: 125px;">
                <p style="font-size: 14px;"><span>PVCYV5C 01 24 CA</span> <span style="padding-left: 300px;">Page 1 of 5</span></p>
            </div>




        <div style="padding-top: 50px;">
            <img 
                src="https://www.allianz.com/content/dam/onemarketing/system/AZ_Logo_Twitter_438x220px.png"
                style="height: 100px; width: 200px; float: right";
            />
        </div>

        <div style="padding-top: 100px;">
            <p class="c2"><span class="c4">How We Use Personal Information</span></p>
            <p class="c2"><span class="c0">We use personal information we collect for the following purposes: </span></p>
            <ul class="c9 lst-kix_list_7-0 start">
                <li class="c1 li-bullet-0"><span class="c0">to provide you with products and services; </span></li>
                <li class="c1 li-bullet-0"><span class="c0">to communicate with you about your coverage or claim; </span></li>
                <li class="c1 li-bullet-0"><span class="c0">to market or advertise products that may be of interest to
                        you;</span></li>
                <li class="c1 li-bullet-0"><span class="c0">to evaluate and improve our products and services; </span></li>
                <li class="c1 li-bullet-0"><span class="c0">to inform analytics modeling to support our business;</span></li>
                <li class="c1 li-bullet-0"><span class="c0">to prevent fraud and enhance security; </span></li>
                <li class="c2 c8 li-bullet-0"><span class="c0">to operate our business, meet legal or regulatory requirements,
                        or other operational and business purposes.</span></li>
            </ul>
            <p class="c2"><span class="c4">How We Disclose Personal Information &nbsp;</span></p>
            <p class="c2"><span class="c0">Allianz Commercial has disclosed the following categories of personal information in
                    the preceding 12 months: Contact information and other identifiers; customer records, account information;
                    policy or claims information; commercial information; technical and other electronic data such as IP address
                    or device ID; and employment-related information.</span></p>
            <p class="c2"><span class="c0">Allianz Commercial does not disclose personal or sensitive personal information about
                    current or former customers to third parties, except as required or permitted by law for business purposes.
                    &nbsp;We may disclose personal information we collect to the following third parties: </span></p>
            <ul class="c9 lst-kix_list_4-0 start">
                <li class="c1 li-bullet-0"><span class="c0">Agents and brokers to allow them to perform their normal insurance
                        related services for you;</span></li>
                <li class="c1 li-bullet-0"><span class="c0">Consumer reporting agencies to determine eligibility for coverage or
                        to process your requested transaction;</span></li>
                <li class="c1 li-bullet-0"><span class="c0">Third parties that help us carry out our insurance operations,
                        including fraud detection and actuarial research;</span></li>
                <li class="c1 li-bullet-0"><span class="c0">Third parties whose only use of the information will be in
                        connection with the marketing of a product or service, and which have agreed not to further use or
                        disclose that information except in connection with the marketing of a product or service;</span></li>
                <li class="c1 li-bullet-0"><span class="c0">Medical professionals and other advisors or consultants for the
                        purpose of, and only to the extent necessary for, verifying insurance coverage or benefits or conducting
                        operations or services audit;</span></li>
                <li class="c1 li-bullet-0"><span class="c0">Insurance regulatory authorities;</span></li>
                <li class="c1 li-bullet-0"><span class="c0">Law enforcement, the judiciary, or other government regulatory
                        authority as required by law;</span></li>
                <li class="c1 li-bullet-0"><span class="c0">Affiliates in connection with an audit of our or your agent&rsquo;s
                        operations, or the marketing of an insurance product or service, provided the affiliate agrees not to
                        disclose the information for any other purpose ;</span></li>
                <li class="c2 c8 li-bullet-0"><span class="c0">Group policyholders for the purpose of reporting claims
                        experience or conducting an audit of our or your agent&rsquo;s operations. </span></li>
            </ul>
            <p class="c2"><span class="c0">We require nonaffiliated third parties to whom we legally provide your personal
                    information to take appropriate measures to protect such data and impose contractual obligations on service
                    providers, contractors, and third parties to that end. We make every effort to use vendors whose approach to
                    consumer privacy reflects our own.</span></p>
            <p class="c2"><span class="c0">California privacy laws define a &ldquo;sale&rdquo; of personal information as
                    disclosing or making available personal information to a third-party in exchange for monetary or other
                    valuable consideration, and &ldquo;sharing&rdquo; personal information as disclosing or making available
                    personal information to a third-party for purposes of cross-contextual behavioral advertising.</span></p>
            <p class="c2"><span class="c0">While we do not sell your personal information to third parties, we do share personal
                    information collected when you visit our website, such as online identifiers and usage data, with third
                    parties for advertising purposes. &nbsp;We do not sell or share &ldquo;sensitive personal
                    information,&rdquo; nor do we knowingly sell or share any personal information about individuals under
                    sixteen (16) years old.</span></p>
        </div>

        <div style="padding-top: 125px;">
                <p style="font-size: 14px;"><span>PVCYV5C 01 24 CA</span> <span style="padding-left: 300px;">Page 2 of 5</span></p>
        </div>






        <div style="padding-top: 50px;">
            <img 
                src="https://www.allianz.com/content/dam/onemarketing/system/AZ_Logo_Twitter_438x220px.png"
                style="height: 100px; width: 200px; float: right";
            />
        </div>
        <div style="padding-top: 100px;">
                <p class="c2"><span class="c4">Your Rights Regarding Your Personal or Sensitive Personal Information</span></p>
                <p class="c2"><span class="c0">Depending on your state of residence, you may have a number of rights with respect to
                        your personal information, which you may exercise with us free of charge. They include:</span></p>
                <ul class="c9 lst-kix_list_5-0 start">
                    <li class="c1 li-bullet-0"><span class="c4">Right to delete your personal or sensitive personal
                            information</span><span class="c0">. &nbsp;Subject to certain exceptions (e.g., in order to complete a
                            transaction or to comply with a legal or regulatory requirement), you have the right to request that we
                            delete personal information that we have collected about you from our records. &nbsp;If we are unable or
                            not required to delete it, we will let you know why.</span></li>
                    <li class="c1 li-bullet-0"><span class="c4">Right to request correction of your personal or sensitive personal
                            information</span><span class="c0">. &nbsp;You have the right to request that we correct or amend any
                            inaccurate personal information you believe we maintain about you. &nbsp;We will investigate and use
                            commercially reasonable efforts to correct inaccurate information. </span></li>
                    <li class="c1 li-bullet-0"><span class="c4">Right to know and access personal information we collect about
                            you</span><span class="c0">. &nbsp;You have the right to request from us (no more than twice per year
                            and in accordance with applicable legal exceptions) information about the personal information we have
                            collected about you, including sensitive personal information. &nbsp;Once we verify your request, we
                            will deliver a copy of your personal or sensitive personal information to you by mail or electronically
                            in a readily useable format (if possible) free of charge.</span></li>
                    <li class="c1 li-bullet-0"><span class="c4">Right to limit our use and disclosure of your sensitive personal
                            information</span><span class="c0">. You have the right to limit the use and disclosure of your
                            sensitive personal information only to uses that are necessary for us to conduct our business. &nbsp;We
                            already do not use sensitive personal information for any other purpose.</span></li>
                    <li class="c2 c8 li-bullet-0"><span class="c4">Right against retaliation or discrimination for exercising
                            rights</span><span class="c0">. &nbsp;You have the right to not be retaliated against by us because you
                            exercised any of your rights under law. We will not discriminate against you for exercising any of the
                            rights described in this section.</span></li>
                </ul>
                <p class="c2"><span class="c11">If you or your authorized agent wish to make any of the above requests regarding
                        your personal or sensitive personal information, please complete the Privacy Request Form and submit it to
                        us via email at </span><span class="c16 c11"><a class="c15"
                            href="mailto:privacyrequests@agcs.allianz.com">privacyrequests@agcs.allianz.com</a></span><span
                        class="c0">. &nbsp;</span></p>
                <p class="c2"><span class="c0">Alternatively, you may contact us via toll-free number 1-800-807-8810 and request
                        that we send you a copy of the Privacy Request Form via postal mail. Be prepared to provide documentation of
                        your full name and address, a description of what right you wish to exercise, and the information to which
                        your request relates. &nbsp;You may mail the completed form to us at the address provided or scan and return
                        via the email address listed above. &nbsp;Please note that once we have reviewed the information you have
                        provided, we may need to contact you for additional information to process your request. &nbsp;This is so we
                        may verify your identity in order to protect you and your personal information.</span></p>
                <p class="c2"><span class="c0">We will respond to your request within 30 days. &nbsp;Please be aware that you will
                        not be given access to your information collected in connection with a claim or civil or criminal
                        proceeding. &nbsp;If medical information is contained in your file, we may request that you name a medical
                        professional to whom we will send the information.</span></p>
                <p class="c2"><span class="c0">We will confirm receipt of any of the above requests no later than 10 business days
                        after receipt and will provide information about how we will process your request, our verification process,
                        and when you should expect a response (except in circumstances where we have already granted or denied such
                        request). &nbsp;We will respond to your request within 30 days if we are able to verify your
                        identity.</span></p>
                <p class="c2"><span class="c4">Retention of Data</span></p>
                <p class="c2"><span class="c0">We will retain your personal information obtained through insurance transactions
                        while you have an account with us or while we are providing insurance services to you. &nbsp;Thereafter we
                        may retain such information for up to 10 years from the date the insurance policy or product expires, a
                        claim has been settled, or the business relationship ends, unless a longer retention period is required or
                        permitted by law. &nbsp;</span></p>
        </div>
        <div style="padding-top: 125px;">
                <p style="font-size: 14px;"><span>PVCYV5C 01 24 CA</span> <span style="padding-left: 300px;">Page 3 of 5</span></p>
        </div>






        <div style="padding-top: 50px;">
            <img 
                src="https://www.allianz.com/content/dam/onemarketing/system/AZ_Logo_Twitter_438x220px.png"
                style="height: 100px; width: 200px; float: right";
            />
        </div>
        <div style="padding-top: 100px;">
                <p class="c2"><span class="c4">Data Security </span></p>
                <p class="c2"><span class="c0">We use a variety of computer hardware and software tools to maintain physical,
                        electronic, and procedural safeguards that comply with applicable federal and state regulations to guard
                        your personal information. We restrict access to personal information only to those employees who need that
                        information to provide products or services to you.</span></p>
                <p class="c2"><span class="c0">We also ensure that our websites are secure by employing firewalls, encryption
                        technology, user authentication systems, and access control mechanisms to control access to the personal
                        information that may be shared over these sites.</span></p>
                <p class="c2"><span class="c4">No Discrimination</span></p>
                <p class="c2"><span class="c0">We will not discriminate or retaliate against you if you choose to exercise any one
                        or all of your rights. &nbsp;We will not (i) deny goods or services; (ii) charge different prices or rates
                        for goods or services; (iii) provide a different level or quality of goods or services; or (iv) suggest that
                        you will receive a different price or rate or a different level or quality of goods or services.</span></p>
                <p class="c2"><span class="c19">No Data of Children</span></p>
                <p class="c2"><span class="c0">This information is intended for general audiences and is not directed at children.
                        &nbsp;We do not knowingly collect personal information (as defined by the U.S. Children&rsquo;s Privacy
                        Protection Act, or &ldquo;COPPA&rdquo;) from children. &nbsp;We will remove the personal information we
                        inadvertently collect in accordance with COPPA.</span></p>
                <p class="c2"><span class="c4">Notification of Change</span></p>
                <p class="c2"><span class="c0">At Allianz Commercial, your trust is one of our most important assets. &nbsp;We will
                        continually work to protect the privacy of our individual customers and will regularly review our privacy
                        practices. If at some point in the future we revise our privacy practices that affect your personal or
                        sensitive personal information, we will notify you prior to introducing any changes.</span></p>
                <p class="c2"><span class="c4">For More Information </span></p>
                <p class="c2"><span class="c11">Should you have further questions regarding our privacy policy, you can contact us
                        in a number of ways. You may email us at </span><span class="c11 c16"><a class="c15"
                            href="mailto:nacorpcompliance@agcs.allianz.com">nacorpcompliance@agcs.allianz.com</a></span><span
                        class="c0">&nbsp;or you can write to us at:</span></p>
                <p class="c6"><span class="c0">Allianz Global Risks US</span></p>
                <p class="c6"><span class="c0">Corporate Compliance Department</span></p>
                <p class="c6"><span class="c0">225 W. Washington Street, Suite 1800</span></p>
                <p class="c6"><span class="c0">Chicago, IL 60606</span></p>
                <p class="c2"><span class="c4">Allianz Commercial&rsquo;s Family of Companies</span></p>
                <p class="c2"><span class="c0">The following lists the issuing companies Allianz Commercial uses to issue insurance
                        policies nationwide:</span></p>
                <p class="c6"><span class="c0">AGCS Marine Insurance Company</span></p>
                <p class="c6"><span class="c0">Allianz Global Risks US Insurance Company</span></p>
                <p class="c6"><span class="c0">Allianz Underwriters Insurance Company</span></p>
                <p class="c6"><span class="c0">American Automobile Insurance Company</span></p>
                <p class="c6"><span class="c0">Chicago Insurance Company</span></p>
        </div>
        <div style="padding-top: 150px;">
                <p style="font-size: 14px;"><span>PVCYV5C 01 24 CA</span> <span style="padding-left: 300px;">Page 4 of 5</span></p>
        </div>




        <div style="padding-top: 50px;">
            <img 
                src="https://www.allianz.com/content/dam/onemarketing/system/AZ_Logo_Twitter_438x220px.png"
                style="height: 100px; width: 200px; float: right";
            />
        </div>
        <div style="padding-top: 100px;">
            <p class="c6"><span class="c0">Fireman&rsquo;s Fund Insurance Company</span></p>
            <p class="c6"><span class="c0">Fireman&rsquo;s Fund Indemnity Corporation</span></p>
            <p class="c6"><span class="c0">Interstate Fire &amp; Casualty Company</span></p>
            <p class="c6"><span class="c0">National Surety Corporation</span></p>
            <p class="c2"><span class="c0">We will ensure the most recent version of this Privacy and Security Statement is
                    available on our website www.agcs.allianz.com.</span></p>
            <p class="c2"><span class="c0">This Privacy and Security Statement was last updated on 10/01/2023.</span></p>
        </div>
        <div style="padding-top: 725px;">
                <p style="font-size: 14px;"><span>PVCYV5C 01 24 CA</span> <span style="padding-left: 300px;">Page 5 of 5</span></p>
        </div>
</body>

</html>