<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <style type="text/css">
        .lst-kix_list_1-3>li:before {
            content: "\002022 "
        }

        .lst-kix_list_1-4>li:before {
            content: "\002022 "
        }

        ul.lst-kix_list_1-0 {
            list-style-type: none
        }

        .lst-kix_list_1-7>li:before {
            content: "\002022 "
        }

        .lst-kix_list_1-5>li:before {
            content: "\002022 "
        }

        .lst-kix_list_1-6>li:before {
            content: "\002022 "
        }

        li.li-bullet-0:before {
            margin-left: -18pt;
            white-space: nowrap;
            display: inline-block;
            min-width: 18pt
        }

        ul.lst-kix_list_1-3 {
            list-style-type: none
        }

        .lst-kix_list_1-0>li:before {
            content: "\0025cf "
        }

        ul.lst-kix_list_1-4 {
            list-style-type: none
        }

        .lst-kix_list_1-8>li:before {
            content: "\002022 "
        }

        ul.lst-kix_list_1-1 {
            list-style-type: none
        }

        ul.lst-kix_list_1-2 {
            list-style-type: none
        }

        ul.lst-kix_list_1-7 {
            list-style-type: none
        }

        .lst-kix_list_1-1>li:before {
            content: "\002022 "
        }

        .lst-kix_list_1-2>li:before {
            content: "\002022 "
        }

        ul.lst-kix_list_1-8 {
            list-style-type: none
        }

        ul.lst-kix_list_1-5 {
            list-style-type: none
        }

        ul.lst-kix_list_1-6 {
            list-style-type: none
        }

        ol {
            margin: 0;
            padding: 0
        }

        table td,
        table th {
            padding: 0
        }

        .c2 {
            -webkit-text-decoration-skip:
                none;
            color: #0000ff;
            font-weight: 400;
            text-decoration: underline;
            vertical-align: baseline;
            text-decoration-skip-ink: none;
            font-size: 10pt;
            font-family: "Arial";
            font-style: normal
        }

        .c21 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 9pt;
            font-family: "Arial";
            font-style: normal
        }

        .c13 {
            color:
                #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align:
                baseline;
            font-size: 10pt;
            font-family: "Arial";
            font-style: italic
        }

        .c1 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align:
                baseline;
            font-size: 10pt;
            font-family: "Arial";
            font-style: normal
        }

        .c25 {
            margin-left: 59.5pt;
            padding-top: 0pt;
            padding-left: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left;
            margin-right:
                12.3pt
        }

        .c7 {
            margin-left: 59.5pt;
            padding-top: 0pt;
            padding-left: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left;
            margin-right:
                25.1pt
        }

        .c39 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times New Roman";
            font-style: normal
        }

        .c36 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Arial";
            font-style: normal
        }

        .c4 {
            margin-left: 59.5pt;
            padding-top: 0pt;
            padding-left: 0pt;
            padding-bottom: 0pt;
            line-height:
                1.0;
            text-align: left;
            margin-right: 10.7pt
        }

        .c17 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 10pt;
            font-family: "Arial";
            font-style: normal
        }

        .c23 {
            margin-left: 59.5pt;
            padding-top: 0pt;
            padding-left: 0pt;
            padding-bottom:
                0pt;
            line-height: 1.0;
            text-align: left;
            margin-right: 9pt
        }

        .c38 {
            color:
                #0000ff;
            font-weight: 400;
            text-decoration: none;
            vertical-align:
                baseline;
            font-size: 10pt;
            font-family: "Arial";
            font-style: normal
        }

        .c26 {
            margin-left: 5.6pt;
            padding-top: 0.1pt;
            padding-bottom: 0pt;
            line-height: 0.9791666666666666;
            text-align: left;
            margin-right: 14.2pt
        }

        .c30 {
            margin-left: 5.5pt;
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left;
            margin-right: 4.7pt
        }

        .c35 {
            margin-left: 5.6pt;
            padding-top: 3.4pt;
            padding-bottom: 0pt;
            line-height:
                1.0;
            text-align: left;
            margin-right: 262pt
        }

        .c20 {
            margin-left: 5.5pt;
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left;
            margin-right: 7.2pt
        }

        .c0 {
            margin-left: 5.5pt;
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left;
            margin-right:
                9.9pt
        }

        .c10 {
            margin-left: 5.6pt;
            padding-top: 11.4pt;
            padding-bottom:
                0pt;
            line-height: 1.0;
            text-align: left;
            margin-right: 9.9pt
        }

        .c6 {
            margin-left: 5.5pt;
            padding-top: 0.5pt;
            padding-bottom: 0pt;
            line-height:
                1.0;
            text-align: left
        }

        .c29 {
            margin-left: 5.6pt;
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0416666666666667;
            text-align: left
        }

        .c32 {
            margin-left: 5.6pt;
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 0.9458333333333333;
            text-align: left
        }

        .c34 {
            margin-left:
                5.5pt;
            padding-top: 0.1pt;
            padding-bottom: 0pt;
            line-height:
                0.9541666666666666;
            text-align: left
        }

        .c28 {
            margin-left: 5.5pt;
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 0.9541666666666666;
            text-align: left
        }

        .c11 {
            margin-left: 5.6pt;
            padding-top: 0.1pt;
            padding-bottom: 0pt;
            line-height: 0.9583333333333334;
            text-align: left
        }

        .c37 {
            margin-left: 5.5pt;
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c9 {
            padding-top: 0.1pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left;
            height: 11pt
        }

        .c27 {
            padding-top: 0.6pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left;
            height: 11pt
        }

        .c5 {
            padding-top: 0.5pt;
            padding-bottom:
                0pt;
            line-height: 1.0;
            text-align: left;
            height: 11pt
        }

        .c3 {
            margin-left:
                4.5pt;
            padding-top: 0.5pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c19 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left;
            height: 11pt
        }

        .c18 {
            margin-left:
                5.6pt;
            padding-top: 9.2pt;
            padding-bottom: 0pt;
            line-height: 1.05;
            text-align: left
        }

        .c42 {
            padding-top: 0.2pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left;
            height: 11pt
        }

        .c15 {
            margin-left:
                5.6pt;
            padding-top: 0.6pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c24 {
            margin-left: 5.6pt;
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c14 {
            padding-top: 0.4pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align:
                left;
            height: 11pt
        }

        .c16 {
            margin-left: 5.6pt;
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 0.9583333333333334;
            text-align: left
        }

        .c22 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: center
        }

        .c40 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c8 {
            background-color: #ffffff;
            padding: 50pt;
        }

        .c31 {
            padding: 0;
            margin: 0
        }

        .c12 {
            color: inherit;
            text-decoration: inherit
        }

        .c33 {
            margin-right: 4.7pt
        }

        .c41 {
            margin-right: 5.2pt
        }

        .title {
            padding-top:
                3.4pt;
            color: #000000;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom:
                0pt;
            font-family: "Times New Roman";
            line-height: 1.0;
            text-align: left
        }

        .subtitle {
            padding-top: 18pt;
            color: #666666;
            font-size: 24pt;
            padding-bottom: 4pt;
            font-family: "Georgia";
            line-height: 1.0;
            page-break-after: avoid;
            font-style: italic;
            text-align: left
        }

        .page {
            min-height: 99%;
            max-height: 99%;
        }

        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Times New Roman"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Times New Roman"
        }

        h1 {
            padding-top: 0pt;
            color: #000000;
            font-weight: 700;
            font-size:
                11pt;
            padding-bottom: 0pt;
            font-family: "Times New Roman";
            line-height:
                1.0416666666666667;
            text-align: left
        }

        h2 {
            padding-top: 0pt;
            color:
                #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 0pt;
            font-family: "Times New Roman";
            line-height: 0.9583333333333334;
            font-style: italic;
            text-align: left
        }

        h3 {
            padding-top: 14pt;
            color:
                #000000;
            font-weight: 700;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Times New Roman";
            line-height: 1.0;
            page-break-after: avoid;
            text-align: left
        }

        h4 {
            padding-top: 12pt;
            color: #000000;
            font-weight:
                700;
            font-size: 12pt;
            padding-bottom: 2pt;
            font-family: "Times New Roman";
            line-height: 1.0;
            page-break-after: avoid;
            text-align: left
        }

        h5 {
            padding-top: 11pt;
            color: #000000;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 2pt;
            font-family: "Times New Roman";
            line-height: 1.0;
            page-break-after: avoid;
            text-align: left
        }

        h6 {
            padding-top: 10pt;
            color:
                #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 2pt;
            font-family: "Times New Roman";
            line-height: 1.0;
            page-break-after: avoid;
            text-align: left
        }
    </style>
</head>

<body class="c8 doc-content">

    <div class="page">
        <div>
            <p class="c19"><span class="c39"></span></p>
        </div>


        <div>
            <p class="c35 title"><span class="c36">Allianz Global Risks US Insurance
                Companies Privacy and Security Statement</span></p>
            <p class="c10"><span class="c1">Protecting you and your family from loss is
                    important to Allianz Global Risks US. Just as important to us is
                    protecting your privacy and the personal information we use to provide
                    you with superior products and service.</span></p>
            <p class="c27"><span class="c1"></span></p>
            <p class="c0"><span class="c1">At Allianz Global Risks US, and its
                    subsidiaries, our policy is to maintain appropriate confidentiality with
                    regard to all personal information obtained in the course of doing
                    business with you. Our pledge to protect your privacy is reflected in
                    this Privacy Statement which outlines our principles in collecting,
                    using and safeguarding your personal information and information about
                    your relationship with us.</span></p>
            <p class="c9"><span class="c1"></span></p>
            <h2 class="c28"><span class="c13">Personal Information Allianz Global Risks
                    US Collects</span></h2>
            <p class="c0"><span class="c1">Allianz Global Risks US only collects
                    personal information about you when it is necessary to conduct the
                    business of insurance. We limit the collection of personal information
                    to what we reasonably believe is needed to administer your account. As a
                    result, we collect personal information from the following sources:</span></p>
            <ul class="c31 lst-kix_list_1-0 start">
                <li class="c4 li-bullet-0"><span class="c1">Personal information you share
                        with us either directly or through your agent, such as the information
                        on your insurance application, requested policy change information or
                        other forms you may complete.</span></li>
                <li class="c7 li-bullet-0"><span class="c1">Personal information you
                        provide or which is obtained through the process of handling a claim,
                        including medical information, such as from an accident report.</span></li>
                <li class="c25 li-bullet-0"><span class="c1">Personal information about
                        you from your transactions with us, our affiliates or others such as
                        the number of years you have been a policyholder with Allianz Global
                        Risks US or the types of coverage you purchase.</span></li>
                <li class="c23 li-bullet-0"><span class="c1">Personal information about
                        you from a consumer reporting agency, such as a credit report or a
                        Motor Vehicle Report.</span></li>
            </ul>
            <p class="c14"><span class="c1"></span></p>
            <p class="c30"><span class="c1">If you visit or use the Allianz Global Risks
                    US website, or one of our subsidiaries, we may use &ldquo;cookies&rdquo;
                    (small text files transferred from our website to your hard drive) to
                    recognize repeat users, track usage and facilitate your access to and
                    use of the site. We do not use &ldquo;cookies&rdquo; to gather personal
                    information, and we do not link cookies to identifiable information,
                    such as your policy number. The &ldquo;cookies&rdquo; only enable you to
                    use our website more easily.</span></p>
            <p class="c9"><span class="c1"></span></p>
            <h2 class="c34"><span class="c13">Personal Information Allianz Global Risks
                    US Discloses</span></h2>
            <p class="c30"><span class="c1">Allianz Global Risks US does not disclose
                    any personal information about current or former customers to anyone,
                    except as permitted by law.</span></p>
            <p class="c5"><span class="c1"></span></p>
            <p class="c24"><span class="c1">When possible, we advise our vendors and
                    other nonaffiliated third parties, to whom we legally provide your
                    personal information in the course of conducting our insurance business,
                    of our privacy policy. We make every effort to use vendors whose
                    approach to customer privacy reflects our own.</span></p>
            <p class="c9"><span class="c1"></span></p>
            <h2 class="c16"><span class="c13">Allianz Global Risks US&rsquo;s Policies
                    and Practices with Respect to Security of Personal Information</span></h2>
            <p class="c20"><span class="c1">Allianz Global Risks US uses a variety of
                    computer hardware and software tools to maintain physical, electronic
                    and procedural safeguards that comply with applicable federal and state
                    regulations to guard your personal information. We restrict access to
                    personal information about you to only those employees who need that
                    information to provide products or services to you.</span></p>
            <p class="c14"><span class="c1"></span></p>
            <p class="c37"><span class="c1">Allianz Global Risks US, and its
                    subsidiaries, also works hard to ensure that our websites are secure. We
                    employ firewalls, encryption technology, user authentication systems and
                    access control mechanisms to control access to the personal information
                    that may be shared over these sites.</span>
            </p>
        </div>
    </div>
    
    <div>
        <p style="padding-bottom: 10px; font-size: 14px;"><span>AGCS-AK PRIVACY NOTICE 02 23</span> <span style="padding-left: 300px; padding-bottom: 10px;">Page 1 of 2</span></p>
        <p style="justify-content: center; text-align: center; font-size: 13px;">Copyright © 2021 Allianz Global Risks US Insurance Company. All rights reserved.</p>
    </div>

    <div class="page">
        <div style="padding-top: 75px;">
        <p class="c9"><span class="c1"></span></p>
        <h2 class="c11"><span class="c13">Your Ability to Access and Correct Your
                Personal Information</span></h2>
        <p class="c0"><span class="c1">If you wish to review your personal
                information, please write to the address below. Provide your full name,
                address and policy number(s). For your protection, please have your
                request notarized. This will ensure the identity of the person
                requesting the information.</span></p>
        <p class="c5"><span class="c1"></span></p>
        <p class="c37 c41"><span class="c1">Within 30 working days, you may see and
                copy your information in person. If you prefer, we will send you a copy
                of your information. You will not be given access to your information
                collected or in connection with a claim, or a civil or criminal
                proceeding. If medical information is contained in your file, we may
                request that you name a medical professional to whom we will send the
                information.</span></p>
        <p class="c19"><span class="c1"></span></p>
        <p class="c0"><span class="c1">If you believe any of your information is
                incorrect, within 30 working days of notify us in writing, we will let
                you know if our review has resulted in a correction of your information.
                If we do not believe there is an error, you may file a statement
                disputing the information. We will attach the statement to your file. We
                will send any corrections we make, or your statement, to anyone we
                shared your information with over the past two years. And to anyone who
                may receive your information from us in the future. We do not control
                the information about you obtained from a consumer reporting agency or a
                Department of Motor Vehicle. We will provide you with the names and
                addresses of these agencies so that you can contact them directly.</span></p>
        <p class="c9"><span class="c1"></span></p>
        <h2 class="c16"><span class="c13">Notification of Change</span></h2>
        <p class="c24 c33"><span class="c1">At Allianz Global Risks US, your trust
                is one of our most important assets. We will continually work to protect
                the privacy of our individual customers and will continually review our
                privacy policy. If at some point in the future we revise our privacy
                practices that affect your personal information, we will notify you
                prior to introducing any changes. This Privacy Statement is also
                displayed on our website. (</span><span class="c2">http</span><span class="c2"><a class="c12"
                    href="https://www.google.com/url?q=http://www.agcs.allianz.com/global-offices/united-states/)&amp;sa=D&amp;source=editors&amp;ust=1704632751949133&amp;usg=AOvVaw1Y9nVwivwE18iIDIr5Fq2L">s://www.ag</a></span><span
                class="c2">cs.</span><span class="c2"><a class="c12"
                    href="https://www.google.com/url?q=http://www.agcs.allianz.com/global-offices/united-states/)&amp;sa=D&amp;source=editors&amp;ust=1704632751949470&amp;usg=AOvVaw0d2PEWV9DKn0J26LYYc-5Y">allian</a></span><span
                class="c2">z</span><span class="c2"><a class="c12"
                    href="https://www.google.com/url?q=http://www.agcs.allianz.com/global-offices/united-states/)&amp;sa=D&amp;source=editors&amp;ust=1704632751949678&amp;usg=AOvVaw32WcLVE5gZPLnYCp_dG0VP">.com/global-offices/united-states/</a></span><span
                class="c1"><a class="c12"
                    href="https://www.google.com/url?q=http://www.agcs.allianz.com/global-offices/united-states/)&amp;sa=D&amp;source=editors&amp;ust=1704632751949826&amp;usg=AOvVaw0lVnn-1rYBDRGXiI4cS6rD">)</a></span>
        </p>
        <h1 class="c18"><span class="c17">For More Information or if You have
                Questions</span></h1>
        <p class="c26"><span class="c1">Should you have further questions regarding
                our privacy policy, you can contact us in a number of ways. You may
                email us at
            </span><span class="c2"><a class="c12"
                    href="mailto:nacorpcompliance@agcs.allianz.com">nacorpcompliance@agcs.allianz.com</a></span><span
                class="c38">&nbsp;</span><span class="c1">or you can write to us at:</span></p>
        <p class="c9"><span class="c1"></span></p>
        <p class="c24"><span class="c17">Allianz Global Risks US</span></p>
        <p class="c15"><span class="c1">Corporate Compliance Department</span></p>
        <p class="c6"><span class="c1">225 W. Washington Street, Suite 1800</span></p>
        <p class="c15"><span class="c1">Chicago, IL 60606</span></p>
        <p class="c19"><span class="c1"></span></p>
        <p class="c42"><span class="c1"></span></p>
        <h1 class="c29"><span class="c17">Allianz Global Risks US&rsquo;s Family of
                Companies</span></h1>
        <p class="c32"><span class="c1">The following lists the issuing companies
                Allianz Global Risks US uses to issue insurance policies nationwide:</span></p>
        <p class="c5"><span class="c1"></span></p>
        <p class="c3"><span class="c1">AGCS Marine Insurance Company</span></p>
        <p class="c3"><span class="c1">Allianz Global Risks US Insurance Company</span></p>
        <p class="c3"><span class="c1">Allianz Underwriters Insurance Company</span></p>
        <p class="c3"><span class="c1">American Automobile Insurance Company</span></p>
        <p class="c3"><span class="c1">Chicago Insurance Company</span></p>
        <p class="c3"><span class="c1">Fireman&rsquo;s Fund Insurance Company</span></p>
        <p class="c3"><span class="c1">Fireman&rsquo;s Fund Indemnity Corporation</span></p>
        <p class="c3"><span class="c1">Interstate Fire &amp; Casualty Company</span></p>
        <p class="c3"><span class="c1">National Surety Corporation</span></p>
    </div>
    </div>
    

    <div style="margin-top: -100px;">
        <p style="padding-bottom: 10px; font-size: 14px;"><span>AGCS-AK PRIVACY NOTICE 02 23</span> <span style="padding-left: 300px; padding-bottom: 10px;">Page 2 of 2</span></p>
        <p style="justify-content: center; text-align: center; font-size: 13px;">Copyright © 2021 Allianz Global Risks US Insurance Company. All rights reserved.</p>
    </div>


    
</body>

</html>