<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Articles Policy</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 25px;
            line-height: 1.2em;
        }

        @page {
            padding-top: 100px;
            padding-bottom: 25px;
            margin-bottom: 25px;
            margin-top: 50px;
        }

        .container {
            width: 95%;
            padding: 10px;
        }

        .heading {
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            justify-content: center;
            padding-bottom: 20px;
        }

        .section {
            margin-bottom: 20px;
        }

        .section-title {
            font-weight: bold;
            font-size: 1.1em;
            margin-bottom: 10px;
        }

        .content {
            font-weight: bold;
            display: block;
            padding-bottom: 150px;
            ;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="section">
            
            <div class="heading">RHODE ISLAND SURPLUS LINES NOTICE
            </div>

            <div class="content">
"NOTICE<br>
THIS INSURANCE CONTRACT HAS BEEN PLACED WITH AN INSURER NOT LICENSED
TO DO BUSINESS IN THE STATE OF RHODE ILSAND BUT APPROVED AS A SURPLUS
LINES INSURER. THE INSURER IS NOT A MEMBER OF THE RHODE ISLAND INSURERS
INSOLVENCY FUND. SHOULD THE INSURER BECOME INSOLVENT, THE PROTECTION
AND BENEFITS OF THE RHODE ISLAND INSURERS INSOLVENT FUND ARE NOT
AVAILABLE.”
            </div>

    </div>
</body>

</html>