<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Articles Policy</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 25px;
            line-height: 1.2em;
        }

        @page {
            padding-top: 100px;
            padding-bottom: 25px;
            margin-bottom: 25px;
            margin-top: 50px;
        }

        .container {
            width: 95%;
            padding: 10px;
        }

        .heading {
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            justify-content: center;
            padding-bottom: 20px;
        }

        .section {
            margin-bottom: 20px;
        }

        .section-title {
            font-weight: bold;
            font-size: 1.1em;
            margin-bottom: 10px;
        }

        .content {
            font-weight: bold;
            display: block;
            padding-bottom: 25px;
            ;
        }
        .multiline{
            line-height: 2em;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="section">
            
            <div class="heading">UTAH SURPLUS LINES NOTICE
            </div>

            <div class="content">
“The insurer issuing this policy does not hold a certificate of authority to do business in this state
and thus is not fully subject to regulation by the Utah insurance commissioner. This policy receives
no protection from any of the guaranty associations created under Title 31A, Chapter 28.”
            </div>
            <div class="multiline">
                surplus lines document must show:
                <br>
                description/location of subject of insurance:
                <br>
                coverage/conditions/terms of insurance
                <br>
                premium/rate charged, premium taxes to be collected from insureds
                <br>
                name and address of: insured, insurer, insurance agent who obtained surplus line coverage
                
            </div>

    </div>
</body>

</html>