<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Articles Policy</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 25px;
            line-height: 1.2em;
        }

        @page {
            padding-top: 100px;
            padding-bottom: 25px;
            margin-bottom: 25px;
            margin-top: 50px;
        }

        .container {
            width: 95%;
            padding: 10px;
        }

        .heading {
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            justify-content: center;
            padding-bottom: 20px;
        }

        .section {
            margin-bottom: 20px;
        }

        .section-title {
            font-weight: bold;
            font-size: 1.1em;
            margin-bottom: 10px;
        }

        .content {
            font-weight: bold;
            display: block;
            padding-bottom: 150px;
            ;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="section">
            
            <div class="heading">WEST VIRGINIA SURPLUS LINES NOTICE
            </div>

            <div class="content">
"Notice:<br>
1. An insurer that is not licensed in this state is issuing the insurance
policy that you have applied to purchase. These companies are
called “nonadmitted” or “surplus lines” insurers.<br>
2. The insurer is not subject to the financial solvency regulation and
enforcement that applied to licensed insurers in this state.<br>
3. These insurers generally do not participate in the insurance
guaranty funds created by state law. These guaranty funds will not
pay your claims or protect your assets if the insurer becomes
insolvent and is unable to make payments as promised.<br>
4. Some states maintain lists of approved or eligible surplus lines
insurers and surplus lines brokers may use only insurers on the lists.
Some states issue orders that particular surplus lines insurers
cannot be used.<br>
5. For additional information about the above matters and about the
insurer, you should ask questions of your insurance agent or surplus
lines licensee. You may also contact your insurance commission
consumer help line.”<br>
<br>
THIS COMPANY IS NOT LICENSED TO DO BUSINESS IN
WEST VIRGINIA AND IS NOT SUBJECT TO THE WEST
VIRGINIA INSURANCE GUARANTY ACT.
            </div>

    </div>
</body>

</html>