<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Articles Policy</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 25px;
            line-height: 1.2em;
        }

        @page {
            padding-top: 100px;
            padding-bottom: 25px;
            margin-bottom: 25px;
            margin-top: 50px;
        }

        .container {
            width: 95%;
            padding: 10px;
        }

        .heading {
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            justify-content: center;
            padding-bottom: 20px;
        }

        .section {
            margin-bottom: 20px;
        }

        .section-title {
            font-weight: bold;
            font-size: 1.1em;
            margin-bottom: 10px;
        }

        .content {
            font-weight: bold;
            display: block;
            padding-bottom: 150px;
            ;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="section">
            
            <div class="heading">WYOMING SURPLUS LINES NOTICE
            </div>

            <div class="content">
"This insurance contract is issued pursuant to the Wyoming Nonadmitted Insurance Laws by an insurer
neither licensed by nor under the jurisdiction of the Wyoming Insurance Department. In the event of
insolvency of the surplus lines insurer, losses will not be paid by the Wyoming Insurance Guaranty
Association or the Wyoming Life and Health Insurance Guaranty Association."
            </div>

    </div>
</body>

</html>